<template>
  <div>
    <b-sidebar
      id="sidebar"
      sidebar-class="sidebar-menu"
      no-close-on-route-change
      lazy
      no-header
      width="200px"
      z-index="5"
    >
      <template v-slot:default="{ }">
        <div class="pt-5 pl-3 pr-3">
          <ul class="list-inline mt-5">
            <li v-for="(itemMenu, indexSection) in itemsMenu" :key="itemMenu.name">
              <div v-if="itemMenu.condition" class="w-100 d-block pb-4">
                <router-link
                  :to="itemMenu.link"
                  :class="selectedSection === indexSection ? 'active' : ''"
                  class="text-title d-block w-100"
                  v-on:click.native="addActiveClass(indexSection)"
                >
                  <i :class="`${itemMenu.icon} f-22 pr-3`"></i>
                  <span class="f-14">{{ itemMenu.name }}</span>
                  <div class="clearfix"></div>
                </router-link>
              </div>
            </li>
          </ul>
          <router-link :to="route('user.activities.new')">
            <Filled
              v-if="showCreate"
              color="primary"
              class="w-100"
              title="Publicar actividad"
              text="Publicar"
              @click="setActivityActive()"
            ></Filled>
          </router-link>
        </div>
      </template>
    </b-sidebar>

    <span class="button-menu" v-b-toggle.sidebar>
      <i class="lni lni-menu"></i>
    </span>
  </div>
</template>

<script>
const Filled = () => import("~m/common/button/Filled");

export default {
  name: "Menu",
  components: {
    Filled
  },
  data() {
    return {
      selectedSection: false,
      shortView: false
    };
  },
  props: {
    itemsMenu: {
      type: Array,
      default: () => []
    },
    showCreate: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    addActiveClass(indexSection) {
      this.selectedSection = indexSection;
    },
    setActivityActive() {
      const index = this.itemsMenu.findIndex(
        item => item.link == this.$routeHelper("user.activities.home")
      );
      this.selectedSection = index;
    }
  },
  created() {
    if (typeof this.$route.params.section != "undefined") {
      const index = this.itemsMenu.findIndex(
        item => item.path == this.$route.params.section
      );

      this.selectedSection = index != -1 ? index : "";
    } else {
      this.selectedSection = 0;
    }
  }
};
</script>

<style lang="scss">
.button-menu {
  font-size: 22px;
  position: fixed;
  color: $primary;
  z-index: 10;
  top: 15px;
  left: 15px;
}

.sidebar-menu {
  background: $background-light-grey !important;
  border-right: 1px solid $border;

  .open-menu {
    &:hover {
      color: $primary;
    }
  }

  li {
    a {
      height: 26px !important;
      overflow: hidden;
      span,
      i {
        float: left;
      }

      &.active {
        color: $dark;
        i {
          color: $primary;
        }
      }
    }
  }
}
</style>
