<template>
  <div>
    <Filled :disabled="disabled" text="-" @click="lessMonth" class="button"></Filled>
    <span class="counter-months">{{ months }}</span>
    <Filled :disabled="disabled" text="+" class="button" @click="addMonth"></Filled>
  </div>
</template>

<script>
const Filled = () => import("~m/common/button/Filled");

export default {
  components: {
    Filled
  },
  data() {
    return {
      low: {
        min: 2,
        max: 2
      },
      medium: {
        min: 2,
        max: 6
      },
      high: {
        min: 6,
        max: 12
      },
      months: "",
      disabled: true
    };
  },
  name: "Month",
  props: {
    publishType: {
      name: Object,
      default: () => {}
    },
    defaultMonths: {}
  },
  created() {
    this.months = this.defaultMonths || null;
    if (this.defaultMonths) {
      this.disabled = false;
    }
  },
  watch: {
    publishType: function(val) {
      if (val) {
        this.disabled = false;
        this.months = this.publishType.min_month;
        this.$emit("update", this.months);
      }
    }
  },
  methods: {
    lessMonth() {
      this.months =
        this.months <= this.publishType.min_month
          ? this.publishType.min_month
          : this.months - 1;
      this.$emit("update", this.months);
    },
    addMonth() {
      this.months =
        this.months >= this.publishType.max_month
          ? this.publishType.max_month
          : this.months + 1;
      this.$emit("update", this.months);
    }
  }
};
</script>
<style lang="scss" scoped>
.button {
  width: 25px;
  height: 25px;
  font-weight: bold;
  padding: 0 !important;
}
.counter-months {
  width: 30px;
  display: inline-block;
  text-align: center;
  //text-center d-inline-block
}
</style>
