<template>
  <Modal v-model="modal">
    <template #content>
      <div class="p-3">
        <p class="mb-3 h5 text-center">Pagar publicación</p>
        <div v-if="!hasError">
          <p>
            Seras redirigido al sitio de mercado pago para que puedas continuar
            con la transacción
          </p>
          <div class="w-100 text-center mt-3">
            <Filled
              @click="openTab"
              :isLoading="isLoading"
              text="Ir a mercado pago"
            ></Filled>
          </div>
        </div>
        <div v-else>
          <p>
            Ocurrio un error al intentar generar el pago, intentalo nuevamente
            mas tarde
          </p>

          <router-link
            :to="route('user.activities.home')"
            class="create-activity position-relative"
          >
            <div class="w-100 text-center mt-3">
              <Filled text="Mis actividades"></Filled>
            </div>
          </router-link>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
  const Filled = () => import("~m/common/button/Filled");
  const Modal = () => import("~m/common/modal/Modal");

  import subscriptionService from "~c/services/user/subscriptionService";

  export default {
    components: {
      Filled,
      Modal,
    },
    data() {
      return {
        link: "",
        modal: false,
        id: "",
        isLoading: true,
        hasError: false,
      };
    },
    methods: {
      openModal(id) {
        this.modal = true;
        this.id = id;

        this.createLink();
      },
      openTab() {
        location.href = this.link;
      },
      createLink() {
        subscriptionService
          .pay(this.id)
          .then((response) => {
            this.link = response.data.url;
          })
          .catch(() => {
            this.hasError = true;
          })
          .finally(() => {
            this.isLoading = false;
          });
      },
    },
    created() {
      this.$parent.$on("pay", this.openModal);
    },
  };
</script>

<style></style>
