<template>
  <span :class="`text-${skin} f-16`">
    <span class="pr-1">{{ rate }}</span>
    <i class="lni lni-star-filled"></i>
  </span>
</template>

<script>
export default {
  name: "Rate",
  props: {
    rate: {
      name: String,
      default: ""
    },
    skin: {
      name: String,
      default: "secondary"
    }
  }
};
</script>

<style>
</style>