<template>
  <div class="activity-item">
    <div class="image">
      <router-link :to="route('public.activities.view', { id: activity.id })">
        <v-lazy-image :src="activity.portrait.image_url" class="img-fluid" :alt="activity.title" />
      </router-link>
      <Favorite
        @openLogin="openLogin"
        @updatedFavorite="refresh"
        :favorite="favorite"
        :id="activity.id"
      ></Favorite>
    </div>
    <router-link
      class="pt-1 d-block text-title"
      :to="route('public.activities.view', { id: activity.id })"
      :title="activity.title"
    >{{ activity.title | truncate(25) }}</router-link>
    <div class="d-flex f-12 mb-1">
      <div class="mr-auto">
        <p class="city-name" :title="activity.location">{{ activity.location | truncate(25) }}</p>
      </div>
      <div>
        <span
          class="text-title"
          title="Distancia desde tu ubicación aprox"
        >{{ haversine(activity.latitude, activity.longitude) }}</span>
      </div>
    </div>

    <div class="d-flex justify-content-between text-secondary">
      <div>
        <Rate :rate="activity.qualification"></Rate>
      </div>
      <div class="container-price">
        <p v-if="activity.price != 0">
          <span
            v-if="activity.price != 0"
          >{{ activity.price | currency("$", 0, { thousandsSeparator: "." }) }}</span>
        </p>
        <p v-else class="f-14">Gratis</p>
      </div>
    </div>
  </div>
</template>

<script>
const Favorite = () => import("~m/common/favorite/Favorite");
const Rate = () => import("~m/common/rate/Rate");

export default {
  components: {
    Favorite,
    Rate
  },
  props: {
    activity: Object
  },
  data() {
    return {
      favorite: this.activity.favorite
    };
  },
  methods: {
    openLogin() {
      this.$emit("openLogin");
    },
    refresh() {
      this.$emit("refresh", this.activity.id);
    }
  }
};
</script>

<style lang="scss" scoped>
.activity-item {
  .container-price {
    margin: -1px 0 0 0;
  }

  .favorite-button {
    opacity: 0;
    transition: $transition-base;
  }

  &:hover {
    .favorite-button {
      opacity: 1;
      transition: $transition-base;
    }
  }

  .image {
    width: 100%;
    min-height: 175px;
    max-height: 175px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      transition: $transition-base;
      min-height: 175px;
      max-height: 175px;

      &:hover {
        transition: $transition-base;
        transform: scale(1.1);
      }
    }
  }
}
</style>
