<template>
  <div class="row">
    <div
      style="transition: transform 500ms"
      :class="'mb-3 col-md-' + cantInline"
      v-for="activity in activitiesFake"
      :key="activity.id"
    >
      <ActivityItem @refresh="refresh" @openLogin="openLogin" :activity="activity"></ActivityItem>
    </div>
    <div class="w-100" v-if="showPaginate">
      <Infinite :isLoading="isLoading" @next="next" :page="page" :hasMore="hasMore"></Infinite>
    </div>
  </div>
</template>
<script>
const ActivityItem = () => import("./ActivityItem");
const Infinite = () => import("../misc/Infinite");

export default {
  name: "List",
  components: {
    Infinite,
    ActivityItem
  },
  data() {
    return {
      activitiesFake: []
    };
  },
  props: {
    cantInline: {
      type: Number,
      default: 3
    },
    activities: {
      type: Array,
      default: () => []
    },
    hasMore: {
      type: Boolean,
      default: false
    },
    page: {
      default: "1"
    },
    removeFavorite: {
      type: Boolean,
      default: false
    },
    isLoading: {
      default: false
    }
  },
  methods: {
    next() {
      this.$emit("next");
    },
    openLogin() {
      this.$emit("openLogin");
    },
    refresh(id) {
      this.$emit("refresh", id);
    }
  },
  watch: {
    activities() {
      this.activitiesFake = this.activities;
    }
  },
  computed: {
    showPaginate() {
      return (this.hasMore || this.page != 1) && this.activities.length;
    }
  },
  created() {
    this.activitiesFake = this.activities;
  }
};
</script>