.border-radius {
    border-radius: $border-radius;
}

$offsetValues: 0,
5,
10,
15,
20,
25,
30,
35,
40,
45,
50,
55,
60,
65,
70,
75,
80,
85,
90,
95;
$unityOffset: 1%;
@each $offsetValue in $offsetValues {
    .t-#{$offsetValue} {
        top: $offsetValue * $unityOffset;
    }
    .b-#{$offsetValue} {
        bottom: $offsetValue * $unityOffset;
    }
    .l-#{$offsetValue} {
        left: $offsetValue * $unityOffset;
    }
    .r-#{$offsetValue} {
        right: $offsetValue * $unityOffset;
    }
    .z-#{$offsetValue} {
        z-index: $offsetValue;
    }
    .mw-#{$offsetValue} {
        max-width: $offsetValue * $unityOffset;
    }
    .w-#{$offsetValue} {
        width: $offsetValue * $unityOffset;
    }
}

.box-shadow {
    box-shadow: $box-shadow;
}

@for $i from 8 through 96 {
    .f-#{$i} {
        font-size: $i * 1px !important;
    }
}

.text-title,
.text-title:hover {
    color: $dark;
}

.text-text,
.text-text:hover {
    color: $body-color;
}