<template>
  <div>
    <Header></Header>
    <Menu @update="renderSection" :itemsMenu="itemsMenu"></Menu>

    <section class="container mt-3 mb-5">
      <transition name="slide-fade" v-if="section == 'dashboard'">
        <Panel></Panel>
      </transition>

      <transition name="slide-fade" v-if="section == 'profile'">
        <Profile></Profile>
      </transition>

      <transition name="slide-fade" v-if="section == 'activities' && !subSection">
        {{ section }}
        <Activities></Activities>
      </transition>

      <transition name="slide-fade" v-if="section == 'notifications'">
        <Notification></Notification>
      </transition>

      <transition name="slide-fade" v-if="section == 'password'">
        <Password></Password>
      </transition>

      <transition name="slide-fade" v-if="section == 'activities' && subSection == 'create'">
        <CreateActivity></CreateActivity>
      </transition>

      <transition name="slide-fade" v-if="section == 'activities' && subSection == 'payment'">
        <PaymentStatus></PaymentStatus>
      </transition>

      <transition name="slide-fade" v-if="section == 'favorites'">
        <Favorites></Favorites>
      </transition>

      <transition name="slide-fade" v-if="section == 'followers'">
        <Followers :isFollower="true"></Followers>
      </transition>

      <transition name="slide-fade" v-if="section == 'followings'">
        <Followings></Followings>
      </transition>

      <transition name="slide-fade" v-if="section == 'users'">
        <Users></Users>
      </transition>

      <transition name="slide-fade" v-if="section == 'reports'">
        <Reports></Reports>
      </transition>

      <transition name="slide-fade" v-if="section == 'activities' && thirdSection == 'statistics'">
        <Statistics></Statistics>
      </transition>

      <transition name="slide-fade" v-if="section == 'activities' && thirdSection == 'update'">
        <UpdateActivity></UpdateActivity>
      </transition>

      <transition name="slide-fade" v-if="!isPathExists">
        <NotFoundContent></NotFoundContent>
      </transition>
    </section>
  </div>
</template>

<script>
const Header = () => import("~m/common/header/Header");
const Panel = () => import("./panel/Panel");
const Activities = () => import("./activities/Activities");
const CreateActivity = () => import("./activity/CreateActivity");
const UpdateActivity = () => import("./activity/UpdateActivity");
const Notification = () => import("./notifications/Notification");
const Favorites = () => import("./favorites/Favorites");
const Password = () => import("./password/Password");
const Profile = () => import("./profile/Profile");
const Menu = () => import("./common/Menu");
const Follow = () => import("./follow/Follow");
const PaymentStatus = () => import("./paymentstatus/PaymentStatus");
const Users = () => import("./users/Users");
const Reports = () => import("./reports/Reports");
const Statistics = () => import("./statistics/Statistics");
const NotFoundContent = () =>
  import("~m/common/notfound/components/NotFoundContent");

export default {
  components: {
    Notification,
    Favorites,
    Panel,
    Profile,
    Activities,
    Password,
    CreateActivity,
    UpdateActivity,
    Menu,
    Followers: Follow,
    Followings: Follow,
    PaymentStatus,
    NotFoundContent,
    Users,
    Reports,
    Header,
    Statistics
  },
  data() {
    return {
      section: "",
      subSection: "",
      thirdSection: "",
      isPathExists: true,
      subSections: ["", "create", "payment"],
      thirdSections: ["statistics", "update"],
      itemsMenu: [
        {
          name: "Panel",
          icon: "lni lni-dashboard",
          link: this.$routeHelper("user.dashboard"),
          path: "dashboard",
          condition: true
        },
        {
          name: "Perfil",
          icon: "lni lni-user",
          link: this.$routeHelper("user.profile"),
          path: "profile",
          condition: true
        },
        {
          name: "Actividades",
          icon: "lni lni-list",
          link: this.$routeHelper("user.activities.home"),
          path: "activities",
          condition: true
        },
        {
          name: "Favoritos",
          icon: "lni lni-heart",
          link: this.$routeHelper("user.favorites"),
          path: "favorites",
          condition: true
        },
        {
          name: "Seguidores",
          icon: "lni lni-users",
          link: this.$routeHelper("user.users.followers"),
          path: "followers",
          condition: true
        },
        {
          name: "Siguiendo",
          icon: "lni lni-reply",
          link: this.$routeHelper("user.users.followings"),
          path: "followings",
          condition: true
        },
        {
          name: "Notificaciones",
          icon: "lni lni-alarm",
          link: this.$routeHelper("user.notifications"),
          path: "notifications",
          condition: true
        },
        {
          name: "Contraseña",
          icon: "lni lni-lock",
          link: this.$routeHelper("user.password"),
          path: "password",
          condition: !this.$store.getters.isSocial
        },
        {
          name: "Reportes",
          icon: "lni lni-bullhorn",
          link: this.$routeHelper("user.admin.reports"),
          path: "reports",
          condition: this.$store.getters.user.role == "admin"
        },
        {
          name: "Usuarios",
          icon: "lni lni-users",
          link: this.$routeHelper("user.admin.users"),
          path: "users",
          condition: this.$store.getters.user.role == "admin"
        }
      ]
    };
  },
  methods: {
    renderSection(section) {
      this.section = section;
    },
    pathExists() {
      if (typeof this.section != "undefined") {
        this.isPathExists = this.itemsMenu.find(
          itemMenu => itemMenu.path == this.section
        );
      }

      if (typeof this.subSection != "undefined") {
        this.isPathExists = this.subSections.find(
          subSection => subSection == this.subSection
        );
      }

      if (
        typeof this.thirdSection != "undefined" &&
        this.section == "activities"
      ) {
        this.isPathExists = this.thirdSections.find(
          thirdSection => thirdSection == this.thirdSection
        );
      }
    }
  },
  created() {
    this.section = this.$route.params.section;
    this.subSection = this.$route.params.subSection;
    this.thirdSection = this.$route.params.thirdSection;
    this.pathExists();
  },
  watch: {
    $route() {
      this.section = this.$route.params.section;
      this.subSection = this.$route.params.subSection;
      this.thirdSection = this.$route.params.thirdSection;
      this.pathExists();
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  min-height: 70vh;
}
</style>
