<template>
  <div>
    <p>
      El sitio esta protegido por reCAPTCHA y Google
      <a
        target="_blank"
        href="https://policies.google.com/privacy"
      >Politica de privacidad</a>
      y
      <a target="_blank" href="https://policies.google.com/terms">Terminos del servicio</a>
      aplican.
    </p>
    <p>
      Al utilizar nuestros servicios, aceptas nuestras
      <router-link target="_blank" :to="route('public.terms')">Condiciones y Politica de privacidad</router-link>
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
p {
  font-size: 12px;

  a {
    color: $dark;

    &:hover {
      text-decoration: underline;
    }
  }
}
</style>
