<template>
  <div class="wrapper">
    <h1 class="h5 text-center pb-3">Ingresar</h1>
    <InputText
      label="Email"
      data-vv-as="email"
      name="login.email"
      v-validate="'required|email'"
      v-model="login.email"
      :errorMsg="vErrors.first('login.email') || loginErrors.email"
      :requiredLabel="true"
    ></InputText>

    <p class="f-14">
      Olvidaste tu contraseña?
      <router-link
        :to="route('public.users.resetPassword')"
        class="text-title font-weight-bold"
      >Recuperala</router-link>
    </p>

    <div class="clearfix pb-3"></div>

    <Password
      data-vv-as="contraseña"
      name="login.password"
      v-validate="'required|min:6|max:30'"
      label="Contraseña"
      v-model="login.password"
      :errorMsg="
        vErrors.first('login.password') ||
          loginErrors.password ||
          loginErrors.captcha
      "
    ></Password>
    <CaptchaTerms></CaptchaTerms>

    <div class="clearfix pb-3"></div>
    <Filled @click="loginSubmit" :isLoading="isLoading" text="Ingresar" class="w-100 mb-1"></Filled>
    <Filled
      :isLoading="isLoadingFacebook"
      @click="socialAuth('facebook')"
      class="facebook-login w-100 mb-1"
    >
      <template #content>
        <i class="lni lni-facebook-original"></i> Conectar con Facebook
      </template>
    </Filled>
    <Filled :isLoading="isLoadingGoogle" @click="socialAuth('Google')" class="google-login w-100">
      <template #content>
        <i class="lni lni-google"></i> Conectar con Google
      </template>
    </Filled>

    <p class="f-14 text-center mt-3">
      No tenes cuenta?
      <router-link
        :to="route('public.users.register')"
        class="text-title font-weight-bold"
      >Creala aquí</router-link>
    </p>
  </div>
</template>

<script>
const InputText = () => import("~m/common/input/InputText");
const Password = () => import("~m/common/input/Password");
const Filled = () => import("~m/common/button/Filled");
const CaptchaTerms = () => import("./CaptchaTerms");
const queryString = require("query-string");
import userService from "~c/services/user/userService";
import capitalize from "~c/helpers/capitalize";

export default {
  components: {
    InputText,
    Password,
    Filled,
    CaptchaTerms
  },
  data() {
    return {
      isLoading: false,
      isLoadingFacebook: false,
      isLoadingGoogle: false,
      login: {
        email: "",
        password: "",
        captcha: ""
      },
      loginErrors: {},
      socialNetwork: this.$route.params.social
    };
  },
  methods: {
    async loginSubmit() {
      this.$validator.validateAll().then(async valid => {
        if (valid) {
          this.isLoading = true;

          await this.$recaptchaLoaded();
          this.login.captcha = await this.$recaptcha("login");

          const formData = this.$formData(this.login);

          userService
            .login(formData)
            .then(response => {
              this.loginErrors = {};
              this.$store.commit("setUser", response.data.token);
            })
            .catch(error => {
              if (error.response.status != 400) {
                this.$notification(
                  "error",
                  "Tenemos un problema con el ingreso a la app"
                );
              } else {
                this.loginErrors = this.$errorHandler(error);
              }
            })
            .finally(() => {
              this.isLoading = false;
            });
        }
      });
    },
    socialAuth(socialNetwork) {
      const socialNetworkToLoading = capitalize(socialNetwork);
      const key = `isLoading${socialNetworkToLoading}`;
      this[key] = true;

      userService
        .socialAuth(socialNetwork)
        .then(response => {
          window.location.href = response.data.url;
        })
        .catch(() => {
          this.$notification(
            "error",
            "Tenemos un problema con el ingreso de redes sociales en la app"
          );
        })
        .finally(() => {
          this[key] = false;
        });
    },
    loginWith(code) {
      const socialNetworkToLoading = capitalize(this.socialNetwork);
      const key = `isLoading${socialNetworkToLoading}`;
      this[key] = true;

      userService
        .loginWith(this.socialNetwork, code)
        .then(response => {
          this.$store.commit("setUser", response.data.token);
        })
        .catch(err => {
          const statusCode = err.response.status;
          let message;

          switch (statusCode) {
            case 400:
              message =
                "No se pudo ingresar con la red social, intentalo nuevamente";
              break;
            case 401:
              message =
                "No puedes ingresar con la red social debido a que eliminaste tu usuario";
              break;
            case 404:
              message =
                "No se encontro la red social con la que queres acceder";
              break;
            default:
              message = "Tenemos un problema con el ingreso a la app";
              break;
          }

          this.$notification("error", message);
        })
        .finally(() => {
          this[key] = false;
        });
    }
  },
  created() {
    const parsed = queryString.parse(location.search);
    if (parsed.code) {
      this.loginWith(parsed.code);
    }
  }
};
</script>
