<template>
  <div class="wrapper">
    <h1 class="h5 pb-3 text-center">Crea tu cuenta</h1>
    <InputText
      label="Email"
      data-vv-as="email"
      name="register.email"
      v-validate="'required|email'"
      v-model="register.email"
      :errorMsg="vErrors.first('register.email') || registerErrors.email"
      :requiredLabel="true"
    ></InputText>

    <p class="f-14">
      No te llego la verificación?
      <router-link
        :to="route('public.users.verification')"
        class="font-weight-bold text-title"
      >Reenviala</router-link>
    </p>

    <div class="clearfix pb-3"></div>

    <InputText
      label="Usuario"
      data-vv-as="usuario"
      name="register.username"
      v-validate="'required|min:3|max:20'"
      v-model="register.username"
      :maxlength="20"
      :errorMsg="vErrors.first('register.username') || registerErrors.username"
      :requiredLabel="true"
    ></InputText>

    <div class="clearfix pb-3"></div>

    <Password
      data-vv-as="contraseña"
      name="register.password"
      v-validate="'required|min:6|max:30'"
      label="Contraseña"
      v-model="register.password"
      :maxlength="30"
      :errorMsg="vErrors.first('register.password') || registerErrors.password || registerErrors.captcha"
      :description="$t('description')"
      :requiredLabel="true"
    ></Password>
    <CaptchaTerms></CaptchaTerms>

    <div class="clearfix pb-3"></div>

    <div class="text-center">
      <Filled
        @click="registerSubmit"
        :isLoading="isLoading"
        type="submit"
        text="Crear"
        class="w-100"
      ></Filled>
    </div>

    <p class="text-center mt-3 f-14">
      Si ya tenes cuenta,
      <router-link :to="route('public.users.login')" class="font-weight-bold text-title">Ingresa</router-link>
    </p>
  </div>
</template>
<i18n src="~c/locales/password.json"></i18n>
<script>
const InputText = () => import("~m/common/input/InputText");
const Password = () => import("~m/common/input/Password");
const Filled = () => import("~m/common/button/Filled");
const CaptchaTerms = () => import("./CaptchaTerms");
import userService from "~c/services/user/userService";

export default {
  components: {
    InputText,
    Password,
    Filled,
    CaptchaTerms
  },
  data() {
    return {
      isLoading: false,
      register: {
        email: "",
        password: "",
        username: "",
        captcha: ""
      },
      registerErrors: {}
    };
  },
  methods: {
    registerSubmit() {
      this.$validator.validateAll().then(async valid => {
        if (valid) {
          this.isLoading = true;

          await this.$recaptchaLoaded();
          this.register.captcha = await this.$recaptcha("login");

          const formData = this.$formData(this.register);

          userService
            .register(formData)
            .then(() => {
              this.registerErrors = {};
              this.register.email = "";
              this.register.password = "";
              this.register.username = "";
              this.$notification(
                "success",
                "Se creo la cuenta correctamente, te enviaremos un email con el codigo de verificación"
              );
            })
            .catch(error => {
              if (error.response.status != 400) {
                this.$notification(
                  "error",
                  "Tenemos un problema al registrarte en la app"
                );
              } else {
                this.registerErrors = this.$errorHandler(error);
              }
            })
            .finally(() => {
              this.isLoading = false;
            });
        }
      });
    }
  },
  created() {
    this.$title("Crea tu cuenta");
  }
};
</script>
