<template>
  <div class="wrapper">
    <h1 class="h5 text-center pb-3">Enviar verificación</h1>
    <InputText
      label="Email"
      data-vv-as="email"
      name="resend.email"
      v-validate="'required|email'"
      v-model="resend.email"
      :errorMsg="vErrors.first('resend.email') || resendErrors.email || resendErrors.captcha"
      :requiredLabel="true"
    ></InputText>
    <CaptchaTerms></CaptchaTerms>

    <div class="clearfix pb-3"></div>

    <Filled @click="resendSubmit" :isLoading="isLoading" text="Enviar" class="w-100"></Filled>

    <p class="pt-3 text-center f-14">
      Si ya tenes cuenta,
      <router-link :to="route('public.users.login')" class="font-weight-bold text-title">Ingresa</router-link>
    </p>
  </div>
</template>

<script>
const InputText = () => import("~m/common/input/InputText");
const Filled = () => import("~m/common/button/Filled");
const CaptchaTerms = () => import("./CaptchaTerms");
import userService from "~c/services/user/userService";

export default {
  components: {
    InputText,
    Filled,
    CaptchaTerms
  },
  data() {
    return {
      isLoading: false,
      resend: {
        email: "",
        captcha: ""
      },
      resendErrors: {}
    };
  },
  methods: {
    resendSubmit() {
      this.$validator.validateAll().then(async valid => {
        if (valid) {
          this.isLoading = true;

          await this.$recaptchaLoaded();
          this.resend.captcha = await this.$recaptcha("login");

          const formData = this.$formData(this.resend);

          userService
            .resend(formData)
            .then(() => {
              this.resendErrors = {};
              this.resend.email = "";
              this.$notification(
                "success",
                "Te enviamos el codigo de verificación a tu email"
              );
            })
            .catch(error => {
              if (error.response.status != 400) {
                this.$notification(
                  "error",
                  "Tenemos un problema al reenviar el codigo de verificación"
                );
              } else {
                this.resendErrors = this.$errorHandler(error);
              }
            })
            .finally(() => {
              this.isLoading = false;
            });
        }
      });
    }
  },
  created() {
    this.$title("Enviar verificación");
  }
};
</script>
