<template>
  <div class="wrapper">
    <h1 class="h5 text-center pb-3">Reestablecer contraseña</h1>
    <InputText
      label="Email"
      data-vv-as="email"
      name="reset.email"
      v-validate="'required|email'"
      v-model="reset.email"
      :errorMsg="vErrors.first('reset.email') || resetErrors.email || resetErrors.captcha"
      :requiredLabel="true"
    ></InputText>
    <CaptchaTerms></CaptchaTerms>

    <div class="clearfix pb-3"></div>

    <Filled @click="resetSubmit" :isLoading="isLoading" text="Restablecer" class="w-100"></Filled>

    <p class="text-center mt-3 f-14">
      Si ya tenes cuenta,
      <router-link :to="route('public.users.login')" class="font-weight-bold text-title">Ingresa</router-link>
    </p>
  </div>
</template>

<script>
const InputText = () => import("~m/common/input/InputText");
const Filled = () => import("~m/common/button/Filled");
const CaptchaTerms = () => import("./CaptchaTerms");
import userService from "~c/services/user/userService";

export default {
  components: {
    InputText,
    Filled,
    CaptchaTerms
  },
  data() {
    return {
      isLoading: false,
      reset: {
        email: "",
        captcha: ""
      },
      resetErrors: {}
    };
  },
  methods: {
    resetSubmit() {
      this.$validator.validateAll().then(async valid => {
        if (valid) {
          this.isLoading = true;

          await this.$recaptchaLoaded();
          this.reset.captcha = await this.$recaptcha("login");

          const formData = this.$formData(this.reset);

          userService
            .reset(formData)
            .then(() => {
              this.resetErrors = {};
              this.reset.email = "";
              this.$notification(
                "success",
                "Te enviamos los pasos a seguir para restablecer tu contraseña"
              );
              this.changeType("login");
            })
            .catch(error => {
              if (error.response.status != 400) {
                this.$notification(
                  "error",
                  "Tenemos un problema al enviarte los pasos para restablecer tu contraseña"
                );
              } else {
                this.resetErrors = this.$errorHandler(error);
              }
            })
            .finally(() => {
              this.isLoading = false;
            });
        }
      });
    }
  },
  created() {
    this.$title("Restablecer contraseña");
  }
};
</script>
