<template>
  <LightGallery :images="images" :index="this.value" :disable-scroll="true" @close="close" />
</template>

<script>
import { LightGallery } from "vue-light-gallery";

export default {
  components: {
    LightGallery
  },
  props: {
    images: {
      name: Array
    },
    value: {}
  },
  methods: {
    close() {
      this.$emit("input", null);
    }
  }
};
</script>

<style>
</style>