<template>
  <div class="d-flex align-items-top">
    <div class="mr-2 container-image">
      <router-link
        :to="
                route('public.profile', {
                  username: notification.user.username,
                })
              "
      >
        <v-lazy-image
          :src="notification.user.profile_image_url"
          :alt="notification.user.username"
          width="48"
          height="48"
        ></v-lazy-image>
      </router-link>
    </div>
    <div>
      <p
        class="f-14 notification-description"
        @click.prevent="fakeRoute"
        v-html="notification.description"
      ></p>
      <timeago class="f-12 text-title" :datetime="notification.created_at"></timeago>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    notification: {
      name: Object,
      default: {}
    }
  },
  methods: {
    fakeRoute(event) {
      const target = event.toElement.toString();

      if (target.indexOf("https") !== -1) {
        var url = new URL(target);

        this.$router.push(url.pathname);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>