<template>
  <Modal v-model="modalDeleteAccount">
    <template #content>
      <div class="p-3">
        <h1 class="h4 d-block text-center mb-3">Eliminar cuenta</h1>

        <p class="my-2 mb-3">
          Esta acción es irreversible, una vez realizado esto no se va podra
          volver para atras. Si tenes publicaciones pagas, lee sobre los
          terminos y condiciones que aplican en cada situación.
        </p>

        <div v-if="!$store.getters.isSocial">
          <Password
            data-vv-as="contraseña"
            name="deleteAccount.password"
            v-validate="'required|min:6|max:30'"
            label="Contraseña"
            v-model="deleteAccount.password"
            :errorMsg="
              vErrors.first('deleteAccount.password') ||
                deleteAccountErrors.password
            "
          ></Password>
        </div>

        <div class="w-100 text-center mt-3">
          <Filled :isLoading="deleteIsLoading" text="Eliminar cuenta" @click="deleteAccountUser"></Filled>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
const Password = () => import("~m/common/input/Password");
const Filled = () => import("~m/common/button/Filled");
const Modal = () => import("~m/common/modal/Modal");
import userService from "~c/services/user/userService";

export default {
  components: {
    Password,
    Filled,
    Modal
  },
  data() {
    return {
      modalDeleteAccount: false,
      deleteAccount: {
        password: ""
      },
      deleteAccountErrors: {},
      deleteIsLoading: false
    };
  },
  methods: {
    openDeleteAccount() {
      this.modalDeleteAccount = true;
    },
    deleteAccountUser() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          this.deleteIsLoading = true;
          const formData = this.$formData(this.deleteAccount);

          userService
            .deleteAccount(formData)
            .then(() => {
              this.deleteAccountErrors = {};
              this.$store.commit("logout");
              this.$store.commit("removeUser");
            })
            .catch(error => {
              if (error.response.status != 400) {
                this.$emit("close");
                this.$notification(
                  "error",
                  "No podemos eliminar tu cuenta, intentalo mas tarde"
                );
              } else {
                this.deleteAccountErrors = this.$errorHandler(error);
              }
            })
            .finally(() => {
              this.deleteIsLoading = false;
            });
        }
      });
    }
  },
  created: function() {
    this.$parent.$on("openDeleteAccount", this.openDeleteAccount);
  }
};
</script>

<style></style>
