<template>
  <div class="header-wrapper d-flex align-items-top">
    <div v-b-tooltip.hover.bottom="'Publicar actividad'">
      <router-link :to="route('user.activities.new')">
        <i class="lni lni-circle-plus"></i>
      </router-link>
    </div>

    <div>
      <NotificationBell class="ml-2"></NotificationBell>
    </div>

    <div>
      <b-dropdown size="xs" variant="link" right toggle-class="p-0 ml-3 m-0" no-caret :lazy="true">
        <template v-slot:button-content>
          <div class="wrapper-image">
            <img
              :src="$store.getters.user.profile.profile_image_url"
              class="border-radius"
              width="36"
              height="36"
              :alt="$store.getters.user.profile.username"
            />
          </div>
        </template>
        <b-dropdown-item class="f-14" :to="route('user.dashboard')">Panel</b-dropdown-item>
        <b-dropdown-item class="f-14" @click.native="activitiesClick">Actividades</b-dropdown-item>
        <b-dropdown-item
          class="f-14"
          :to="
            route('public.profile', {
              username: $store.getters.user.profile.username,
            })
          "
        >Perfil</b-dropdown-item>
        <b-dropdown-item class="f-14" @click.prevent="logout()">Salir</b-dropdown-item>
      </b-dropdown>
    </div>
  </div>
</template>
<script>
const NotificationBell = () => import("./NotificationBell");

export default {
  name: "Header",
  components: {
    NotificationBell
  },
  methods: {
    logout() {
      this.$store.commit("logout");
      this.$store.commit("removeUser");
    },
    activitiesClick() {
      this.$emit("activitiesClick");
    }
  }
};
</script>
<style scoped lang="scss">
.header-wrapper {
  padding: 5px 0 0 0;

  .wrapper-image {
    position: relative;
    margin: -3px 0 0 0;

    &.active:after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: $border-radius;
      right: -2px;
      top: -9px;
      background: $primary;
    }
    img {
      width: 36px;
      height: 36px;
      margin: -5px 0 0 0;
    }
  }

  .lni {
    font-size: 20px;
    color: $body-color;

    &.lni-circle-plus {
      padding: 2px 5px 0 0;
    }
  }
}
</style>
