<template>
  <div class="wrapper-header">
    <router-link
      @click.native="activitiesClick"
      :to="route('public.activities.search')"
      class="text-primary"
    >Actividades</router-link>
    <span class="p-3">|</span>

    <router-link :to="route('public.users.login')" class="text-title">Ingresar</router-link>
    <Modal></Modal>
  </div>
</template>

<script>
const Modal = () => import("./Modal");

export default {
  name: "Header",
  components: {
    Modal
  },
  data() {
    return {
      modalLogin: false
    };
  },
  methods: {
    activitiesClick() {
      this.$emit("activitiesClick");
    },
    openLogin() {
      this.$emit("openLogin", true);
    }
  },
  created: function() {
    this.$parent.$on("openLogin", this.openLogin);
  }
};
</script>
<style scoped lang="scss">
.wrapper-header {
  padding: 5px 0 0 0;
  a {
    transition: $transition-base;

    &:hover {
      transition: $transition-base;
      text-decoration: none;
      opacity: 0.7;
    }
  }
}
</style>
