<template>
  <Modal v-model="showModal">
    <template #content>
      <div class="p-3">
        <h1 class="h4 text-center mb-3">Para poder seguir</h1>
        <p>
          Necesitas estar logeado en el sistema, si tienes una cuenta haz click
          en ingresar sino la tenes podes crear una gratis haciendo click en
          registrarme
        </p>

        <div class="text-center mt-3">
          <router-link :to="route('public.users.login')" class="text-title">Ingresar</router-link>
          <div class="clearfix pb-3"></div>
          <router-link :to="route('public.users.register')">
            <Filled class="p-2 pl-4 pr-4" text="Registrate"></Filled>
          </router-link>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
const Modal = () => import("~m/common/modal/Modal");
const Filled = () => import("~m/common/button/Filled");

export default {
  components: {
    Modal,
    Filled
  },
  data() {
    return {
      showModal: false
    };
  },
  methods: {
    openLogin() {
      this.showModal = true;
      this.modalToShow = "login";
    },
    setModalToShow(type) {
      this.modalToShow = type;
    },
    close() {
      this.showModal = false;
    }
  },
  created() {
    this.$parent.$on("openLogin", this.openLogin);
  }
};
</script>

<style></style>
