<template>
  <b-dropdown size="md" variant="link" right toggle-class="p-0 m-0" no-caret>
    <template v-slot:button-content>
      <i @click="getNotifications" :class="hasNews ? 'active' : ''" class="lni lni-alarm"></i>
    </template>
    <b-dropdown-form class="p-0 position-relative">
      <vueCustomScrollbar :suppressScrollX="false" class="wrapper-notifications">
        <Spinner v-if="isLoading" class="spinner" color="secondary" :isLoading="isLoading"></Spinner>
        <p
          class="empty-text"
          v-else-if="!results.notifications.length && !isLoading"
        >Todavia no tenes notificaciones</p>

        <div v-else>
          <NotificationList
            class="pl-3 pr-3"
            :notifications="results.notifications"
            :hasMore="false"
          ></NotificationList>
        </div>
      </vueCustomScrollbar>
      <router-link
        v-if="results.notifications.length"
        :to="route('user.notifications')"
        class="view-more"
      >Ver todas las notificaciones</router-link>
    </b-dropdown-form>
  </b-dropdown>
</template>

<script>
const Spinner = () => import("~m/common/misc/Spinner");
const NotificationList = () =>
  import("~m/common/notifications/NotificationList");
import vueCustomScrollbar from "vue-custom-scrollbar";
import notificationService from "~c/services/user/notificationService";

export default {
  name: "NotificationBell",
  components: {
    NotificationList,
    vueCustomScrollbar,
    Spinner
  },
  data() {
    return {
      hasNews: false,
      hasViewedNotifications: false,
      isLoading: false,
      results: {
        notifications: [],
        hasMore: false,
        page: 1
      }
    };
  },
  methods: {
    getNotifications() {
      if (!this.hasViewedNotifications || this.hasNews) {
        this.isLoading = true;

        notificationService
          .get(this.results.page)
          .then(response => {
            this.results.notifications = response.data.notifications;
            this.hasViewedNotifications = true;
          })
          .catch(() => {})
          .finally(() => {
            this.isLoading = false;
            this.hasNews = false;
          });
      }
    },
    hasNew() {
      notificationService
        .news()
        .then(response => {
          this.hasNews = response.data.notifications;
        })
        .catch(() => {});
    },
    getHasNews() {
      setInterval(function() {
        this.hasNew();
      }, 180000);
    }
  },
  created() {
    this.hasNew();
  }
};
</script>

<style lang="scss" scoped>
.lni-alarm {
  transition: $transition-base;
  position: relative;
  font-size: 20px;

  &:hover {
    color: $dark;
    transition: $transition-base;
  }

  &.active:after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: $border-radius;
    right: 1px;
    top: -5px;
    background: $secondary;
  }
}

.b-dropdown-form {
  padding: 0 !important;
}

.view-more {
  font-size: $font-size;
  position: absolute;
  bottom: -7px;
  width: 100%;
  text-align: center;
  border-top: 1px solid $border;
}

.wrapper-notifications {
  position: relative;
  width: 300px !important;
  min-height: 50px;
  max-height: 200px !important;
  overflow-y: auto;

  .empty-text {
    font-size: $font-size;
    text-align: center;
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
</style>
