<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import geolocation from "~c/helpers/geolocation";

export default {
  name: "App",
  components: {},
  created() {
    geolocation();
  }
};
</script>

<style lang="scss" scoped>
#app {
  font-family: $font-family-sans-serif-sans-serif;
  padding: 60px 0 0 0 !important;
  overflow-x: hidden !important;
}
</style>
