<template>
  <div class="position-relative">
    <div class="wrapper-next">
      <Filled @click="slideNext" color="light">
        <template #content>
          <i class="lni lni-arrow-right"></i>
        </template>
      </Filled>
    </div>

    <hooper
      :wheelControl="false"
      ref="carousel"
      :itemsToShow="4"
      pagination="no"
      :infiniteScroll="true"
    >
      <slide v-for="(activity, i) in activities" :key="i" class="activity-item">
        <ActivityItemTop @openLogin="openLogin" :activity="activity"></ActivityItemTop>
      </slide>
    </hooper>
  </div>
</template>

<script>
const Filled = () => import("~m/common/button/Filled");
const ActivityItemTop = () => import("./ActivityTopItem");
import { Hooper, Slide } from "hooper";
import "hooper/dist/hooper.css";

export default {
  components: {
    ActivityItemTop,
    Hooper,
    Slide,
    Filled
  },
  props: {
    activities: {
      name: Array
    }
  },
  methods: {
    slideNext() {
      this.$refs.carousel.slideNext();
    },
    openLogin() {
      this.$emit("openLogin");
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper-next {
  position: absolute;
  top: 42%;
  right: 5px;
  z-index: 5;
}
.hooper {
  height: 300px;
  width: 150%;
  position: relative;
  left: -50%;

  .hooper-list {
    overflow: visible;
  }
}
</style>
