<template>
  <div
    class="col-md-3"
    :style="
      `background:url(${activity.portrait.image_url}) no-repeat center center / cover`
    "
  >
    <div class="information">
      <router-link class="link-activity" :to="route('public.activities.view', { id: activity.id })"></router-link>
      <div class="title-location">
        <p class="f-18">{{ activity.title | truncate(25) }}</p>
        <p>{{ activity.location | truncate(30) }}</p>
      </div>

      <Favorite class="z-5" @openLogin="openLogin" :favorite="favorite" :id="activity.id"></Favorite>

      <span
        class="distance-activity"
        title="Distancia desde tu ubicación aprox"
      >{{ haversine(activity.latitude, activity.longitude) }}</span>

      <div class="price-qualification d-flex justify-content-between">
        <div>
          <Rate skin="white" :rate="activity.qualification"></Rate>
        </div>
        <div class="container-price">
          <p v-if="activity.price != 0">
            <span class v-if="activity.price != 0">
              {{
              activity.price | currency("$", 0, { thousandsSeparator: "." })
              }}
            </span>
          </p>
          <p v-else class>Gratis</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const Favorite = () => import("~m/common/favorite/Favorite");
const Rate = () => import("~m/common/rate/Rate");

export default {
  components: {
    Favorite,
    Rate
  },
  data() {
    return {
      favorite: this.activity.favorite
    };
  },
  props: {
    activity: {
      name: Object
    }
  },
  methods: {
    openLogin() {
      this.$emit("openLogin");
    }
  }
};
</script>

<style lang="scss" scoped>
.col-md-3 {
  max-width: 100%;
  height: 300px;
  border-left: 2px solid $light;
  border-right: 2px solid $light;
  background: $background-light-grey;

  .information {
    background: $shadow-image;
    opacity: 0;
    transition: $transition-base;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0%;

    .link-activity {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
    }

    .title-location {
      text-align: center;
      color: $light;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40%;
    }

    .distance-activity {
      position: absolute;
      top: 5px;
      left: 5px;
      color: $light;
      font-size: $font-size;
    }

    .price-qualification {
      color: $light;
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 5px;
      width: 100%;
    }
  }

  &:hover {
    .information {
      opacity: 1;
      transition: $transition-base;
    }
  }
}
</style>
