<template>
  <div class="position-relative">
    <div class="wrapper-next">
      <Filled @click="slideNext" color="light">
        <template #content>
          <i class="lni lni-arrow-left"></i>
        </template>
      </Filled>
    </div>
    <hooper
      :wheelControl="false"
      ref="carousel"
      :itemsToShow="4"
      pagination="no"
      :infiniteScroll="true"
    >
      <slide v-for="(activity,index) in activities" :key="index">
        <div class="col-md-3 p-0">
          <v-lazy-image :src="`/assets/home/${activity}.jpg`" class="img" :alt="activity.title" />
        </div>
      </slide>
    </hooper>
  </div>
</template>

<script>
const Filled = () => import("~m/common/button/Filled");
import { Hooper, Slide } from "hooper";
import "hooper/dist/hooper.css";

export default {
  components: {
    Filled,
    Hooper,
    Slide
  },
  data() {
    return {
      activities: [
        "surf",
        "hiking",
        "horse",
        "vehicles",
        "rafting",
        "snowboard",
        "climb",
        "catamaran",
        "kayak",
        "mtb",
        "paragliding",
        "diving",
        "fall",
        "quad"
      ]
    };
  },
  methods: {
    slideNext() {
      this.$refs.carousel.slideNext();
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper-next {
  position: absolute;
  top: 46%;
  left: 5px;
  z-index: 5;
}

.hooper {
  height: 270px;
  width: 150%;
  .col-md-3 {
    background: $background-light-grey;
    height: 270px;
    max-width: 100%;
    border-right: 2px solid $light;
    border-left: 2px solid $light;
    transition: $transition-base;
    overflow: hidden;

    .img {
      width: 110%;
      height: 100%;
    }
  }
}
</style>