<template>
  <div class="position-relative">
    <div class="wrapper-next">
      <Filled @click="slideNext" color="light">
        <template #content>
          <i class="lni lni-arrow-right"></i>
        </template>
      </Filled>
    </div>

    <div class="wrapper-prev">
      <Filled @click="slidePrev" color="light">
        <template #content>
          <i class="lni lni-arrow-left"></i>
        </template>
      </Filled>
    </div>

    <hooper
      :wheelControl="false"
      ref="carousel"
      :itemsToShow="4"
      pagination="no"
      :infiniteScroll="true"
    >
      <slide v-for="city in cities" :key="city.id">
        <div class="col-md-3">
          <router-link :to="route('public.activities.search') + '/' + city.location">
            <v-lazy-image :src="city.image_url" class="img" :alt="city.location" />
            <p class="city-information">{{ city.location }}</p>
          </router-link>
        </div>
      </slide>
    </hooper>
  </div>
</template>
<script>
const Filled = () => import("~m/common/button/Filled");
import { Hooper, Slide } from "hooper";
import "hooper/dist/hooper.css";

export default {
  components: {
    Hooper,
    Slide,
    Filled
  },
  props: {
    cities: {
      name: Array,
      default: () => []
    }
  },
  methods: {
    slideNext() {
      this.$refs.carousel.slideNext();
    },
    slidePrev() {
      this.$refs.carousel.slidePrev();
    }
  }
};
</script>
<style lang="scss" scoped>
.wrapper-next,
.wrapper-prev {
  position: absolute;
  top: 47%;
  z-index: 1;
}
.wrapper-next {
  right: 5px;
}

.wrapper-prev {
  left: 5px;
}

.hooper {
  height: 270px;

  .col-md-3 {
    height: 270px;
    max-width: 100%;
    border-right: 2px solid $light;
    border-left: 2px solid $light;
    overflow: hidden;
    padding: 0;
    position: relative;
    background: $background-light-grey;

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $shadow-image;
        z-index: 1;
      }
    }

    .city-information {
      z-index: 2;
      color: $light;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
    }

    .img {
      transition: $transition-base;
      width: 100%;
      height: 100%;
    }

    &:hover {
      .img {
        transition: $transition-base;
        transform: scale(1.1);
      }
    }
  }
}
</style>
