<template>
  <Modal v-model="showModal">
    <template #content>
      <Verification v-if="type == 'verification'"></Verification>
      <ResetPassword @close="close" :code="resetPasswordCode" v-if="type == 'reset'"></ResetPassword>
    </template>
  </Modal>
</template>

<script>
const Modal = () => import("~m/common/modal/Modal");
const Verification = () => import("./Verification");
const ResetPassword = () => import("./ResetPassword");
import userService from "~c/services/user/userService";
const queryString = require("query-string");

export default {
  components: {
    Modal,
    ResetPassword,
    Verification
  },
  props: {
    type: {}
  },
  data() {
    return {
      showModal: false,
      resetPasswordCode: ""
    };
  },
  methods: {
    close() {
      this.showModal = false;
    }
  },
  created() {
    if (this.type) {
      if (this.type == "verification") {
        const code = queryString.parse(location.search).v;
        userService
          .verification(code)
          .then(() => {
            this.showModal = true;
            window.history.replaceState({}, "", location.pathname);
          })
          .catch(() => {});
      }

      if (this.type == "reset") {
        this.showModal = true;
        this.resetPasswordCode = queryString.parse(location.search).rp;
      }
    }
  }
};
</script>
