<template>
  <div>
    <form class="p-3" :novalidate="true" @submit.prevent="resetSubmit()">
      <h1 class="h4 text-center pb-3">Reinicio de contraseña</h1>
      <Password
        data-vv-as="contraseña"
        name="reset.password"
        v-validate="'required|min:6|max:30'"
        label="Contraseña"
        v-model="reset.password"
        :description="$t('description')"
      ></Password>
      <ErrorMessage :msg="vErrors.first('reset.password') || resetErrors.password"></ErrorMessage>

      <div class="clearfix pt-3"></div>

      <Password
        data-vv-as="contraseña"
        name="reset.password_confirmation"
        v-validate="'required'"
        label="Repita la contraseña"
        v-model="reset.password_confirmation"
      ></Password>
      <ErrorMessage
        :msg="
          vErrors.first('reset.password_confirmation') ||
            resetErrors.password_confirmation
        "
      ></ErrorMessage>

      <div class="text-center mt-3">
        <Filled text="Restablecer"></Filled>
      </div>
    </form>
  </div>
</template>
<i18n src="~c/locales/password.json"></i18n>
<script>
const ErrorMessage = () => import("~m/common/input/ErrorMessage");
const Filled = () => import("~m/common/button/Filled");
const Password = () => import("~m/common/input/Password");

import userService from "~c/services/user/userService";

export default {
  components: {
    ErrorMessage,
    Filled,
    Password
  },
  props: {
    code: {}
  },
  data() {
    return {
      reset: {
        password: "",
        password_confirmation: ""
      },
      resetErrors: {}
    };
  },
  methods: {
    resetSubmit() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          const formData = this.$formData(this.reset);

          userService
            .resetPassword(this.code, formData)
            .then(() => {
              this.resetErrors = {};
              this.$notification(
                "success",
                "El cambio de contraseña se realizo correctamente"
              );
              this.$emit("close");
              window.history.replaceState({}, "", location.pathname);
            })
            .catch(error => {
              if (error.response.status == 400) {
                this.resetErrors = this.$errorHandler(error);
              } else {
                this.$notification(
                  "error",
                  "Tenemos un problema con el reseteo de tu contraseña"
                );
              }
            });
        }
      });
    }
  }
};
</script>

<style></style>
