<template>
  <div class="p-3">
    <h1 class="h4 text-center pb-3">Verificación exitosa</h1>
    <p>
      Tu cuenta ya se encuentra verificada, ya podras acceder a la aplicación
      normalmente
    </p>
  </div>
</template>

<script>
  export default {};
</script>

<style></style>
