<template>
  <div class="text-center mt-5">
    <img src="/assets/misc/no-data.svg" width="96" height="96" />
    <p class="h6" v-html="title"></p>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        name: String,
        default: "",
      },
    },
  };
</script>

<style lang="scss" scoped>
  p {
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }
</style>
