<template>
  <div>
    <ul class="pl-0 list-unstyled">
      <li
        v-for="notification in notifications"
        :key="notification.id"
        :class="!notification.read ? 'active' : ''"
        class="pt-3 pb-3"
      >
        <NotificationItem :notification="notification"></NotificationItem>
      </li>
    </ul>
    <div class="w-100" v-if="showPaginate">
      <Infinite @next="next" :page="page" :hasMore="hasMore"></Infinite>
    </div>
  </div>
</template>

<script>
const Infinite = () => import("~m/common/misc/Infinite");
const NotificationItem = () => import("./components/NotificationItem");

export default {
  name: "List",
  components: {
    Infinite,
    NotificationItem
  },
  props: {
    notifications: {
      type: Array,
      default: () => []
    },
    hasMore: {
      type: Boolean,
      default: false
    },
    page: {
      default: "1"
    }
  },
  computed: {
    showPaginate() {
      return (this.hasMore || this.page != 1) && this.notifications.length;
    }
  },
  methods: {
    next() {
      this.$emit("next");
    }
  }
};
</script>

<style lang="scss" scoped>
ul {
  li {
    border-bottom: 1px solid $border !important;

    .container-image {
      position: relative;

      img {
        border-radius: $border-radius;
        width: 48px;
        height: 48px;
      }
    }

    &.active .container-image:before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: $border-radius;
      background: $secondary;
      display: block;
      position: absolute;
      top: -2px;
      right: -1px;
    }
  }
  li:last-child {
    border-bottom: none !important;
  }
}
</style>
