<template>
  <div class="text-center pt-5 w-80 m-auto">
    <div v-if="paymentStatus == 'success'">
      <h1 class="h4 pb-3">El pago se realizo correctamente</h1>
      <p>La actividad ya se encuentra disponible en el sitio y podras recibir calificaciones desde este momento. Recuerda de renovarla unos días antes de que se venza</p>
    </div>
    <div v-if="paymentStatus == 'pending'">
      <h1 class="h4 pb-3">El pago esta pendiente</h1>
      <p>La actividad no se encuentra disponible aun, ya que el pago se encuentra pendiente de acreditación. Cuando el pago se encuentre aceptado tu actividad estara disponible</p>
    </div>
    <div v-if="paymentStatus == 'failure'">
      <h1 class="h4 pb-3">El pago fue rechazado</h1>
      <p>Ocurrio un error por el cual no se pudo procesar el pago correctactamente. Intentalo nuevamente para poder habilitar tu actividad</p>
    </div>
  </div>
</template>

<script>
const queryString = require("query-string");
const parsed = queryString.parse(location.search);
const status = Object.keys(parsed)[0];

export default {
  data() {
    return {
      paymentStatus: status
    };
  }
};
</script>

<style>
</style>