<template>
  <div>
    <h2 class="h5 pb-3">Notificaciones</h2>
    <Loader v-if="firstLoading" :isLoading="firstLoading"></Loader>
    <NotificationList
      v-else-if="results.notifications.length"
      :notifications="results.notifications"
      :hasMore="results.hasMore"
      :page="results.page"
      @next="nextNotificationsPage()"
    ></NotificationList>

    <Empty v-else title="Todavia no tenes notificaciones"></Empty>
  </div>
</template>

<script>
const Loader = () => import("~m/common/misc/Loader");
const NotificationList = () =>
  import("~m/common/notifications/NotificationList");
const Empty = () => import("~m/common/empty/Empty");

import notificationService from "~c/services/user/notificationService";

export default {
  name: "Notification",
  components: {
    NotificationList,
    Empty,
    Loader
  },
  data() {
    return {
      isLoading: false,
      firstLoading: true,
      results: {
        notifications: [],
        hasMore: false,
        page: 1
      }
    };
  },
  methods: {
    nextNotificationsPage() {
      this.results.page = parseInt(this.results.page) + 1;

      this.getNotifications();
    },
    getNotifications() {
      this.isLoading = true;

      notificationService
        .get(this.results.page)
        .then(response => {
          this.results.notifications = this.results.notifications.concat(
            response.data.notifications
          );
          this.results.page = response.data.current_page;
          this.results.hasMore = response.data.has_more;
        })
        .catch(() => {})
        .finally(() => {
          this.isLoading = false;
          this.firstLoading = false;
        });
    }
  },
  created() {
    this.$title("Notificaciones");

    this.getNotifications();
  }
};
</script>

<style lang="scss" scoped></style>
