<template>
  <Modal :disableClose="true" v-model="show">
    <template #content>
      <div class="p-3">
        <p class="h5 text-center pb-3">{{$t(`${entity}.${status}.title`)}}</p>
        <div>
          <p>{{$t(`${entity}.${status}.text`)}}</p>

          <div class="w-100 text-center mt-3">
            <router-link v-if="!needToPay  || hasErrors" :to="route('user.activities.home')">
              <Filled text="Mis actividades"></Filled>
            </router-link>

            <Filled v-else @click="pay" text="Proceder al pago"></Filled>
          </div>
        </div>
      </div>
    </template>
  </Modal>
</template>
<i18n>
{
  "es" :{
    "store" : {
      "success" : {
        "title" : "Tu actividad ha sido creada",
        "text" : "Se ha creado tu actividad correctamente, estara disponible en el listado de tus actividades donde podras administrarla"
      },
      "error" : {
        "title" : "Upps",
        "text" : "No se pudo crear tu actividad, te pedimos que lo vuelvas a intentar en unos minutos"
      },
      "payment" :{
        "title" : "Tu actividad ha sido creada",
        "text" : "Se ha creado tu actividad correctamente, no obstante para su activación es necesario que realices el pago de la misma por el tipo de publicación que elegiste. Seras rederigido al sitio de mercado pago para que puedas completar la transacción."
      }
    },
    "update" :{
      "success" : {
        "title" : "Tu actividad ha sido actualizada",
        "text" : "Se ha actualizado tu actividad correctamente, los cambios ya estan disponibles para que los veas"
      },
      "error" : {
        "title" : "Upps",
        "text" : "No se pudo actualizar tu actividad, te pedimos que lo vuelvas a intentar en unos minutos"
      }
    }
  }
}
</i18n>
<script>
const Modal = () => import("~m/common/modal/Modal");
const Filled = () => import("~m/common/button/Filled");

export default {
  components: {
    Filled,
    Modal
  },
  data() {
    return {
      show: false
    };
  },
  computed: {
    entity() {
      return this.isUpdate ? "update" : "store";
    },
    status() {
      let status = "payment";

      if (!this.needToPay) {
        status = this.hasErrors ? "error" : "success";
      }

      return status;
    }
  },
  props: {
    hasErrors: {
      name: Boolean,
      default: false
    },
    needToPay: {
      name: Boolean,
      default: false
    },
    openModal: {
      name: Boolean,
      default: false
    },
    isUpdate: {
      name: Boolean,
      default: false
    }
  },
  watch: {
    openModal(val) {
      this.show = val;
    }
  },
  methods: {
    pay() {
      this.$emit("pay");
    }
  }
};
</script>

<style>
</style>