<template>
  <div>
    <p class="mb-3 h5">Imágenes</p>
    <input
      @change="onFileChange"
      type="file"
      title
      ref="files"
      class="d-none"
      accept="image/*"
      multiple
    />

    <div class="upload-container p-1">
      <a href="#" @click.prevent="triggerUpload" class="upload-button"></a>
      <div class="upload-text">
        <i class="lni lni-image f-30"></i>
        <p>Adjuntar imagenes</p>
      </div>
      <Draggable :list="three.images" group="people" @start="drag = true" @end="drag = false">
        <div
          class="image-container"
          v-for="(image, index) in three.images"
          :key="image.image"
          :style="
            `background: url(${image.background}) no-repeat center center / cover`
          "
        >
          <div class="error-image" v-if="image.error">
            <ErrorMessage :isImage="true" msg="!" v-b-tooltip.hover.top="image.error"></ErrorMessage>
          </div>

          <span class="first-label" v-if="!index">Portada</span>

          <Filled
            @click="deleteImage(image.url)"
            color="light"
            skin="dark"
            class="trash-button"
            :class="image.isTrashing ? 'active' : ''"
            title="Eliminar"
            :isLoading="image.isTrashing"
          >
            <template #content>
              <i class="lni lni-trash p-1"></i>
            </template>
          </Filled>
        </div>
      </Draggable>
    </div>
    <Description
      description="Podras subir un minimo de 8 imágenes hasta un maximo de 40 imagenes, asegurate de que las imagenes tengan buena resolución y calidad"
    ></Description>

    <ErrorMessage class="d-block mt-4" :msg="errors.images"></ErrorMessage>
  </div>
</template>

<script>
const Filled = () => import("~m/common/button/Filled");
const ErrorMessage = () => import("~m/common/input/ErrorMessage");
const Draggable = () => import("vuedraggable");
const Description = () => import("~m/common/input/Description");
import imageService from "~c/services/user/imageService";

export default {
  components: {
    Filled,
    ErrorMessage,
    Draggable,
    Description
  },
  data() {
    return {
      limitFiles: 40,
      three: {
        images: []
      },
      errors: {}
    };
  },
  props: {
    data: {
      name: Object,
      default: () => {}
    }
  },
  methods: {
    async getData() {
      let objectToFormData = {};

      if (this.three.images) {
        this.three.images.map((image, index) => {
          objectToFormData[`images[${index}]`] = image.url;
        });
      }

      const formData = this.$formData(objectToFormData);

      this.$emit("data", formData, this.three, "three");
    },
    setErrors(errors) {
      this.errors = this.$errorHandler(errors);
    },
    async onFileChange(e) {
      const files = e.target.files;

      if (!files.length) {
        this.$refs.files.val = "";
        this.errors = {};
        return false;
      }

      const uploadedFilesCount = files.length + this.three.images.length;
      if (uploadedFilesCount > this.limitFiles) {
        return false;
      }

      for (let i = 0; i < files.length; i++) {
        const file = files[i];

        if (file && file.type.match(/image/)) {
          const imageFile = await this.$resizeImage(file);

          const lengthImages =
            this.three.images.push({
              background: imageFile.background,
              error: "",
              isTrashing: true
            }) - 1;

          const formData = this.$formData({
            image: imageFile.file
          });

          imageService
            .upload(formData)
            .then(response => {
              const urlImage = response.data.image;

              this.three.images[lengthImages].url = urlImage;
              this.three.images[lengthImages].isUploaded = true;
            })
            .catch(error => {
              let errorMsg = "No se pudo subir la imagen, intenta nuevamente";

              if (error.response.data.status) {
                errorMsg = error.response.data.errors.image;
              }

              this.three.images[lengthImages].url = this.three.images[
                lengthImages
              ].background;
              this.three.images[lengthImages].isUploaded = false;
              this.three.images[lengthImages].error = errorMsg;
            })
            .finally(() => {
              this.three.images[lengthImages].isTrashing = false;
            });
        }
      }
      this.$refs.files.val = null;
    },
    deleteImageInData(url) {
      this.three.images = this.three.images.filter(image => image.url != url);
    },
    deleteImage(url) {
      const index = this.three.images.findIndex(image => image.url == url);
      const isUploaded = this.three.images[index].isUploaded;

      if (isUploaded) {
        this.three.images[index].isTrashing = true;

        const formData = this.$formData({
          image: url
        });

        imageService
          .delete(formData)
          .then(() => {
            this.$notification("success", "La imagen ha sido eliminada");
            this.deleteImageInData(url);
          })
          .catch(error => {
            const errorCode = error.response.status;

            if (errorCode == 400) {
              this.$notification("error", error.response.data.errors.image);
            } else {
              this.deleteImageInData(url);
            }
          })
          .finally(() => {
            this.three.images[index].isTrashing = false;
          });
      } else {
        this.deleteImageInData(url);
      }
    },
    triggerUpload() {
      this.$refs.files.click();
    }
  },
  created() {
    this.$parent.$on("getDataFromStepThree", this.getData);
    this.$parent.$on("setErrorsFromStepThree", this.setErrors);

    if (this.data.images) {
      this.three.images = this.data.images;
    }
  }
};
</script>

<style lang="scss" scoped>
.upload-container {
  text-align: left;
  min-height: 300px;
  height: auto;
  background: $background-light-grey;
  position: relative;
  border-radius: $border-radius;
  border: 2px dashed $border;

  .upload-button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
  }

  .upload-text {
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: $body-color;
  }

  .image-container {
    width: 116px;
    height: 116px;
    overflow: hidden;
    cursor: move;
    border-radius: $border-radius;
    position: relative;
    display: inline-block;
    border: 4px solid $background-light-grey;
    z-index: 2;

    .error-image {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .first-label {
      background: $primary;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: $light;
      font-size: $font-size;
    }

    .trash-button {
      background: $light;
      opacity: 0;
      transition: $transition-base;
      padding: 0 !important;
      margin: auto;
      top: 40%;
      left: 0;
      right: 0;
      position: absolute;
      text-align: center;

      &.active {
        opacity: 1;
      }
    }

    &:hover {
      .trash-button {
        opacity: 1;
        transition: $transition-base;
      }
    }
  }
}
</style>
