<template>
  <div>
    <p class="mb-3 h5">Posicionamiento</p>

    <div class="row container-publishes">
      <div
        class="col-md-4 text-center"
        v-for="(publish, index) in publishes"
        :class="
          five.publishSelected && publish.name === five.publishSelected.name
            ? 'active'
            : ''
        "
        :key="index"
        @click="selectPublishType(index)"
      >
        <div class="background-publish pt-3 pb-3 border-radius">
          <p class="f-20 font-weight-bold">{{ $t(publish.name) }}</p>
          <img
            :src="`/assets/misc/publishes/${publish.name}.svg`"
            class="pb-3"
            width="128"
            height="128"
          />

          <p class="pt-3 font-weight-bold">
            {{ publish.price | currency("$", 0, { thousandsSeparator: "." }) }}
            / mes
          </p>

          <p
            class="f-14"
            v-for="chacteristic in $t(`characteristics.${publish.name}`)"
            :key="chacteristic"
          >{{ chacteristic }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <ErrorMessage :msg="errors.publish_type"></ErrorMessage>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p class="h5 pt-5 pb-3">Total a pagar</p>

        <div class="d-flex aligns-items-top mb-1">
          <div class="mr-auto">
            <p class="h6 float-left">Meses :</p>
          </div>
          <div>
            <p class="text-right float-right">
              <Month
                :defaultMonths="five.month"
                :publishType="five.publishSelected"
                class="float-right"
                @update="calculatePrice"
              ></Month>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="mb-1">
          <p class="h6 float-left">Subtotal :</p>
          <p class="text-right float-right">
            {{
            five.price.partial | currency("$", 0, { thousandsSeparator: "." })
            }}
          </p>
          <div class="clearfix"></div>
        </div>

        <div class="mb-1">
          <p class="h6 float-left">Descuento :</p>
          <p class="text-right float-right">
            {{
            five.price.discount
            | currency("$", 0, { thousandsSeparator: "." })
            }}
          </p>
          <div class="clearfix"></div>
        </div>

        <div class="mt-3">
          <p class="h6 float-left">Total :</p>
          <p class="text-right float-right font-weight-bold">
            <span v-if="typeof five.price.total != 'string'">
              {{
              five.price.total | currency("$", 0, { thousandsSeparator: "." })
              }}
            </span>
            <span v-else>{{ five.price.total }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<i18n src="~c/locales/activityPublish.json"></i18n>
<script>
const Month = () => import("../../common/Month");
const ErrorMessage = () => import("~m/common/input/ErrorMessage");
import activityService from "~c/services/user/activityService";
import priceActivity from "../../helpers/priceActivity";

export default {
  components: {
    Month,
    ErrorMessage
  },
  data() {
    return {
      five: {
        publish_type: "",
        month: "",
        publishSelected: null,
        price: {
          total: "",
          partial: "",
          discount: ""
        }
      },
      errors: {},
      publishes: []
    };
  },
  props: {
    data: {
      name: Object,
      default: () => {}
    }
  },
  methods: {
    getData() {
      const formData = this.$formData(this.five);
      this.$emit("data", formData, this.five, "five");
    },
    setErrors(errors) {
      this.errors = this.$errorHandler(errors);
    },
    cleanErrors() {
      this.errors = {};
    },
    calculatePrice(months) {
      this.five.month = months;

      const { partial, discount, total } = priceActivity(
        this.five.month,
        this.five.publishSelected
      );

      this.five.price.partial = partial;
      this.five.price.discount = discount;
      this.five.price.total = total;
    },
    selectPublishType(index) {
      this.five.publishSelected = this.publishes[index];
      this.five.publish_type = this.five.publishSelected.name;
    }
  },
  created() {
    this.$parent.$on("getDataFromStepFive", this.getData);
    this.$parent.$on("setErrorsFromStepFive", this.setErrors);
    this.$parent.$on("cleanErrorsFromStepFive", this.cleanErrors);

    activityService
      .publishes()
      .then(response => {
        this.publishes = response.data.publishes;
      })
      .catch(() => {});

    if (this.data.publish_type) {
      this.five = this.data;
    }
  }
};
</script>

<style lang="scss" scoped>
input[type="radio"] {
  display: none;
}

.container-publishes {
  .col-md-4 {
    text-align: center;
    cursor: pointer;
    .background-publish {
      transition: $transition-base;
    }
    .background-publish:hover,
    &.active .background-publish {
      transition: $transition-base;
      background: $background-light-grey;
    }
  }
}
</style>
