<template>
  <div>
    <p class="mb-3 h5">Información de contacto</p>

    <InputNumber
      label="Telefono fijo"
      description="Inclui el codigo de area"
      v-model="four.phone_number"
      :errorMsg="errors.phone_number"
    ></InputNumber>
    <div class="pb-3"></div>

    <InputNumber
      label="Celular"
      description="Inclui el codigo de area"
      v-model="four.telephone_number"
      :errorMsg="errors.telephone_number"
    ></InputNumber>
    <div class="pb-3"></div>

    <InputText label="Facebook" v-model="four.facebook_url" :errorMsg="errors.facebook_url"></InputText>
    <div class="pb-3"></div>

    <InputText label="Instagram" v-model="four.instagram_url" :errorMsg="errors.instagram_url"></InputText>
    <div class="pb-3"></div>

    <InputText label="Email" v-model="four.email" :errorMsg="errors.email"></InputText>
    <div class="pb-3"></div>

    <InputText label="Web" v-model="four.web" :errorMsg="errors.web"></InputText>
  </div>
</template>

<script>
const InputText = () => import("~m/common/input/InputText");
const InputNumber = () => import("~m/common/input/InputNumber");

export default {
  components: {
    InputText,
    InputNumber
  },
  data() {
    return {
      four: {
        phone_number: "",
        telephone_number: "",
        facebook_url: "",
        instagram_url: "",
        email: "",
        web: ""
      },
      errors: {}
    };
  },
  props: {
    data: {
      name: Object,
      default: () => {}
    }
  },
  methods: {
    getData() {
      const formData = this.$formData(this.four);
      this.$emit("data", formData, this.four, "four");
    },
    setErrors(errors) {
      this.errors = this.$errorHandler(errors);
    }
  },
  created() {
    this.$parent.$on("getDataFromStepFour", this.getData);
    this.$parent.$on("setErrorsFromStepFour", this.setErrors);

    if (Object.keys(this.data).length) {
      this.four.phone_number = this.data.phone_number;
      this.four.telephone_number = this.data.telephone_number;
      this.four.facebook_url = this.data.facebook_url;
      this.four.instagram_url = this.data.instagram_url;
      this.four.email = this.data.email;
      this.four.web = this.data.web;
    }
  }
};
</script>

<style>
</style>