<template>
  <div>
    <p class="mb-3 h5">Información basica</p>
    <InputText
      label="Cual es el titulo de la actividad?"
      v-model="one.title"
      :maxlength="60"
      :errorMsg="errors.title"
      :requiredLabel="true"
    ></InputText>

    <div class="clearfix pb-3"></div>
    <Textarea
      label="Contanos un poco de que se trata"
      :maxlength="1500"
      description="Esta descripción les servira de referencia a las personas para entender el servicio que brindas"
      v-model="one.description"
      :errorMsg="errors.description"
    ></Textarea>

    <div class="col-md-4 p-0 pt-3 pb-3">
      <InputNumber
        label="Precio minimo"
        description="Este es el precio base desde que se puede disfrutar la actividad"
        v-model="one.price"
        :errorMsg="errors.price"
      ></InputNumber>
    </div>

    <div v-if="!$store.getters.isNotUser">
      <div class="col-md-4 p-0 pb-3">
        <Label label="Cual es el nombre de la categoria" :requiredLabel="true"></Label>
        <VueMultiSelect
          v-model="one.activity_type"
          :btnLabel="btnLabel"
          :search="false"
          :historyButton="false"
          :selectOptions="types"
          class="multiselect"
        ></VueMultiSelect>
        <ErrorMessage :msg="errors.activity_type"></ErrorMessage>
      </div>

      <div class="col-md-4 p-0 pb-3">
        <Label label="Como es el nivel de dificultad" :requiredLabel="true"></Label>
        <VueMultiSelect
          v-model="one.activity_difficulty"
          :btnLabel="btnLabel"
          :search="false"
          :historyButton="false"
          :selectOptions="difficulties"
          class="multiselect"
        ></VueMultiSelect>
        <ErrorMessage :msg="errors.activity_difficulty"></ErrorMessage>
      </div>
    </div>

    <div class="d-flex aligns-item-top mt-3">
      <div class="mr-auto">
        <p class="f-14">Preguntas y respuestas</p>
        <ErrorMessage :msg="errors.characteristics"></ErrorMessage>
      </div>
      <div>
        <Filled @click="addCharacteristic" text="+" class="quantity-button"></Filled>
      </div>
    </div>

    <div class="row mt-3" v-for="(characteristic, index) in one.characteristics" :key="index">
      <div class="col-md-5">
        <InputText
          label="Pregunta"
          :maxlength="40"
          v-model="characteristic.concept"
          :errorMsg="errors[`characteristics.${index}.concept`]"
          :requiredLabel="true"
        ></InputText>
      </div>
      <div class="col-md-5">
        <InputText
          label="Respuesta"
          :maxlength="40"
          v-model="characteristic.value"
          :errorMsg="errors[`characteristics.${index}.value`]"
          :requiredLabel="true"
        ></InputText>
      </div>
      <div class="col-md-2 pt-4">
        <Filled @click="removeCharacteristic(index)" text="-" class="quantity-button float-right"></Filled>
      </div>
    </div>
  </div>
</template>

<script>
const Filled = () => import("~m/common/button/Filled");
const ErrorMessage = () => import("~m/common/input/ErrorMessage");
const InputText = () => import("~m/common/input/InputText");
const InputNumber = () => import("~m/common/input/InputNumber");
const Textarea = () => import("~m/common/input/Textarea");
const Label = () => import("~m/common/input/Label");
import activityService from "~c/services/user/activityService";
import VueMultiSelect from "vue-multi-select";

export default {
  components: {
    Filled,
    ErrorMessage,
    InputText,
    InputNumber,
    Textarea,
    VueMultiSelect,
    Label
  },
  data() {
    return {
      limitCharacteristics: 9,
      difficulties: [],
      types: [],
      btnLabel: value => (value.length ? value.toString() : "Seleccionar"),
      one: {
        title: "",
        description: "",
        price: "",
        characteristics: [],
        activity_difficulty: [],
        activity_type: []
      },
      errors: {}
    };
  },
  props: {
    data: {
      name: Object,
      default: () => {}
    }
  },
  methods: {
    addCharacteristic() {
      const countCharacteristicsCreated = this.one.characteristics.length;

      if (countCharacteristicsCreated < this.limitCharacteristics) {
        this.one.characteristics.push({
          concept: "",
          value: ""
        });
      }
    },
    removeCharacteristic(index) {
      this.one.characteristics.splice(index, 1);
    },
    getData() {
      let objectToFormData = {
        title: this.one.title,
        description: this.one.description,
        price: this.one.price,
        activity_type: this.one.activity_type || "",
        activity_difficulty: this.one.activity_difficulty || ""
      };

      this.one.characteristics.map((characteristic, index) => {
        objectToFormData[`characteristics[${index}][concept]`] =
          characteristic.concept;
        objectToFormData[`characteristics[${index}][value]`] =
          characteristic.value;
      });

      const formData = this.$formData(objectToFormData);

      this.$emit("data", formData, this.one, "one");
    },
    setErrors(errors) {
      this.errors = this.$errorHandler(errors);
    },
    async getTypes() {
      await activityService
        .types()
        .then(response => {
          this.types = response.data.types;
          this.one.activity_type = [this.data.activity_type];
        })
        .catch(() => {});
    },
    async getDifficulties() {
      await activityService
        .difficulties()
        .then(response => {
          this.difficulties = response.data.difficulties;
          this.one.activity_difficulty = [this.data.activity_difficulty];
        })
        .catch(() => {});
    }
  },
  async created() {
    this.$parent.$on("getDataFromStepOne", this.getData);
    this.$parent.$on("setErrorsFromStepOne", this.setErrors);

    await Promise.all([this.getTypes(), this.getDifficulties()]);

    if (this.data.title) {
      this.one.title = this.data.title;
      this.one.description = this.data.description;
      this.one.price = this.data.price;
      this.one.characteristics = this.data.characteristics;
      this.one.activity_difficulty = [this.data.activity_difficulty];
      this.one.activity_type = [this.data.activity_type];
    }
  }
};
</script>

<style lang="scss" scoped>
.quantity-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  padding: 0 !important;
  font-weight: bold;
}
</style>
