<template>
  <div>
    <p class="mb-3 h5">Ubicación</p>
    <vl-map
      :load-tiles-while-animating="true"
      :load-tiles-while-interacting="true"
      data-projection="EPSG:4326"
      style="height: 400px;"
      @click="clickInMap"
      ref="map"
    >
      <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>

      <vl-layer-tile ref="layer">
        <vl-source-osm></vl-source-osm>
      </vl-layer-tile>

      <vl-layer-vector v-if="coordinates.length > 0">
        <vl-feature>
          <vl-geom-point :coordinates="coordinates"></vl-geom-point>

          <vl-style-box>
            <vl-style-icon src="/assets/misc/marker.png"></vl-style-icon>
          </vl-style-box>
        </vl-feature>
      </vl-layer-vector>
    </vl-map>
    <small
      class="d-block"
    >Al hacer click en el mapa se agregara un marcador con la ubicación del mismo, si te equivocaste con la ubicación podras hacer click en otra parte del mapa y este se desplazara</small>
    <ErrorMessage :msg="errors.longitude"></ErrorMessage>
  </div>
</template>

<script>
const ErrorMessage = () => import("~m/common/input/ErrorMessage");

export default {
  components: {
    ErrorMessage
  },
  data() {
    return {
      two: {
        latitude: "",
        longitude: ""
      },
      errors: {},
      coordinates: [],
      zoom: parseInt(localStorage.getItem("zoom")),
      center: [
        parseFloat(localStorage.getItem("longitude")),
        parseFloat(localStorage.getItem("latitude"))
      ],
      rotation: 0
    };
  },
  props: {
    data: {
      name: Object,
      default: () => {}
    }
  },
  methods: {
    getData() {
      const formData = this.$formData(this.two);
      this.$emit("data", formData, this.two, "two");
    },
    setErrors(errors) {
      this.errors = this.$errorHandler(errors);
    },
    clickInMap(e) {
      this.features = [
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [e.coordinate[0], e.coordinate[1]]
          },
          properties: {}
        }
      ];

      this.coordinates = [e.coordinate[0], e.coordinate[1]];
      this.two.latitude = e.coordinate[1];
      this.two.longitude = e.coordinate[0];
    }
  },
  created() {
    this.$parent.$on("getDataFromStepTwo", this.getData);
    this.$parent.$on("setErrorsFromStepTwo", this.setErrors);

    if (this.data.latitude) {
      this.two.latitude = this.data.latitude;
      this.two.longitude = this.data.longitude;
      this.coordinates = [this.data.longitude, this.data.latitude];
      this.center = [this.data.longitude, this.data.latitude];
    }
  }
};
</script>

<style>
</style>