<template>
  <canvas :width="width" :height="height" :id="id"></canvas>
</template>

<script>
import Chart from "chart.js/dist/Chart.js";

export default {
  data() {
    return {
      chart: null
    };
  },
  props: {
    id: {},
    width: {},
    height: {},
    type: {
      name: String,
      default: "line"
    },
    title: {},
    labels: {
      name: Array,
      default: () => [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ]
    },
    data: {
      name: Array
    },
    fill: {
      name: Boolean,
      default: true
    },
    backgroundColor: {
      name: Array,
      default: () => ["rgba(59, 189, 209, 1)", "rgba(255, 255, 255, 0.0)"]
    },
    borderColor: {
      name: String,
      default: "rgba(59, 189, 209, 1)"
    },
    borderWidth: {
      name: Number,
      default: 2
    }
  },
  watch: {
    data() {
      this.chart.destroy();
      this.init();
    }
  },
  methods: {
    init() {
      var ctx = document.getElementById(this.id).getContext("2d");

      let gradient = ctx.createLinearGradient(0, 0, 0, 400);
      this.backgroundColor.forEach((element, index) => {
        gradient.addColorStop(index, element);
      });

      this.chart = new Chart(ctx, {
        type: this.type,
        options: {
          responsive: true,
          drawOnChartArea: false,
          legend: {
            display: false
          },
          tooltips: {
            backgroundColor: "rgba(255,255,255,1)",
            titleFontFamily: "Varela",
            titleFontColor: "#495057",
            bodyFontFamily: "Varela",
            bodyFontColor: "#636363",
            bodyFontStyle: "500",
            displayColors: false
          },
          scales: {
            xAxes: [
              {
                display: true,
                gridLines: {
                  display: false
                }
              }
            ],
            yAxes: [
              {
                display: true,
                gridLines: {
                  display: false
                },
                ticks: {
                  beginAtZero: true
                }
              }
            ]
          }
        },
        data: {
          labels: this.labels,
          datasets: [
            {
              label: this.title,
              data: this.data,
              fill: this.fill,
              backgroundColor: gradient,
              borderColor: this.borderColor,
              borderWidth: this.borderWidth ? this.borderWidth : 1
            }
          ]
        }
      });
    }
  },
  mounted() {
    this.init();
  }
};
</script>
