<template>
  <div>
    <h2
      class="h5 pb-3"
    >{{results.total | number("0a")}} {{ results.total | pluralize(['Actividad', 'Actividades']) }}</h2>
    <Loader v-if="firstLoading" :isLoading="firstLoading"></Loader>
    <ActivitiesList
      v-else-if="results.activities.length"
      :activities="results.activities"
      :hasMore="results.hasMore"
      :page="results.page"
      :isLoading="isLoading"
      @next="nextActivitiesPage()"
      @refreshActivities="refreshActivities"
      @refresh="refresh"
    ></ActivitiesList>

    <Empty v-else title="Todavia no publicaste ninguna actividad"></Empty>
  </div>
</template>

<script>
const Loader = () => import("~m/common/misc/Loader");
const ActivitiesList = () => import("./components/ActivitiesList");
const Empty = () => import("~m/common/empty/Empty");

import activityService from "~c/services/user/activityService";

export default {
  components: {
    ActivitiesList,
    Empty,
    Loader
  },
  data() {
    return {
      firstLoading: true,
      isLoading: false,
      results: {
        activities: [],
        hasMore: false,
        page: 1,
        total: 0
      }
    };
  },
  name: "Dashboard",
  methods: {
    refresh(id) {
      const activities = this.results.activities.filter(
        activity => id != activity.id
      );

      this.results.activities = activities;

      if (!activities.length) {
        this.results.page = 1;
        this.getActivities();
      }

      this.getActivitiesTotal();
    },
    refreshActivities() {
      this.results.page = 1;
      this.results.activities = [];
      this.getActivities();
    },
    nextActivitiesPage() {
      this.results.page = parseInt(this.results.page) + 1;

      this.getActivities();
    },
    getActivitiesTotal() {
      activityService
        .getTotalMyActivities()
        .then(response => {
          this.results.total = response.data.total;
        })
        .catch(() => {});
    },
    getActivities() {
      this.isLoading = true;

      activityService
        .myActivities(this.results.page)
        .then(response => {
          this.results.activities = this.results.activities.concat(
            response.data.activities
          );
          this.results.page = response.data.current_page;
          this.results.hasMore = response.data.has_more;
        })
        .catch(() => {})
        .finally(() => {
          this.isLoading = false;
          this.firstLoading = false;
        });
    }
  },
  created() {
    this.$title("Mis actividades");

    this.getActivities();
    this.getActivitiesTotal();
  }
};
</script>

<style lang="scss" scoped></style>
