<template>
  <div>
    <div v-if="$store.getters.isAdmin">
      <Loader :isLoading="isLoadingReports"></Loader>
      <h2 class="h5 pb-3">Reportes</h2>

      <b-table :fields="fields" striped responsive :items="results.reports">
        <template v-slot:table-caption>
          <Pagination
            @next="nextPage"
            @prev="prevPage"
            :isLoadingPrevPage="isLoadingPrevPage"
            :isLoadingNextPage="isLoadingNextPage"
            :page="results.page"
            :hasMore="results.hasMore"
          ></Pagination>
        </template>

        <template v-slot:cell(activity_id)="data">
          <router-link
            v-if="data.value"
            :to="route('public.activities.view', { id: data.value })"
            target="_blank"
            class="text-primary"
          >{{ data.value }}</router-link>
        </template>

        <template v-slot:cell(activity_qualification_id)="data">
          <Filled
            color="light"
            v-if="data.item.activity_qualification_id"
            @click="showQualification(data.item.activity_qualification_id)"
          >
            <template #content>
              <i class="lni lni-eye"></i>
            </template>
          </Filled>
        </template>

        <template v-slot:cell(report_type_id)="data">
          {{
          $t(data.item.type.name)
          }}
        </template>

        <template v-slot:cell(username)="data">
          <router-link
            :to="route('public.profile', { username: data.item.user.username })"
            target="_blank"
            class="text-primary"
          >{{ data.item.user.username }}</router-link>
        </template>

        <template v-slot:cell(actions)="data">
          <Filled
            @click="
            openReportModal(
              data.item.id,
              data.item.activity_qualification_id ? 'qualification' : 'activity'
            )
          "
          >
            <template #content>
              <i class="lni lni-share" title="Accionar"></i>
            </template>
          </Filled>
        </template>
      </b-table>
      <ReportModal @refresh="refresh"></ReportModal>
      <QualificationModal></QualificationModal>
    </div>
    <div v-else>
      <NotFoundContent></NotFoundContent>
    </div>
  </div>
</template>
<i18n src="~c/locales/report.json"></i18n>
<script>
const Pagination = () => import("~m/common/misc/Pagination");
const ReportModal = () => import("./components/ReportModal");
const QualificationModal = () => import("./components/QualificationModal");
const Filled = () => import("~m/common/button/Filled");
const Loader = () => import("~m/common/misc/Loader");
const NotFoundContent = () =>
  import("~m/common/notfound/components/NotFoundContent");

import adminService from "~c/services/admin/reportService";

export default {
  name: "User",
  components: {
    Filled,
    Pagination,
    ReportModal,
    QualificationModal,
    NotFoundContent,
    Loader
  },
  data() {
    return {
      isLoadingReports: true,
      isLoadingPrevPage: false,
      isLoadingNextPage: false,
      results: {
        reports: [],
        hasMore: false,
        page: 1
      },
      fields: [
        {
          key: "id",
          sortable: false,
          thClass: "f-14  text-text text-center",
          tdClass: "f-14  text-title text-center"
        },
        {
          key: "activity_id",
          label: "Actividad",
          sortable: false,
          thClass: "f-14  text-text text-center",
          tdClass: "f-14  text-title text-center"
        },
        {
          key: "activity_qualification_id",
          label: "Calificación",
          sortable: false,
          thClass: "f-14  text-text text-center",
          tdClass: "f-14  text-title text-center"
        },
        {
          key: "report_type_id",
          label: "Motivo",
          sortable: false,
          thClass: "f-14  text-text text-center",
          tdClass: "f-14  text-title text-center"
        },
        {
          key: "comment",
          label: "Comentario",
          sortable: false,
          thClass: "f-14  text-text text-center",
          tdClass: "f-14  text-title text-center"
        },
        {
          key: "username",
          label: "Usuario reportador",
          sortable: false,
          thClass: "f-14  text-text text-center",
          tdClass: "f-14  text-title text-center"
        },
        {
          key: "actions",
          label: "Acciones",
          sortable: false,
          thClass: "f-14  text-text text-center",
          tdClass: "f-14  text-title text-center"
        }
      ]
    };
  },
  methods: {
    openReportModal(id, type) {
      this.$emit("openReportModal", id, type);
    },
    showQualification(id) {
      this.$emit("openQualificationModal", id);
    },
    prevPage() {
      this.results.page -= 1;
      this.isLoadingPrevPage = true;
      this.getReports();
    },
    nextPage() {
      this.results.page += 1;
      this.isLoadingNextPage = true;
      this.getReports();
    },
    refresh() {
      this.results.page = 1;
      this.getReports();
    },
    getReports() {
      adminService
        .reports(this.results.page)
        .then(response => {
          this.results.reports = response.data.reports;
          this.results.page = response.data.current_page;
          this.results.hasMore = response.data.has_more;
        })
        .catch(() => {})
        .finally(() => {
          this.isLoadingReports = false;
          this.isLoadingNextPage = false;
          this.isLoadingPrevPage = false;
        });
    }
  },
  created() {
    if (this.$store.getters.isAdmin) {
      this.$title("Reportes");
      this.getReports();
    }
  }
};
</script>

<style></style>
