<template>
  <div>
    <Header></Header>
    <section class="banner-home">
      <div class="welcome container">
        <vue-typed-js
          :strings="['busca', 'disfruta', 'ofrece']"
          :typeSpeed="80"
          :backSpeed="200"
          :startDelay="2000"
          :loopCount="100"
          :loop="true"
          class="text-center"
        >
          <h1 class="mb-3">
            En estas vacaciones
            <span class="typing"></span>
          </h1>
        </vue-typed-js>
        <Search></Search>
      </div>
    </section>
    <section class="activities-examples pt-5 container">
      <div class="row">
        <div class="col-md-3 pt-5">
          <p class="pt-5 pl-2">
            Encontra las actividades que mas se adecuen a vos en tus proximas
            vacaciones
          </p>
        </div>
        <div class="col-md-9 p-0 position-relative">
          <ActivitiesExample></ActivitiesExample>
        </div>
      </div>
    </section>

    <section class="mt-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <ActivitiesTop @openLogin="openLogin" :activities="topActivities"></ActivitiesTop>
          </div>
          <div class="col-md-3 pt-5">
            <h2 class="h4 mt-5">Destacado de la semana</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="container">
      <h3 class="h4">Destinos de la semana</h3>
      <div class="mt-3">
        <CitiesList :cities="topLocations"></CitiesList>
      </div>
    </section>

    <section class="container list-activities mt-5 pb-5">
      <h4 class="h4">Lo mas reciente</h4>
      <div class="mt-3">
        <ActivitiesList @openLogin="openLogin" :activities="recentActivities"></ActivitiesList>
      </div>

      <div class="text-center">
        <router-link :to="route('public.activities.search')">
          <Filled text="Ver más"></Filled>
        </router-link>
      </div>
    </section>

    <Modal v-if="!$store.getters.isLoggedIn" :type="modalCodes"></Modal>
    <Footer></Footer>
  </div>
</template>

<script>
const Header = () => import("~m/common/header/Header");
const Footer = () => import("~m/common/footer/Footer");
const CitiesList = () => import("./components/CitiesList");
const Search = () => import("../common/Search");
const ActivitiesList = () => import("~m/common/activities/ActivitiesList");
const Filled = () => import("~m/common/button/Filled");
const Modal = () => import("./components/Modal");
const ActivitiesTop = () => import("./components/ActivitiesTop");
const ActivitiesExample = () => import("./components/ActivitiesExample");

const queryString = require("query-string");
import activityService from "~c/services/user/activityService";
import locationService from "~c/services/user/locationService";

export default {
  name: "Home",
  components: {
    Footer,
    CitiesList,
    ActivitiesList,
    Search,
    Filled,
    Modal,
    ActivitiesTop,
    ActivitiesExample,
    Header
  },
  data() {
    return {
      modalCodes: false,
      topActivities: [],
      topLocations: [],
      recentActivities: []
    };
  },
  methods: {
    openLogin() {
      this.$emit("openLogin");
    }
  },
  created() {
    this.$title("Actividades de Argentina");
    const parsed = queryString.parse(location.search);

    if (parsed.v) {
      this.modalCodes = "verification";
    }

    if (parsed.rp) {
      this.modalCodes = "reset";
    }

    activityService
      .top()
      .then(response => {
        this.topActivities = response.data.activities;
      })
      .catch(() => {});

    activityService
      .recents()
      .then(response => {
        this.recentActivities = response.data.activities;
      })
      .catch(() => {});

    locationService
      .top()
      .then(response => {
        this.topLocations = response.data.locations;
      })
      .catch(() => {});
  }
};
</script>

<style scoped lang="scss">
.banner-home {
  position: relative;
  background: url(/assets/backgrounds/banner-home.jpg) no-repeat center -350px;
  background-size: cover;
  height: 300px;

  .welcome {
    position: absolute;
    text-align: center;
    top: 30%;
    bottom: 0%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    z-index: 5;
  }

  h1 {
    font-size: 42px;
    line-height: 1;
    color: $light !important;
    text-align: center;
    display: block;
    width: 100%;
  }

  h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
  }
}

.activities-examples {
  p {
    font-size: 20px;
  }
}
</style>
