<template>
  <div>
    <Loader v-if="isLoading" :isLoading="isLoading"></Loader>
    <div v-else-if="isValid">
      <div class="container mt-3 mb-5">
        <div>
          <h2 class="h5 pb-3">Estadisticas de tu actividad</h2>
          <div class="row text-center">
            <div
              class="col-md-4"
              :class="selectedEntity == 'visits' ? 'active' : ''"
              @click="chartOf('visits')"
            >
              <div class="wrapper pt-5 pb-5 m-1">
                <i class="lni lni-eye f-36 pb-3 text-primary"></i>
                <Spinner color="secondary" v-if="visitsAreLoading"></Spinner>
                <p v-else class="f-24">{{ visitsTotal | number("0a") }}</p>
                <p>Visitas</p>
              </div>
            </div>

            <div
              class="col-md-4"
              :class="selectedEntity == 'qualifications' ? 'active' : ''"
              @click="chartOf('qualifications')"
            >
              <div class="wrapper pt-5 pb-5 m-1">
                <i class="lni lni-pencil-alt pb-3 f-36 text-primary"></i>
                <Spinner color="secondary" v-if="qualificationsAreLoading"></Spinner>
                <p v-else class="f-24">{{ qualificationsTotal | number("0a") }}</p>
                <p>Reseñas</p>
              </div>
            </div>

            <div
              class="col-md-4"
              :class="selectedEntity == 'qualification' ? 'active' : ''"
              @click="chartOf('qualification')"
            >
              <div class="wrapper pt-5 pb-5 m-1">
                <i class="lni lni-star f-36 pb-3 text-primary"></i>
                <Spinner color="secondary" v-if="qualificationIsLoading"></Spinner>
                <p v-else class="f-24">{{ qualificationTotal }}</p>
                <p>Calificación</p>
              </div>
            </div>
          </div>

          <div class="d-block pt-3 pb-3">
            <h3 class="d-inline-block mr-2 h5">{{ title }}</h3>
            <Year class="d-inline-block" v-model="year"></Year>
          </div>

          <chart width="1000" height="400" id="chart1" :data="data"></chart>

          <h3 class="h5 pt-3 pb-3">Interacciones con la actividad</h3>
          <div class="networks row text-center">
            <div class="col-md-2">
              <i class="lni lni-linkedin text-white border-radius mb-3" title="Linkedin"></i>
              <Spinner color="secondary" v-if="linkedinIsLoading"></Spinner>
              <p v-else class="f-24">{{ linkedinTotal | number("0a") }}</p>
            </div>
            <div class="col-md-2">
              <i class="lni lni-postcard text-white border-radius mb-3" title="Email"></i>
              <Spinner color="secondary" v-if="emailIsLoading"></Spinner>
              <p v-else class="f-24">{{ emailTotal | number("0a") }}</p>
            </div>
            <div class="col-md-2">
              <i class="lni lni-facebook text-white border-radius mb-3" title="Facebook"></i>
              <Spinner color="secondary" v-if="facebookIsLoading"></Spinner>
              <p v-else class="f-24">{{ facebookTotal | number("0a") }}</p>
            </div>
            <div class="col-md-2">
              <i class="lni lni-twitter text-white border-radius mb-3" title="Twitter"></i>
              <Spinner color="secondary" v-if="twitterIsLoading"></Spinner>
              <p v-else class="f-24">{{ twitterTotal | number("0a") }}</p>
            </div>
            <div class="col-md-2">
              <i class="lni lni-whatsapp text-white border-radius mb-3" title="Whatsapp"></i>
              <Spinner color="secondary" v-if="whatsappIsLoading"></Spinner>
              <p v-else class="f-24">{{ whatsappTotal | number("0a") }}</p>
            </div>
            <div class="col-md-2">
              <i class="lni lni-telegram text-white border-radius mb-3" title="Telegram"></i>
              <Spinner color="secondary" v-if="telegramIsLoading"></Spinner>
              <p v-else class="f-24">{{ telegramTotal | number("0a") }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <NotFound></NotFound>
    </div>
  </div>
</template>

<script>
const Chart = () => import("~m/common/chart/Chart");
const Spinner = () => import("~m/common/misc/Spinner");
const Loader = () => import("~m/common/misc/Loader");
const NotFound = () => import("~m/common/notfound/NotFound");
const Year = () => import("../../common/Year");

import activityService from "~c/services/user/activityService";
import visitService from "~c/services/user/visitService";
import qualificationService from "~c/services/user/qualificationService";
import qualificationsService from "~c/services/user/qualificationsService";
import buildChartMonths from "../../helpers/buildChartMonths";

export default {
  components: {
    Chart,
    Spinner,
    Loader,
    NotFound,
    Year
  },
  data() {
    return {
      visitsTotal: 0,
      qualificationsTotal: 0,
      qualificationTotal: 0,
      linkedinTotal: 0,
      emailTotal: 0,
      facebookTotal: 0,
      twitterTotal: 0,
      whatsappTotal: 0,
      telegramTotal: 0,
      visitsAreLoading: true,
      qualificationsAreLoading: true,
      qualificationIsLoading: true,
      linkedinIsLoading: true,
      emailIsLoading: true,
      facebookIsLoading: true,
      twitterIsLoading: true,
      whatsappIsLoading: true,
      telegramIsLoading: true,
      title: "",
      data: {},
      dataEntity: {},
      selectedEntity: "",
      id: "",
      isLoading: true,
      isValid: true,
      year: ""
    };
  },
  watch: {
    year(val) {
      this.year = val;
      this.chartOf(this.selectedEntity);
    }
  },
  methods: {
    async chartOf(entity) {
      if (this.selectedEntity == entity) {
        return;
      }

      this.selectedEntity = entity;

      if (this.dataEntity[entity]) {
        this.data = this.dataEntity[entity];
        return;
      }

      let data = [];
      switch (entity) {
        case "visits":
          this.title = "Visitas por mes";
          data = await visitService
            .statisticsPerMonth(this.id, this.year)
            .then(response => response.data.visits)
            .catch(() => {});
          break;

        case "qualifications":
          this.title = "Calificaciones recibidas por mes";
          data = await qualificationsService
            .statisticsPerMonth(this.id, this.year)
            .then(response => response.data.qualifications)
            .catch(() => {});
          break;

        case "qualification":
          this.title = "Reputación por mes";
          data = await qualificationService
            .statisticsPerMonth(this.id, this.year)
            .then(response => response.data.qualifications)
            .catch(() => {});
          break;
      }

      this.dataEntity[entity] = buildChartMonths(data || []);
      this.data = this.dataEntity[entity];
    },
    getCounters() {
      visitService
        .statisticsTotal(this.id)
        .then(response => {
          this.visitsTotal = response.data.total;
        })
        .catch(() => {})
        .finally(() => {
          this.visitsAreLoading = false;
        });

      qualificationsService
        .statisticsTotal(this.id)
        .then(response => {
          this.qualificationsTotal = response.data.total;
        })
        .catch(() => {})
        .finally(() => {
          this.qualificationsAreLoading = false;
        });

      qualificationService
        .statisticsTotal(this.id)
        .then(response => {
          this.qualificationTotal = response.data.total;
        })
        .catch(() => {})
        .finally(() => {
          this.qualificationIsLoading = false;
        });
    },
    getSharesIn() {
      const sharedIn = [
        {
          sharedIn: "linkedin",
          counter: "linkedinTotal",
          loader: "linkedinIsLoading"
        },
        {
          sharedIn: "email",
          counter: "emailTotal",
          loader: "emailIsLoading"
        },
        {
          sharedIn: "facebook",
          counter: "facebookTotal",
          loader: "facebookIsLoading"
        },
        {
          sharedIn: "twitter",
          counter: "twitterTotal",
          loader: "twitterIsLoading"
        },
        {
          sharedIn: "whatsapp",
          counter: "whatsappTotal",
          loader: "whatsappIsLoading"
        },
        {
          sharedIn: "telegram",
          counter: "telegramTotal",
          loader: "telegramIsLoading"
        }
      ];

      sharedIn.forEach(elem => {
        activityService
          .sharedIn(this.id, elem.sharedIn)
          .then(response => {
            this[elem.counter] = response.data.total;
          })
          .catch(() => {})
          .finally(() => {
            this[elem.loader] = false;
          });
      });
    }
  },
  created() {
    this.id = this.$route.params.subSection;

    activityService
      .statistics(this.id)
      .then(response => {
        this.year = new Date(response.data.activity.created_at).getFullYear();

        this.$title("Estadisticas");

        this.getCounters();
        this.getSharesIn();

        this.chartOf("visits");
      })
      .catch(() => {
        this.isValid = false;
      })
      .finally(() => {
        this.isLoading = false;
      });
  }
};
</script>

<style lang="scss" scoped>
.col-md-4 {
  transition: $transition-base;
  cursor: pointer;
  &:hover .wrapper,
  &.active .wrapper {
    transition: $transition-base;
    background: $background-light-grey;
    border-radius: $border-radius;
  }
}

.networks {
  .lni {
    font-size: 20px;
    padding: 10px;
    &.lni-facebook {
      background: $color-facebook;
    }

    &.lni-twitter {
      background: $color-twitter;
    }

    &.lni-postcard {
      background: $color-email;
    }

    &.lni-linkedin {
      background: $color-linkedin;
    }

    &.lni-whatsapp {
      background: $color-whatsapp;
    }

    &.lni-telegram {
      background: $color-telegram;
    }
  }
}
</style>
