<template>
  <b-button :variant="color" @click="click" class="button p-2" :disabled="isLoading">
    <Spinner class="spinner" :color="skin" :class="isLoading ? 'show' : 'hide'"></Spinner>
    <div :class="isLoading ? 'hide' : 'show'">
      <span v-if="text">{{ text }}</span>
      <div v-else>
        <slot name="content"></slot>
      </div>
    </div>
  </b-button>
</template>

<script>
const Spinner = () => import("../misc/Spinner");

export default {
  name: "Filled",
  components: {
    Spinner
  },
  props: {
    text: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: "primary"
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    skin: {
      type: String
    }
  },
  methods: {
    click() {
      this.$emit("click");
    }
  }
};
</script>

<style lang="scss">
.button {
  transition: $transition-base;
  box-shadow: none !important;
  position: relative;
  border-radius: $border-radius;
  border: none !important;
  font-size: $font-size;
  margin: 0;

  &:hover {
    opacity: 0.9;
    transition: $transition-base;
  }

  &:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .show {
    opacity: 1;
  }

  .hide {
    opacity: 0;
  }

  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.facebook-login,
.btn-primary.facebook-login:not(:disabled):not(.disabled):active {
  background-color: $color-facebook !important;
}

.google-login,
.btn-primary.google-login:not(:disabled):not(.disabled):active {
  background: $color-gmail !important;
}
</style>
