<template>
  <div class="text-center mt-3">
    <Filled :isLoading="isLoading" @click="next" v-if="hasMore">
      <template #content>
        <p>Ver más</p>
      </template>
    </Filled>
  </div>
</template>

<script>
const Filled = () => import("../button/Filled");

export default {
  name: "Pagination",
  components: {
    Filled
  },
  props: {
    hasMore: {
      type: Boolean,
      default: false
    },
    page: {
      default: "1"
    },
    isLoading: {
      default: false
    }
  },
  methods: {
    next() {
      this.$emit("next");
    }
  }
};
</script>
