<template>
  <div v-if="isLoading" :class="!isRelative ? 'fixed' : 'absolute'" class="loader">
    <img width="96" height="96" src="/assets/misc/loader.svg" />
  </div>
</template>

<script>
export default {
  props: {
    isLoading: {
      name: Boolean,
      default: true
    },
    isRelative: {
      name: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.loader {
  background: $light;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  text-align: center;

  &.relative {
    top: 0;
  }
  &.fixed {
    position: fixed;

    img {
      position: absolute;
      top: 40%;
    }
  }

  img {
    margin: auto;
    display: inline-block;
    background: $background-light-grey;
    -webkit-animation: breathing 3s ease-out infinite normal;
    animation: breathing 3s ease-out infinite normal;
    border-radius: 50%;
  }
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
</style>