<template>
  <div class="text-center mt-3" v-if="!showPaginate">
    <Filled
      :isLoading="isLoadingPrevPage"
      color="light"
      skin="dark"
      class="mr-2"
      @click="prev"
      :class="page == 1 ? 'disabled' : ''"
    >
      <template #content>
        <i class="lni lni-arrow-left"></i>
      </template>
    </Filled>
    <Filled :isLoading="isLoadingNextPage" @click="next" :class="!hasMore ? 'disabled' : ''">
      <template #content>
        <i class="lni lni-arrow-right"></i>
      </template>
    </Filled>
  </div>
</template>

<script>
const Filled = () => import("../button/Filled");

export default {
  name: "Pagination",
  components: {
    Filled
  },
  props: {
    hasMore: {
      type: Boolean,
      default: false
    },
    page: {
      default: "1"
    },
    isLoadingPrevPage: {
      default: false
    },
    isLoadingNextPage: {
      default: false
    }
  },
  computed: {
    showPaginate() {
      return this.page == 1 && !this.hasMore;
    }
  },
  methods: {
    next() {
      this.$emit("next");
    },
    prev() {
      this.$emit("prev");
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
