.vdp-datepicker {
    .form-control {
        height: 35px !important;
        background: $light !important;
        cursor: pointer;
        font-size: $font-size;
    }
    .vdp-datepicker__calendar {
        border: 1px solid $border;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        .day-header {
            color: $primary;
            font-weight: bold;
        }
        header span {
            font-size: $font-size;
        }
        .cell:not(.blank):not(.disabled).day:hover,
        .cell:not(.blank):not(.disabled).month:hover,
        .cell:not(.blank):not(.disabled).year:hover,
        .cell.selected {
            background: $primary;
            border: 1px solid transparent;
            color: $light;
            font-weight: bold;
        }
        .cell {
            border-radius: $border-radius;
            font-size: $font-size;
        }
        header .prev:not(.disabled):hover,
        header .next:not(.disabled):hover,
        header .up:not(.disabled):hover {
            background: $background-light-grey;
        }
        header .prev,
        header .next {
            position: relative;
            &::before {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                margin: auto;
                font-family: $font-family-icons;
                font-size: 16px;
                text-indent: initial;
            }
            &:after {
                display: none;
            }
        }
        header .prev {
            &:before {
                content: "\ea1c";
                display: inline-block;
            }
        }
        header .next {
            &:before {
                content: "\ea1e";
                display: inline-block;
            }
        }
    }
}