.light-gallery__image img.loaded {
    border-radius: $border-radius !important;
}

.light-gallery__spinner {
    .light-gallery__dot {
        display: none !important;
    }
    &:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 36px;
        height: 36px;
        margin-top: -18px;
        margin-left: -18px;
        border-radius: 50%;
        border: 2px solid $light;
        border-top-color: rgba(0, 0, 0, 0.1);
        animation: spinner 0.6s linear infinite;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.light-gallery__prev,
.light-gallery__close,
.light-gallery__next {
    background: transparent !important;
    svg {
        display: none;
    }
}

.light-gallery__prev,
.light-gallery__next,
.light-gallery__close {
    transition: $transition-base;
    display: block;
    &:before {
        background: $light;
        padding: 10px;
        border-radius: $border-radius;
        color: $dark;
        font-family: $font-family-icons;
        font-size: 16px;
    }
    &:hover,
    &:active {
        opacity: 0.9;
        transition: $transition-base;
        &:before {
            color: $dark;
            box-shadow: $box-shadow;
        }
    }
    &:active {
        &:before {
            background: #ccc !important;
        }
    }
}

.light-gallery__prev {
    left: -3px !important;
    &:before {
        content: "\ea1c";
    }
}

.light-gallery__close {
    top: 10px !important;
    right: 5px !important;
    margin: 20px 0 0 0 !important;
    padding: 0 !important;
    left: initial !important;
    &:before {
        content: "\ea63";
    }
}

.light-gallery__next {
    left: initial !important;
    right: -3px !important;
    &:before {
        content: "\ea1e";
    }
}