.select {
    width: 100% !important;
    .btn-select {
        width: 100% !important;
        text-align: left !important;
        height: 35px !important;
    }
    .checkboxLayer {
        box-shadow: none !important;
    }
    .helperContainer {
        display: none;
    }
    button {
        transition: $transition-base;
        &:hover {
            transition: $transition-base;
            background: $background-light-grey !important;
        }
    }
    .tab.tab-block {
        display: none !important;
    }
    .checkBoxContainer {
        padding: 0 !important;
    }
    .margin-left-20 {
        margin: 0 !important;
        padding: 0 0 0 5px !important;
    }
    .selectItem {
        min-width: inherit !important;
        min-height: inherit !important;
        padding: 5px 0;
        color: $dark !important;
        font-size: $font-size !important;
        &:hover {
            background: $background-light-grey !important;
        }
    }
    .pretty {
        width: 100%;
        height: 100%;
    }
    .caret {
        display: none !important;
    }
}

.multiselect {
    &>button {
        border: 1px solid $border !important;
        color: $dark !important;
        border-radius: $border-radius !important;
        text-transform: capitalize !important;
        &:hover {
            background: $light !important;
        }
        &:focus,
        &:active {
            border-color: $primary !important;
            outline: none;
        }
    }
    .checkboxLayer {
        width: 255px !important;
        min-width: 100% !important;
        box-shadow: $box-shadow !important;
        z-index: 1 !important;
        border: 1px solid $border !important;
        border-radius: $border-radius !important;
        overflow-x: hidden;
        .checkBoxContainer {
            width: 100% !important;
            max-height: 200px !important;
            .selectList {
                li {
                    span {
                        text-transform: capitalize !important;
                    }
                }
            }
        }
    }
}