.iziToast-wrapper {
    z-index: 9999 !important;
    .iziToast-theme-traveleala {
        border-radius: $border-radius !important;
        cursor: pointer !important;
        min-height: 0 !important;
        padding: 10px !important;
        .iziToast-body {
            padding: 0 !important;
            min-height: 0 !important;
            margin: 0 !important;
        }
        .iziToast-texts {
            margin: 0 !important;
            .iziToast-message {
                color: $light !important;
                font-size: $font-size !important;
                font-family: $font-family-sans-serif-sans-serif;
            }
        }
        &.iziToast-color-red {
            background: $danger !important;
        }
        &.iziToast-color-orange {
            background: $warning !important;
        }
        &.iziToast-color-green {
            background: $success !important;
        }
        &.iziToast-color-blue {
            background: $info !important;
        }
        .iziToast-body .iziToast-title {
            color: $light !important;
        }
        &:after {
            box-shadow: none !important;
        }
    }
}