.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.ps__rail-y {
    display: none;
    opacity: 0;
    background: $light !important;
    width: 6px !important;
    right: 0;
    position: absolute;
}

.ps--active-y>.ps__rail-y {
    display: block;
    background-color: transparent;
}

.ps:hover>.ps__rail-y,
.ps--focus>.ps__rail-y,
.ps--scrolling-y>.ps__rail-y {
    opacity: 0.6;
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y:hover>.ps__thumb-y {
    width: 6px !important;
    background: $body-color;
}

.ps__rail-x {
    display: none !important;
}

.ps__thumb-y {
    border-radius: 6px;
    width: 6px;
    right: 2px;
    position: absolute;
}

@supports (-ms-overflow-style: none) {
    .ps {
        overflow: auto !important;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}