<template>
  <div>
    <h2
      class="h5 pb-3"
    >{{results.total | number("0a")}} {{ results.total | pluralize([type, type]) }}</h2>

    <Loader v-if="firstLoading" :isLoading="firstLoading"></Loader>
    <FollowList
      v-else-if="results.users.length"
      :users="results.users"
      :hasMore="results.hasMore"
      :page="results.page"
      @next="nextPage()"
      @refresh="refresh"
      :isFollower="isFollower"
      :unfollow="!isFollower"
    ></FollowList>

    <Empty v-else :title="`Todavia no tenes ${type}`"></Empty>
  </div>
</template>

<script>
const Loader = () => import("~m/common/misc/Loader");
const FollowList = () => import("./components/FollowList");
const Empty = () => import("~m/common/empty/Empty");

import followService from "~c/services/user/followService";

export default {
  components: {
    FollowList,
    Empty,
    Loader
  },
  props: {
    isFollower: {
      name: Boolean,
      default: false
    }
  },
  data() {
    return {
      firstLoading: true,
      isLoading: false,
      results: {
        users: [],
        hasMore: false,
        page: 1,
        total: 0
      }
    };
  },
  computed: {
    type() {
      return this.isFollower ? "Seguidores" : "Siguiendo";
    }
  },
  methods: {
    refresh(username) {
      if (!this.isFollower) {
        const users = this.results.users.filter(
          user => username != user.username
        );

        this.results.users = users;

        if (!users.length) {
          this.results.page = 1;
          this.get();
        }

        this.getTotal();
      }
    },
    nextPage() {
      this.results.page = this.results.page + 1;

      this.get();
    },
    get() {
      this.isLoading = true;

      const callback = response => {
        if (this.isFollower) {
          this.results.users = this.results.users.concat(
            response.data.followers
          );
        } else {
          this.results.users = this.results.users.concat(
            response.data.followings
          );
        }
        this.results.page = response.data.current_page;
        this.results.hasMore = response.data.has_more;
      };

      if (this.isFollower) {
        followService
          .followers(this.results.page)
          .then(callback)
          .catch(() => {})
          .finally(() => {
            this.isLoading = false;
            this.firstLoading = false;
          });
      } else {
        followService
          .followings(this.results.page)
          .then(callback)
          .catch(() => {})
          .finally(() => {
            this.isLoading = false;
            this.firstLoading = false;
          });
      }
    },
    getTotal() {
      const callbackTotal = response =>
        (this.results.total = response.data.total);
      if (this.isFollower) {
        followService
          .getTotalFollowers(this.results.page)
          .then(callbackTotal)
          .catch(() => {});
      } else {
        followService
          .getTotalFollowings(this.results.page)
          .then(callbackTotal)
          .catch(() => {});
      }
    }
  },
  created() {
    this.$title(this.type);
    this.get();
    this.getTotal();
  }
};
</script>

<style lang="scss" scoped>
ul {
  li {
    border-bottom: 1px solid $border !important;

    & p:before {
      content: "";
      width: 6px;
      height: 6px;
      margin: 0 5px 2px 0;
      border-radius: 50%;
      background: $light;
      display: inline-block;
    }

    &.active p:before {
      content: "";
      width: 6px;
      height: 6px;
      margin: 0 5px 2px 0;
      border-radius: 50%;
      background: $primary;
      display: inline-block;
    }
  }

  li:first-child p {
    padding-top: 0 !important;
  }
}
</style>
