<template>
  <div>
    <Header></Header>
    <!-- Terms -->
    <section class="container">
      <h1 class="h4 mb-3 mt-5 text-center">Terminos y condiciones</h1>
      <p>
        En AgroPro agradecemos la confianza que depositás en nosotros a la hora
        de convertirte en nuestro cliente y creemos que la mejor forma de honrar
        esa confianza es a través de la transparencia y la excelencia en el
        servicio. Por este motivo te pedimos que leas con atención las
        siguientes Términos y Condiciones de utilización del servicio y que te
        comuniques con nosotros ante cualquier duda que pudiera surgir a partir
        de las mismas. Al registrarte en https://www.agropro.ag, incluyendo
        todas las páginas relacionadas a la empresa, a través del sitio web o
        cualquiera de sus subdominios aceptás las prácticas y términos y
        condiciones descritos en esta declaración. La Compañía posee y opera el
        sitio https://www.agropro.ag. Brindamos una herramienta digital que
        complementa la conducción de los cultivos, desde la planificación y
        hasta la cosecha y la evaluación final del negocio, de manera más
        eficiente. El acceso a la plataforma web y aplicación móvil de AgroPro y
        la utilización de sus servicios está sujeto a la aceptación de los
        Términos y Condiciones que se establecen a continuación, junto con la
        Política de Datos y Privacidad. Al acceder como usuario a la Plataforma,
        se entenderá que presta su conformidad con los Términos y Condiciones,
        en adelante “Términos”. Éstos podrán estar sujetos a modificaciones. La
        Compañía se reserva el derecho, a su discreción, de cambiar, modificar,
        añadir o eliminar partes de estos Términos en cualquier momento. En caso
        de algún cambio sustancial, el mismo será notificado al correo
        electrónico informado en el momento de la registración. Sin perjuicio de
        ello, te recomendamos que consultes estos Términos en forma periódica
        para ver si se han registrado cambios. La falta de oposición expresa,
        y/o el uso del Servicio por parte tuya después de la publicación de
        dichos cambios implica la aceptación de los mismos. Si tenés alguna
        pregunta acerca de estos Términos y Condiciones o querés comunicarte con
        nosotros por cualquier razón enviá un correo electrónico a
        soporte@agropro.com. Descripción de la plataforma. El Sitio web y el
        acceso a la plataforma funciona con tu computadora personal y
        dispositivos compatibles (celular, tablet). Para utilizar el Servicio,
        deberás registrarte y crear una cuenta en https://www.agropro.ag. Nos
        reservamos el derecho a realizar actualizaciones periódicas del
        Servicio, con o sin previo aviso. La Plataforma consiste en una
        herramienta vía web dirigida a toda persona humana o jurídica o
        consorcio o unión transitoria u otra forma de asociación que desarrolle
        y/o explote la actividad agrícola y/o actividades afines. A través de la
        misma, se proporciona a los usuarios herramientas de gestión de cultivos
        e información estadística proveniente de análisis de datos registrados
        por los usuarios y por terceros, diagnósticos y recomendaciones y
        alertas personalizadas tendientes a mejorar las actividades enunciadas.
        Alcance del servicio. El alcance del Servicio dependerá del plan al que
        se encuentre suscripto cada cliente. Ver Planes AgroPro. Costo del
        servicio. Los precios del servicio en sus distintas variantes o planes
        pueden ser consultados a través de https://www.agropro.ag/precios. A
        dichos precios se les adicionará el impuesto al Valor Agregado (I.V.A.)
        acorde a su incidencia y/o cualquier otro impuesto que en el futuro se
        cree o lo reemplace. El costo final del servicio puede variar según las
        promociones o descuentos aplicados en cada caso. En dichos casos el
        precio final será aquel que figure en la propuesta de servicio
        presentada por el ejecutivo de ventas. Facturación y pago. La emisión de
        la factura es electrónica y se envía por correo electrónico al
        responsable de cada cuenta, el cual declara conocer y aceptar la
        utilización del servicio. El cliente tiene la responsabilidad de pagar
        por el servicio a mes o año adelantado, según corresponda, para poder
        hacer uso del mismo. Modificación de precios. Todos los precios
        relacionados con el Servicio están sujetos a cambios por la Compañía en
        cualquier momento, sin previo aviso y sin responsabilidad alguna hacia
        el usuario/cliente. La Compañía no ofrece una protección de precios o
        reembolsos en caso de una caída de precios o una oferta promocional.
        Mora de clientes. Los clientes que entren en mora serán notificados en
        dos oportunidades y en caso de no resolver su situación se procederá a
        la suspensión del servicio. Cesión del contrato a terceros. El cliente
        no podrá ceder a terceros su posición contractual o cualquiera de los
        derechos u obligaciones derivados del presente contrato bajo
        apercibimiento de resolver el contrato. Autorización. Cada Empresa y/o
        usuario autoriza a AgroPro a utilizar su nombre, imagen, logo, isotipo o
        marca en el material publicitario creado y distribuido por AgroPro o por
        terceros asociados a la empresa únicamente a los fines del cumplimiento
        de los Servicios. También autoriza a AgroPro a utilizar las imágenes
        subidas por los usuarios a la plataforma a través de las consultas y
        recomendaciones e incluirlas en la galería de fotos de la herramienta.
        Cancelación. AgroPro se reserva el derecho de dar por terminado el
        contrato en forma automática en los siguientes casos: 1. El cliente no
        paga oportunamente el abono correspondiente al plan de Servicio al que
        se encuentra suscripto. Los precios pueden ser consultados a través de
        la página de precios de la compañía (https://www.agropro.ag/precios). 2.
        Se produce la baja final del Servicio AgroPro brindado al cliente. 3. El
        cliente es declarado insolvente, en estado de quiebra y/o se encuentra
        en proceso de disolución y liquidación previsto en la Ley General de
        Sociedades. AgroPro se reserva el derecho de hacer uso de las presentes
        Condiciones Legales comunicándole al Cliente con anticipación
        suficiente, sin que dicha resolución ocasione cargo alguno al Cliente ni
        genere en su favor derechos de ninguna clase. Terminación. La Compañía
        se reserva el derecho a dar por terminada su Cuenta de AgroPro y/o el
        acceso por parte de usted al Servicio si infringe los Términos y
        Condiciones del Servicio. Si se diera por terminada su membresía y
        suscripción(es) de AgroPro al Servicio, no serán reembolsables las
        cuotas ni los cargos. Responsabilidad por la información contenida en la
        plataforma. Al utilizar el Servicio, el usuario/cliente autoriza la
        recopilación, procesamiento y utilización de toda aquella información
        relacionada con el uso que hace del Servicio, la cual se recopila y
        maneja de conformidad con los términos de nuestra Política de Datos y
        Privacidad. AgroPro y/o los terceros asociados a la empresa no se
        responsabilizan por los daños y perjuicios que pudiera ocasionar la
        implementación o el uso de la información que provee la Plataforma, ya
        sea a través de los diferentes módulos que provee la herramienta o de
        los diagnósticos y recomendaciones de expertos recibidas a través de
        ella. En ningún caso AgroPro o los terceros asociados a la empresa
        responderá ante el Usuario por el lucro cesante, la pérdida de chances
        y/o toda consecuencia mediata o daño indirecto derivado de cualquier
        circunstancia que se vincule con la Plataforma. Riesgo de uso. Ni la
        Compañía ni sus Afiliadas asumirán responsabilidad alguna y no serán
        responsables por ningún daño o virus que provoque algún daño a su
        computadora u otra propiedad como consecuencia del acceso, uso, descarga
        o navegación por el Servicio. Uso de marcas. No puede utilizar ninguna
        de las marcas comerciales que se encuentran dentro del Servicio, salvo
        lo especificado en el presente y de conformidad con la legislación
        aplicable. No puede copiar, exhibir o utilizar ninguna de las marcas
        comerciales sin el permiso previo por escrito del propietario. Cualquier
        uso no autorizado podría violar las leyes de marcas comerciales, las
        leyes de privacidad y publicidad, así como las leyes civiles o penales.
        Las marcas que figuran a continuación son marcas registradas de la
        Compañía, sus casas matrices directas o indirectas, y/o sus Afiliadas,
        licenciadores o terceros propietarios. Usuario. Para ser Usuario de la
        Plataforma, la persona deberá ser mayor de edad y contar con la
        capacidad legal de contratar. Para el caso que el Usuario se registre en
        representación de una sociedad o consorcios, uniones transitorias u
        otras formas de asociación deberá tener facultades para contratar y
        obligar a la misma en los Términos y Condiciones del presente acuerdo. A
        tales fines, el Usuario deberá completar el formulario de registro en
        todos sus campos. Los campos deberán completarse con su información
        personal y/o societaria de manera exacta, precisa y verdadera. El
        Usuario declara bajo juramento que la información proporcionada es
        verdadera y que posee las facultades suficientes para realizar las
        operaciones para las que se registra. El Usuario garantiza y responde,
        en todos los casos, por la veracidad, vigencia y autenticidad de los
        datos personales, societarios e información suministrada. Agropro se
        reserva el derecho de solicitar datos adicionales para el caso de
        Usuarios que realicen transacciones que requieran de facultades
        adicionales exigidas por ley o por las políticas actuales o futuras de
        la Plataforma. Agropro se reserva el derecho de solicitar en cualquier
        momento documentación o comprobantes para corroborar la veracidad y
        exactitud de los datos personales y/o societarios suministrados por el
        Usuario. Agropro se reserva el derecho de rechazar cualquier solicitud
        de registración o de cancelar una registración previamente aceptada, sin
        que esté obligado a comunicar o exponer las razones de su decisión y sin
        que ello genere algún derecho a indemnización o resarcimiento. Mención
        del usuario como cliente de AgroPro. El Usuario, al registrarse en la
        Plataforma, autoriza a AgroPro a mencionarlo como cliente, así como
        publicar su nombre, marcas y/o logotipo y/o isotipo, y/o cualquier otro
        signo que lo represente e identifique con el fin de dar a conocer su
        presencia y/o actividad. Propiedad intelectual. Enlaces. La Plataforma
        como así también los programas, bases de datos, redes, archivos que
        permiten al Usuario acceder y usar su Cuenta, son de propiedad de
        AgroPro. El uso indebido y la reproducción total o parcial de dichos
        contenidos quedan prohibidos, salvo autorización expresa y por escrito
        de AgroPro. La retransmisión o publicación de cualquier material
        obtenido desde la Plataforma se encuentra prohibida sin el previo
        consentimiento escrito de AgroPro.
      </p>
    </section>
    <Footer></Footer>
  </div>
</template>

<script>
const Header = () => import("~m/common/header/Header");
const Footer = () => import("~m/common/footer/Footer");

export default {
  components: {
    Footer,
    Header
  },
  created() {
    this.$title("Terminos y condiciones");
  }
};
</script>

<style scoped lang="scss"></style>
