<template>
  <div class="activity-item d-flex justify-content-between">
    <div>
      <div class="image mr-3">
        <router-link :to="route('public.activities.view', { id: activity.id })">
          <v-lazy-image :src="activity.portrait.image_url" class="img-fluid" :alt="activity.title" />
        </router-link>

        <Favorite :favorite="favorite" :id="activity.id"></Favorite>
      </div>
    </div>

    <div class="mr-auto basic-information">
      <p>
        <router-link
          class="text-title pr-1"
          :to="route('public.activities.view', { id: activity.id })"
          :title="activity.title"
        >{{ activity.title }}</router-link>
        <Rate :rate="activity.qualification"></Rate>
      </p>
      <p class="mb-1 f-14" :title="activity.location">{{ activity.location | truncate(30) }}</p>

      <p v-if="activity.price != 0">
        <span
          class="text-secondary"
          v-if="activity.price != 0"
        >{{ activity.price | currency("$", 0, { thousandsSeparator: "." }) }}</span>
      </p>
      <p v-else class="f-14 text-secondary">Gratis</p>
    </div>
    <div class="mr-auto">
      <p class="f-14">
        Estado:
        <span class="font-weight-bold">{{ $t(activity.state.name) }}</span>
      </p>
      <p class="f-14">
        Tipo de publicación :
        <span class="font-weight-bold">
          {{
          $t(activity.subscription.publish_type.name)
          }}
        </span>
      </p>
      <p class="f-14" v-if="!expired && activity.state.name != 'expired'">
        Vence en
        <span class="font-weight-bold">
          {{ expiredAt }}
          días
        </span>
      </p>
      <p class="f-14" v-else-if="activity.subscription.expire_at">Expirado</p>
      <p class="f-14" v-else>
        Tiempo:
        <span class="font-weight-bold">Ilimitado</span>
      </p>
    </div>
    <div class="pl-1">
      <b-dropdown
        size="sm"
        variant="link"
        right
        toggle-class="p-0"
        title="Opciones"
        no-caret
        :lazy="true"
      >
        <template v-slot:button-content>
          <i class="lni lni-more-alt f-16"></i>
        </template>
        <b-dropdown-item
          :to="route('user.activities.statistics', { id: activity.id })"
          v-if="activity.subscription.amount != 0"
          class="f-14"
        >Estadisticas</b-dropdown-item>
        <b-dropdown-item
          :to="route('user.activities.update', { id: activity.id })"
          class="f-14"
        >Editar</b-dropdown-item>
        <b-dropdown-item
          class="f-14"
          v-if="
            (expired && activity.subscription.expire_at) ||
              activity.state.name == 'expired'
          "
          @click="changeCategory('renew')"
        >Renovar</b-dropdown-item>
        <b-dropdown-item
          class="f-14"
          v-if="
            (!expired ||
              !activity.subscription.expire_at ||
              activity.subscription.expire_at) &&
              activity.state.name != 'expired'
          "
          @click="changeCategory('recategorize')"
        >Recategorizar</b-dropdown-item>
        <b-dropdown-item
          class="f-14"
          v-if="
            activity.subscription.amount != 0 && !activity.subscription.paid_out
          "
          @click.native="pay()"
        >Pagar</b-dropdown-item>
        <b-dropdown-item @click.native="deleteActivity()" class="f-14">Eliminar</b-dropdown-item>
      </b-dropdown>
    </div>
  </div>
</template>
<i18n src="~c/locales/activityPublish.json"></i18n>
<script>
const Favorite = () => import("~m/common/favorite/Favorite");
const Rate = () => import("~m/common/rate/Rate");

export default {
  components: {
    Favorite,
    Rate
  },
  props: {
    activity: Object
  },
  data() {
    return {
      favorite: this.activity.favorite
    };
  },
  methods: {
    pay() {
      this.$emit("pay", this.activity.id);
    },
    deleteActivity() {
      this.$emit("deleteActivity", this.activity.id);
    },
    changeCategory(title) {
      this.$emit("changeCategory", {
        title: title,
        id: this.activity.id
      });
    }
  },
  computed: {
    expired() {
      const now = new Date().getTime();
      const dateSubscription = new Date(
        this.activity.subscription.expire_at
      ).getTime();

      return now > dateSubscription;
    },
    expiredAt() {
      const date1 = new Date();
      const date2 = new Date(this.activity.subscription.expire_at);
      const diffTime = Math.abs(date2 - date1);
      const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));

      return diffDays;
    }
  }
};
</script>

<style lang="scss" scoped>
.activity-item {
  .favorite-button {
    opacity: 0;
    transition: $transition-base;
  }

  .lni-more-alt {
    transform: rotate(90deg);
  }

  .basic-information {
    width: 100%;
    max-width: 220px;
  }

  &:hover {
    .favorite-button {
      opacity: 1;
      transition: $transition-base;
    }
  }

  .image {
    width: 100%;
    width: 200px;
    min-height: 125px;
    max-height: 125px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      transition: $transition-base;
      min-height: 125px;
      max-height: 125px;
      border-radius: $border-radius;

      &:hover {
        transition: $transition-base;
        transform: scale(1.1);
      }
    }
  }
}
</style>
