<template>
  <Modal v-model="modalDeleteActivity">
    <template #content>
      <div class="p-3">
        <h1 class="h4 text-center mb-3">Eliminar actividad</h1>

        <p>
          Esta acción es irreversible, una vez realizado esto no se va podra
          volver para atras.
        </p>

        <div class="mt-3 text-center">
          <Filled @click="deleteActivity" :isLoading="isLoading" text="Eliminar actividad"></Filled>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
const Filled = () => import("~m/common/button/Filled");
const Modal = () => import("~m/common/modal/Modal");

import activityService from "~c/services/user/activityService";

export default {
  components: {
    Filled,
    Modal
  },
  data() {
    return {
      modalDeleteActivity: false,
      idToDelete: "",
      isLoading: false
    };
  },
  methods: {
    openDeleteActivity(id) {
      this.idToDelete = id;
      this.modalDeleteActivity = true;
    },
    deleteActivity() {
      this.isLoading = true;
      activityService
        .delete(this.idToDelete)
        .then(() => {
          this.$notification("success", "Actividad borrada correctamente");
          this.$emit("deleted", this.idToDelete);
        })
        .catch(() => {
          this.$notification("error", "No pudimos borrar la actividad");
        })
        .finally(() => {
          this.modalDeleteActivity = false;
          this.isLoading = false;
        });
    }
  },
  created: function() {
    this.$parent.$on("openDeleteActivity", this.openDeleteActivity);
  }
};
</script>

<style></style>
