<template>
  <div class="activities-container">
    <div class="mb-5" v-for="activity in activitiesFake" :key="activity.id">
      <ActivityItem
        @deleteActivity="deleteActivity"
        :activity="activity"
        @changeCategory="changeCategory"
        @pay="pay"
      ></ActivityItem>
    </div>
    <ChangeCategory @pay="pay" @refreshActivities="refreshActivities"></ChangeCategory>
    <div class="w-100" v-if="showPaginate">
      <Infinite :isLoading="isLoading" @next="next" :page="page" :hasMore="hasMore"></Infinite>
    </div>
    <ActivityDelete @deleted="refresh"></ActivityDelete>

    <Payment></Payment>
  </div>
</template>
<script>
const ActivityItem = () => import("./ActivityItem");
const Infinite = () => import("~m/common/misc/Infinite");
const ChangeCategory = () => import("./ChangeCategory");
const ActivityDelete = () => import("./ActivityDelete");
const Payment = () => import("../../common/Payment");

export default {
  name: "List",
  components: {
    Infinite,
    ActivityItem,
    ChangeCategory,
    ActivityDelete,
    Payment
  },
  data() {
    return {
      activitiesFake: []
    };
  },
  props: {
    cantInline: {
      type: Number,
      default: 3
    },
    activities: {
      type: Array,
      default: () => []
    },
    hasMore: {
      type: Boolean,
      default: false
    },
    page: {
      default: "1"
    },
    isLoading: {
      default: false
    }
  },
  watch: {
    activities() {
      this.activitiesFake = this.activities;
    }
  },
  methods: {
    refreshActivities() {
      this.$emit("refreshActivities");
    },
    deleteActivity(id) {
      this.$emit("openDeleteActivity", id);
    },
    next() {
      this.$emit("next");
    },
    refresh(id) {
      this.$emit("refresh", id);
    },
    changeCategory(obj) {
      this.$emit("changeCategory", obj);
    },
    pay(id) {
      this.$emit("pay", id);
    }
  },
  computed: {
    showPaginate() {
      return (this.hasMore || this.page != 1) && this.activities.length;
    }
  },
  created() {
    this.activitiesFake = this.activities;

    this.$parent.$on("deleted", this.deleted);
  }
};
</script>
