<template>
  <Modal v-model="modal" size="lg" @close="cleanModal">
    <template #content>
      <div class="p-3">
        <p class="mb-3 h5 text-center">{{ $t(title) }}</p>

        <div class="row container-publishes">
          <div
            class="col-md-4"
            v-for="(publish, index) in publishes"
            :class="
              publishSelected && publish.name === publishSelected.name
                ? 'active'
                : ''
            "
            :key="index"
            @click="selectPublishType(index)"
          >
            <div class="background-publish pt-3 pb-3">
              <p class="f-20 font-weight-bold">{{ $t(publish.name) }}</p>
              <img
                :src="`/assets/misc/publishes/${publish.name}.svg`"
                class="pb-3"
                width="128"
                height="128"
              />

              <p class="pt-3 font-weight-bold">
                {{
                publish.price | currency("$", 0, { thousandsSeparator: "." })
                }}
                / mes
              </p>

              <p
                class="f-14"
                v-for="chacteristic in $t(`characteristics.${publish.name}`)"
                :key="chacteristic"
              >{{ chacteristic }}</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <ErrorMessage :msg="errors.publish_type"></ErrorMessage>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <p class="h5 pt-5 pb-3">Total a pagar</p>

            <div class="d-flex aligns-items-top mb-1">
              <div class="mr-auto">
                <p class="h6 float-left">Meses :</p>
              </div>
              <div>
                <p class="text-right float-right">
                  <Month
                    :publishType="publishSelected"
                    class="float-right"
                    @update="calculatePrice"
                  ></Month>
                </p>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="mb-1">
              <p class="h6 float-left">Subtotal :</p>
              <p class="text-right float-right">
                {{
                price.partial | currency("$", 0, { thousandsSeparator: "." })
                }}
              </p>
              <div class="clearfix"></div>
            </div>

            <div class="mb-1">
              <p class="h6 float-left">Descuento :</p>
              <p class="text-right float-right">
                {{
                price.discount | currency("$", 0, { thousandsSeparator: "." })
                }}
              </p>
              <div class="clearfix"></div>
            </div>

            <div class="mt-3">
              <p class="h6 float-left">Total :</p>
              <p class="text-right float-right font-weight-bold">
                <span v-if="typeof price.total != 'string'">
                  {{
                  price.total | currency("$", 0, { thousandsSeparator: "." })
                  }}
                </span>
                <span v-else>{{ price.total }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="w-100 text-center">
          <Filled
            :isLoading="isLoading"
            @click="updateSubscription()"
            :text="$t(`action.${action}`)"
            class="mt-3 mb-3"
          ></Filled>
        </div>
      </div>
    </template>
  </Modal>
</template>
<i18n src="~c/locales/activityPublish.json"></i18n>
<script>
const Filled = () => import("~m/common/button/Filled");
const Modal = () => import("~m/common/modal/Modal");
const ErrorMessage = () => import("~m/common/input/ErrorMessage");
const Month = () => import("../../common/Month");

import activityService from "~c/services/user/activityService";
import subscriptionService from "~c/services/user/subscriptionService";
import priceActivity from "../../helpers/priceActivity";

export default {
  components: {
    Filled,
    Modal,
    Month,
    ErrorMessage
  },
  data() {
    return {
      modal: false,
      id: "",
      title: "",
      action: "",
      isLoading: false,
      publishSelected: null,
      month: null,
      price: {
        total: "",
        partial: "",
        discount: ""
      },
      errors: {},
      publishes: []
    };
  },
  methods: {
    cleanModal() {
      this.publishSelected = null;
      this.month = null;
      this.price = {
        total: "",
        partial: "",
        discount: ""
      };
    },
    changeCategory(data) {
      this.id = data.id;
      this.title = data.title;
      this.modal = true;
      this.action = data.title;

      if (!this.publishes.length) {
        activityService
          .publishes()
          .then(response => {
            this.publishes = response.data.publishes;
          })
          .catch(() => {});
      }
    },
    updateSubscription() {
      this.isLoading = true;

      const formData = this.$formData({
        publish_type: this.publishSelected.name,
        month: this.month
      });

      subscriptionService
        .update(this.id, formData)
        .then(() => {
          this.errors = {};
          this.modal = false;

          const resultAction =
            this.title == "renew"
              ? "Se realizo correctamente la renovación de la actividad"
              : "Se realizo correctamente el cambio de categoria";

          this.$notification("success", resultAction);

          this.$emit("refreshActivities");

          if (this.price.partial) {
            this.$emit("pay", this.id);
          }
        })
        .catch(err => {
          if (err.response.status == 400) {
            this.errors = this.$errorHandler(err);
          } else {
            const message =
              this.title == "renew"
                ? "renovar la actividad"
                : "cambiar de categoria";
            this.$notification("error", `Tuvimos un problema para ${message}`);
          }
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    calculatePrice(months) {
      this.month = months;

      const { partial, discount, total } = priceActivity(
        months,
        this.publishSelected
      );

      this.price.partial = partial;
      this.price.discount = discount;
      this.price.total = total;
    },
    selectPublishType(index) {
      this.publishSelectedIndex = index;
      this.publishSelected = this.publishes[index];
    }
  },
  created: function() {
    this.$parent.$on("changeCategory", this.changeCategory);
  }
};
</script>

<style lang="scss" scoped>
input[type="radio"] {
  display: none;
}

.container-publishes {
  text-align: center;
  .col-md-4 {
    .background-publish {
      transition: $transition-base;
      border-radius: $border-radius;
      cursor: pointer;
    }
    .background-publish:hover,
    &.active .background-publish {
      transition: $transition-base;
      background: $background-light-grey;
    }
  }
}
</style>
