<template>
  <Modal v-model="modalUserCreate">
    <template #content>
      <form :novalidate="true" @submit.prevent="createUser()" class="p-3">
        <h1 class="h4 d-block text-center mb-3">Crear usuario</h1>

        <InputText
          label="Email"
          data-vv-as="email"
          name="user.email"
          v-validate="'required|email'"
          v-model="user.email"
          :requiredLabel="true"
          :errorMsg="vErrors.first('user.email') || userErrors.email"
        ></InputText>
        <div class="clearfix pt-3"></div>

        <Password
          :description="$t('description')"
          data-vv-as="contraseña"
          name="user.password"
          v-validate="'required|min:6|max:30'"
          label="Contraseña"
          v-model="user.password"
          :requiredLabel="true"
          :errorMsg="vErrors.first('user.password') || userErrors.password"
        ></Password>
        <div class="clearfix pt-3"></div>

        <Select
          data-vv-as="rol"
          name="user.role"
          v-validate="'required'"
          label="Rol"
          v-model="user.role"
          :requiredLabel="true"
          :options="roles"
          :errorMsg="vErrors.first('user.role') || userErrors.role"
        ></Select>

        <div class="w-100 text-center mt-3">
          <Filled :isLoading="isLoading" text="Crear cuenta"></Filled>
        </div>
      </form>
    </template>
  </Modal>
</template>
<i18n src="~c/locales/password.json"></i18n>
<script>
const Modal = () => import("~m/common/modal/Modal");
const InputText = () => import("~m/common/input/InputText");
const Password = () => import("~m/common/input/Password");
const Filled = () => import("~m/common/button/Filled");
const Select = () => import("~m/common/input/Select");

import adminService from "~c/services/admin/userService";

export default {
  components: {
    Modal,
    Password,
    InputText,
    Filled,
    Select
  },
  data() {
    return {
      modalUserCreate: false,
      isLoading: false,
      roles: [],
      user: {
        email: "",
        password: "",
        role: ""
      },
      userErrors: {}
    };
  },
  methods: {
    openCreateModal() {
      this.modalUserCreate = true;
    },
    createUser() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          this.isLoading = true;

          const formData = this.$formData(this.user);

          adminService
            .createUser(formData)
            .then(() => {
              this.user = {
                email: "",
                password: "",
                role: ""
              };

              this.modalUserCreate = false;
              this.$notification("success", "Se creo el usuario correctamente");
              this.$emit("refresh");
            })
            .catch(error => {
              if (error.response.status != 400) {
                this.modalUserCreate = false;
                this.$notification(
                  "error",
                  "No podemos crear un nuevo usuario"
                );
              } else {
                this.userErrors = this.$errorHandler(error);
              }
            })
            .finally(() => {
              this.isLoading = false;
            });
        }
      });
    }
  },
  created: function() {
    this.$parent.$on("openCreateModal", this.openCreateModal);

    adminService
      .roles()
      .then(response => {
        this.roles = response.data.roles;
      })
      .catch(() => {});
  }
};
</script>

<style></style>
