<template>
  <Modal v-model="modalUserDelete">
    <template #content>
      <div class="p-3">
        <h1 class="h4 d-block text-center mb-3">Borrar usuario</h1>
        <p>Estas seguro que deseas borrar al usuario {{ email }}</p>

        <div class="w-100 text-center mt-3">
          <Filled
            @click="deleteUser"
            :isLoading="isLoading"
            text="Borrar"
          ></Filled>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
  const Modal = () => import("~m/common/modal/Modal");
  const Filled = () => import("~m/common/button/Filled");

  import adminService from "~c/services/admin/userService";

  export default {
    components: {
      Modal,
      Filled,
    },
    data() {
      return {
        email: "",
        modalUserDelete: false,
        isLoading: false,
      };
    },
    methods: {
      openDeleteModal(email) {
        this.email = email;
        this.modalUserDelete = true;
      },
      deleteUser() {
        this.isLoading = true;

        const formData = this.$formData({
          email: this.email,
        });

        adminService
          .deleteUser(formData)
          .then(() => {
            this.modalUserDelete = false;
            this.$notification("success", "Se creo el usuario correctamente");
            this.$emit("refresh");
          })
          .catch((error) => {
            if (error.response.status != 400) {
              this.modalUserDelete = false;
              this.$notification("error", "No podemos crear un nuevo usuario");
            } else {
              this.userErrors = this.$errorHandler(error);
            }
          })
          .finally(() => {
            this.isLoading = false;
          });
      },
    },
    created: function() {
      this.$parent.$on("openDeleteModal", this.openDeleteModal);
    },
  };
</script>

<style></style>
