<template>
  <Select :options="years" :value="actualYear" class="select-year" v-on:input="updateValue($event)"></Select>
</template>

<script>
const Select = () => import("~m/common/input/Select");

export default {
  components: {
    Select
  },
  data() {
    return {
      startYear: "",
      actualYear: ""
    };
  },
  computed: {
    years() {
      let years = [];

      for (let index = this.startYear; index <= this.actualYear; index++) {
        years.push(index);
      }

      return years.reverse();
    }
  },
  methods: {
    updateValue(value) {
      this.$emit("input", value);
    }
  },
  created() {
    this.startYear = new Date(
      this.$store.getters.user.profile.created_at
    ).getFullYear();
    this.actualYear = new Date().getFullYear();
  }
};
</script>

<style lang="scss">
.select-year {
  width: 55px;
  text-align: center !important;
  cursor: pointer;
  border-radius: $border-radius;
  font-size: 20px !important;

  select {
    cursor: pointer !important;
    text-align: center !important;
    background: $background-light-grey;
    padding: 0 0 0 8px !important;
    font-size: 20px !important;
    border: none !important;
  }
}
</style>