<template>
  <div>
    <Header></Header>
    <Loader :isLoading="isLoadingActivity"></Loader>
    <div class="view-activity">
      <div v-if="activityExists && !isLoadingActivity">
        <div class="gallery-image">
          <stack :column-min-width="400" :gutter-width="5" :gutter-height="5" monitor-images-loaded>
            <stack-item
              v-for="(slide, i) in activity.images.slice(0, 8)"
              :key="i"
              style="transition: transform 500ms"
            >
              <img :src="slide" class="img-fluid" />
              <a href="#" @click.prevent="indexGallery = i"></a>
            </stack-item>
          </stack>

          <Gallery v-model="indexGallery" :images="activity.images"></Gallery>
        </div>

        <div class="container share-container" v-click-outside="hideSocialShare">
          <Filled :isLoading="isLoadingFavorite" skin="dark" @click="handleFavorite" color="light">
            <template #content>
              <i v-if="!favorite" class="lni lni-heart"></i>
              <i v-else class="lni lni-heart-filled"></i>
              Favoritos
            </template>
          </Filled>

          <Filled class="ml-2" color="light" @click="showSocialShare = true">
            <template #content>
              <i class="lni lni-share"></i>
              Compartir
            </template>
          </Filled>

          <div v-show="showSocialShare" class="social-share">
            <SocialShare
              class
              :title="activity.title"
              :description="activity.description"
              :user="activityUser.username"
            ></SocialShare>
          </div>
        </div>

        <section class="container pt-3">
          <div class="row">
            <div class="col-md-9">
              <div class="d-flex align-items-top">
                <div class="mr-auto">
                  <h1 class="h4">{{ activity.title }}</h1>
                  <Rate :rate="activity.qualification"></Rate>
                </div>
                <div class="price-container">
                  <p class="price">
                    {{
                    activity.price
                    | currency("$", 0, { thousandsSeparator: "." })
                    }}
                  </p>
                  <p class="from">desde</p>
                </div>
              </div>

              <p class="pt-3">{{ activity.description }}</p>
              <div v-if="activity.characteristics.length">
                <h3 class="h5 pt-5">Preguntas frecuentes</h3>
                <ul class="row list-inline characteristics">
                  <li
                    v-for="characteristic in activity.characteristics"
                    :key="characteristic.id"
                    class="col-md-6 mt-3"
                  >
                    <p class="text-title">{{ characteristic.concept }}</p>
                    <p class="f-14">{{ characteristic.value }}</p>
                  </li>
                </ul>
              </div>

              <h4 class="h5 mt-5">Contacto</h4>
              <ul class="row list-inline characteristics">
                <li class="col-md-4 mt-3" v-if="activity.contact.phone_number">
                  <p class="text-title d-block">Teléfono:</p>
                  <p class="f-14">{{ activity.contact.phone_number }}</p>
                </li>
                <li class="col-md-4 mt-3" v-if="activity.contact.telephone_number">
                  <p class="text-title d-block">Celular:</p>
                  <a
                    target="_blank"
                    class="text-primary f-14"
                    :href="
                      `https://api.whatsapp.com/send?phone=${
                        activity.contact.telephone_number
                      }'&text=${$t('messageWhatsapp')}`
                    "
                  >{{ activity.contact.telephone_number }}</a>
                </li>

                <li class="col-md-4 mt-3" v-if="activity.contact.email">
                  <p class="text-title d-block">Email:</p>
                  <a
                    target="_blank"
                    class="text-primary f-14"
                    :href="`mailto:${activity.contact.email}`"
                  >{{ activity.contact.email }}</a>
                </li>

                <li class="col-md-4 mt-3" v-if="activity.contact.facebook_url">
                  <p class="text-title d-block">Facebook:</p>
                  <a
                    :href="activity.contact.facebook_url"
                    target="_blank"
                    class="text-primary f-14"
                  >Enlace</a>
                </li>

                <li class="col-md-4 mt-3" v-if="activity.contact.instagram_url">
                  <p class="text-title d-block">Instagram:</p>
                  <a
                    :href="activity.contact.instagram_url"
                    target="_blank"
                    class="text-primary f-14"
                  >Enlace</a>
                </li>

                <li class="col-md-4 mt-3" v-if="activity.contact.web">
                  <p class="text-title d-block">Web:</p>
                  <a :href="activity.contact.web" target="_blank" class="text-primary f-14">Enlace</a>
                </li>
              </ul>

              <h5 class="h5 mt-5 mb-3">Ubicación</h5>

              <vl-map
                :load-tiles-while-animating="true"
                :load-tiles-while-interacting="true"
                data-projection="EPSG:4326"
                style="height: 400px;"
                ref="map"
              >
                <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>

                <vl-layer-tile ref="layer">
                  <vl-source-osm></vl-source-osm>
                </vl-layer-tile>

                <vl-layer-vector>
                  <vl-feature>
                    <vl-geom-point
                      :coordinates="[
                        parseFloat(activity.longitude),
                        parseFloat(activity.latitude),
                      ]"
                    ></vl-geom-point>

                    <vl-style-box>
                      <vl-style-icon src="/assets/misc/marker.png"></vl-style-icon>
                    </vl-style-box>

                    <vl-overlay
                      :position="[
                        parseFloat(activity.longitude),
                        parseFloat(activity.latitude),
                      ]"
                      positioning="center-center"
                      style
                    >
                      <div
                        v-clipboard:copy="[
                          parseFloat(activity.latitude),
                          parseFloat(activity.longitude),
                        ]"
                        v-clipboard:success="onCopy"
                        v-clipboard:error="onError"
                        class="popup-location"
                        title="Copiar al portapapeles"
                      >{{ activity.latitude }},{{ activity.longitude }}</div>
                    </vl-overlay>
                  </vl-feature>
                </vl-layer-vector>
              </vl-map>
            </div>

            <div class="col-md-3 sidebar-information">
              <p class="text-title">Ubicación</p>
              <p class="f-14">- {{ activity.location }}</p>

              <div v-if="activity.type.name">
                <p class="text-title mt-3">Tipo de actividad</p>
                <p class="f-14">- {{ activity.type.name | capitalize }}</p>
              </div>

              <div v-if="activity.difficulty.name">
                <p class="text-title mt-3">Dificultad</p>
                <p class="f-14">- {{ activity.difficulty.name | capitalize }}</p>
              </div>

              <div class="mt-3">
                <p class="text-title">Distancia desde tu ubicación</p>
                <p class="f-14">- {{ haversine(activity.latitude, activity.longitude) }}</p>
              </div>

              <div class="d-flex mt-5" v-if="activityUser">
                <div>
                  <router-link
                    :to="
                      route('public.profile', {
                        username: activityUser.username,
                      })
                    "
                  >
                    <v-lazy-image
                      :src="activityUser.profile_image_url"
                      class="border-radius mr-2"
                      width="48"
                      height="48"
                    ></v-lazy-image>
                  </router-link>
                </div>
                <div class="ml-1">
                  <p>
                    <router-link
                      :to="
                        route('public.profile', {
                          username: activityUser.username,
                        })
                      "
                      class="text-title pr-1"
                    >{{ activityUser.full_name }}</router-link>
                  </p>
                  <p class="f-14">
                    {{ date(activityUser.created_at) }}
                    <Rate :rate="activityUser.user_qualification"></Rate>
                  </p>
                </div>
              </div>

              <a href="#" @click.prevent="reportModal" class="report-link mt-3" v-if="showReport">
                <i class="lni lni-bullhorn"></i> Reportar actividad
              </a>
            </div>
          </div>

          <div v-if="relateds.length" class="pt-5">
            <h5 class="h5 pb-3 text-center">Te puede interesar tambien</h5>
            <ActivitiesList @openLogin="openLogin" :activities="relateds"></ActivitiesList>
          </div>

          <div class="col-md-9 pl-0 pr-0">
            <Qualification
              :qualification="activity.qualification"
              class="mt-5 pb-5"
              :usernameActivity="activityUser.username"
              :id="id"
              @openLogin="openLogin"
            ></Qualification>
          </div>
        </section>

        <Report :id="id" type="activity"></Report>
      </div>
      <div v-else-if="!activityExists">
        <NotFoundContent></NotFoundContent>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>
<i18n>
{
  "es": {
    "messageWhatsapp": "Buenas, encontre tu publicación en el sitio de traveleala. Estoy interesad@ en obtener mas información de la actividad"
  }
}
</i18n>
<script>
const Header = () => import("~m/common/header/Header");
const Footer = () => import("~m/common/footer/Footer");
const Qualification = () => import("./components/Qualification");
const Report = () => import("./components/Report");
const SocialShare = () => import("./components/SocialShare");
const Filled = () => import("~m/common/button/Filled");
const ActivitiesList = () => import("~m/common/activities/ActivitiesList");
const Gallery = () => import("~m/common/gallery/Gallery");
const NotFoundContent = () =>
  import("~m/common/notfound/components/NotFoundContent");
const Loader = () => import("~m/common/misc/Loader");
const Rate = () => import("~m/common/rate/Rate");

import activityService from "~c/services/user/activityService";
import favoriteService from "~c/services/user/favoriteService";
import { Stack, StackItem } from "vue-stack-grid";

export default {
  name: "Activity",
  components: {
    Footer,
    Qualification,
    SocialShare,
    Report,
    Gallery,
    ActivitiesList,
    Filled,
    NotFoundContent,
    Loader,
    Stack,
    StackItem,
    Rate,
    Header
  },
  data() {
    return {
      id: this.$route.params.id,
      activity: "",
      relateds: "",
      qualifications: "",
      favorite: false,
      isLoadingFavorite: false,
      activityUser: "",
      activityCharacteristics: "",
      showSocialShare: false,
      indexGallery: null,
      center: [],
      zoom: parseInt(localStorage.getItem("zoom")),
      rotation: 0,
      isLoadingActivity: true,
      activityExists: true
    };
  },
  computed: {
    showReport() {
      return !this.$store.getters.isMyProperty(this.activityUser.username);
    }
  },
  watch: {
    "$route.params.id"() {
      this.getActivity();
    }
  },
  methods: {
    onCopy: function() {
      this.$notification(
        "info",
        "Las coordenadas se copiaron en el portapapeles"
      );
    },
    onError: function() {
      this.$notification(
        "error",
        "Ocurrio un error al copiar las coordenadas en el portapapeles"
      );
    },
    hideSocialShare() {
      this.showSocialShare = false;
    },
    reportModal() {
      if (!this.$store.getters.isLoggedIn) {
        this.$emit("openLogin");
        return false;
      }

      this.$emit("reportModal");
    },
    handleFavorite() {
      if (!this.$store.getters.isLoggedIn) {
        this.$emit("openLogin");
      } else {
        this.isLoadingFavorite = true;

        favoriteService
          .update(this.id)
          .then(response => {
            this.favorite = response.data.favorite;
          })
          .catch(() => {})
          .finally(() => {
            this.isLoadingFavorite = false;
          });
      }
    },
    openLogin() {
      this.$emit("openLogin");
    },
    slidePrev() {
      this.$refs.carousel.slidePrev();
    },
    slideNext() {
      this.$refs.carousel.slideNext();
    },
    getRelateds() {
      activityService
        .relateds(this.id)
        .then(response => {
          this.relateds = response.data.activities;
        })
        .catch(() => {});
    },
    getProfileUser() {
      activityService
        .users(this.id)
        .then(response => {
          this.activityUser = response.data.profile;
        })
        .catch(() => {});
    },
    getIsMyFavorite() {
      if (this.$store.getters.isLoggedIn) {
        this.isLoadingFavorite = true;
        favoriteService
          .show(this.id)
          .then(response => {
            this.favorite = response.data.favorite;
          })
          .catch(() => {})
          .finally(() => {
            this.isLoadingFavorite = false;
          });
      } else {
        this.isLoadingFavorite = false;
      }
    },
    getActivity() {
      activityService
        .show(this.id)
        .then(response => {
          this.activity = response.data.activity;

          const title = this.activity.title;

          this.$title(title);

          this.center = [
            parseFloat(this.activity.longitude),
            parseFloat(this.activity.latitude)
          ];
        })
        .catch(() => {
          this.activityExists = false;
        })
        .finally(() => {
          this.isLoadingActivity = false;
        });
    }
  },
  created() {
    this.getActivity();
    this.getRelateds();
    this.getProfileUser();
    this.getIsMyFavorite();
  }
};
</script>
<style lang="scss" scoped>
.view-activity {
  min-height: 70vh;
  .gallery-image,
  .vsg-container {
    max-height: 500px !important;
    min-height: 500px !important;
    height: 100% !important;
    overflow: hidden;

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .popup-location {
    background: $light;
    padding: 10px;
    margin: -70px 20px 0 0;
    font-size: $font-size;
    border-radius: border-radius;
    cursor: pointer;
    box-shadow: $box-shadow;
  }

  .share-container {
    position: relative;
    text-align: right;

    button {
      padding: 0;
      width: 110px;
      height: 40px;
      top: -45px;
    }

    .social-share {
      border-radius: $border-radius;
      background: $light;
      position: absolute;
      right: 15px;
      bottom: 90px;
      padding: 5px;
    }

    .lni {
      color: $color-heart;
    }
  }

  .price-container {
    text-align: center;

    .price {
      font-size: 28px;
    }

    .from {
      font-size: 12px;
      margin: -10px 0 0 0 !important;
    }
  }

  .report-link {
    text-align: center;
    color: $dark;
    display: block;
    font-size: 12px;

    &:hover {
      text-decoration: underline;
    }
  }

  .characteristics {
    li {
      position: relative;
      p {
        display: inline-block;
      }
      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 4px;
        height: 4px;
        margin: 0 5px 4px 0;
        display: inline-block;
        background: $primary;
      }
    }
  }
}
</style>
