<template>
  <div class="d-flex">
    <div class="mr-3 position-relative">
      <router-link :to="route('public.profile', { username: user.username })">
        <v-lazy-image :src="user.profile_image_url" width="64" height="64" class="border-radius"></v-lazy-image>
      </router-link>

      <div class="wrapper-favorite">
        <FavoriteContent @click="updateFollow" :isLoading="isLoading" :favorite="imFollowing"></FavoriteContent>
      </div>
    </div>
    <div>
      <router-link :to="route('public.profile', { username: user.username })">
        <p class="h6 text-title">{{ user.full_name }}</p>
      </router-link>
      <p class="f-14 text-primary">{{ user.username }}</p>
    </div>
  </div>
</template>

<script>
const FavoriteContent = () => import("~m/common/favorite/FavoriteContent");
import followService from "~c/services/user/followService";

export default {
  components: {
    FavoriteContent
  },
  props: {
    user: {
      name: Object,
      default: () => {}
    }
  },
  data() {
    return {
      imFollowing: this.user.favorite,
      isLoading: false
    };
  },
  methods: {
    updateFollow() {
      this.isLoading = true;
      followService
        .update(this.user.username)
        .then(response => {
          this.imFollowing = response.data.follow;

          this.$emit("refresh", this.user.username);
        })
        .catch(() => {
          this.$notification(
            "error",
            "Ocurrio un error al actualizar el seguimiento de este usuario"
          );
        })
        .finally(() => {
          this.isLoading = false;
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.d-flex {
  .wrapper-favorite {
    position: absolute;
    right: 0px;
    top: 0px;

    .lni {
      opacity: 0;
    }
  }

  &:hover {
    .lni {
      opacity: 1;
    }
  }
}
</style>
