<template>
  <div>
    <div class="row">
      <div v-for="user in usersFake" :key="user.id" class="col-md-4 pb-3">
        <FollowItem @refresh="refresh" :user="user"></FollowItem>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="w-100" v-if="showPaginate">
      <Infinite @next="next" :page="page" :hasMore="hasMore"></Infinite>
    </div>
  </div>
</template>

<script>
const FollowItem = () => import("./FollowItem");
const Infinite = () => import("~m/common/misc/Infinite");

export default {
  name: "FollowList",
  components: {
    Infinite,
    FollowItem
  },
  props: {
    users: {
      name: Array,
      default: () => []
    },
    hasMore: {
      type: Boolean,
      default: false
    },
    page: {
      default: "1"
    },
    unfollow: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      usersFake: []
    };
  },
  watch: {
    users() {
      this.usersFake = this.users;
    }
  },
  computed: {
    showPaginate() {
      return (this.hasMore || this.page != 1) && this.users.length;
    }
  },
  methods: {
    refresh(username) {
      this.$emit("refresh", username);
    },
    next() {
      this.$emit("next");
    }
  },
  created() {
    this.usersFake = this.users;
  }
};
</script>

<style lang="scss" scoped>
.col-md-4 {
  .lni {
    opacity: 0;
    transition: $transition-base;
    color: $color-heart;
    background: $light;
  }

  &:hover {
    .lni {
      opacity: 1;
      transition: $transition-base;
      color: $color-heart;
    }
  }
}
</style>