<template>
  <div>
    <Header></Header>
    <section class="container">
      <h1 class="h4 pb-3 mt-3 text-center">Preguntas frecuentes</h1>

      <div
        class="wrapper-question row mb-5"
        v-for="(questionAndAnswer,index) in questionsAndAnswers"
        :key="index"
      >
        <div class="col-md-2">
          <p class="h5 pb-3 pt-3">{{questionAndAnswer.title}}</p>
        </div>
        <div class="col-md-10">
          <div v-for="(item,index) in questionAndAnswer.items" :key="index">
            <p
              class="question mb-2"
              v-b-toggle="`${questionAndAnswer.accordion}-${index}`"
            >{{item.question}}</p>
            <b-collapse
              :id="`${questionAndAnswer.accordion}-${index}`"
              :accordion="questionAndAnswer.accordion"
            >
              <p class="answer pb-3" @click="fakeRoute" v-html="item.answer"></p>
            </b-collapse>
          </div>
        </div>
      </div>
    </section>
    <Footer></Footer>
  </div>
</template>

<script>
const Header = () => import("~m/common/header/Header");
const Footer = () => import("~m/common/footer/Footer");

export default {
  components: {
    Footer,
    Header
  },
  data() {
    return {
      questionsAndAnswers: [
        {
          title: "Usuarios",
          accordion: "users",
          items: [
            {
              question: "Cuales son las formas de ingresar a la aplicación ?",
              answer:
                "Podras crear tu cuenta utilizando tu email, ingresar con redes sociales como facebook y google"
            },
            {
              question: "He olvidado mi contraseña, como puedo recuperarla ?",
              answer: `Si olvidaste tu contraseña, podras hacer click <a href="${this.$routeHelper(
                "public.users.resetPassword"
              )}">aquí</a> donde deberas completar con tu email para que se envien los pasos para recuperar tu contraseña`
            },
            {
              question:
                "No me llego el email para reiniciar mi contraseña, puedo solicitar uno nuevo?",
              answer: `Sino te llego el email con los pasos para reiniciar tu contraseña, podras solicitar como maximo 5 veces mas dentro de las 24 hs haciendo click <a href="${this.$routeHelper(
                "public.users.resetPassword"
              )}">aquí</a>`
            },
            {
              question:
                "No me llego el email de verificación, puedo solicitar uno nuevo ?",
              answer: `Sino te llego el email de verificación, podras solicitar como maximo 5 veces más dentro de las 24 hs haciendo click <a href="${this.$routeHelper(
                "public.users.verification"
              )}">aquí</a>`
            },
            {
              question: "Deseo borrar mi cuenta, como puedo hacerlo ?",
              answer:
                'Para eliminar tu cuenta, deberas ingresar de la misma manera que ingresas normalmente, ir a la sección de edición de tu perfil y seleccionar en el icono de papalera, completar con la contraseña de ser necesario y luego click en <b>"Eliminar cuenta"</b>. Recuerda que esta acción es automatica lo cual no podras volver a recuperarla jamas, se eliminara toda la información asociada a tu cuenta y todas las interacciones que hayas hecho o hayan hecho contigo tanto en las actividades, calificaciones, seguimiento de usuarios, etc.'
            },
            {
              question: "Han eliminado mi usuario, por que ?",
              answer:
                "Los usuarios se eliminan debido a un incumplimiento en los terminos y condiciones de Traveleala, lo cual para mantener un orden se realiza la eliminación del usuario en cuestión"
            }
          ]
        },
        {
          title: "Actividades",
          accordion: "activities",
          items: [
            {
              question:
                "Brindo actividades turisticas, puedo publicar en el sitio ?",
              answer:
                "Podras publicar todas las actividades que brindes y tendras total libertad en elegir los tipos de publicaciones para cada una de ellas"
            },
            {
              question: "Puedo contratar actividades ?",
              answer:
                "Podras comunicarte con las personas que brindan esas actividades y arreglar las formas de pago con ellas. Traveleala solo brinda el medio de publicidad para que la persona que brinda las actividades pueda llegar con las personas que quieren disfrutar de las mismas y luego calificarlas."
            },
            {
              question:
                "Al crear mi actividad, con que medios de pago puedo abonar la publicación ?",
              answer:
                "Podras realizar el pago de la actividad con los medios aceptados de la plataforma de Mercado Pago"
            },
            {
              question: "Se vencio mi publicación, puedo renovarla ?",
              answer:
                "Podras renovar tu publicación la cantidad de veces que desees sin importar el tipo de publicación en la cual hayas publicado, no existen limitaciones para realizar renovaciones"
            },
            {
              question: "Que diferencia existen entre las publicaciones?",
              answer:
                "La <b>publicación basica</b> tiene una duración de un solo mes y apareceras en los ultimos resultados del buscador. <br/><br/> La <b>publicación estandar</b> tiene una duración entre 2 a 6 meses, la cual te permite visualizar estadisticas de tu actividad, ya sea cuantas veces compartieron en las redes sociales, el progreso de tu calificación a lo largo de los años y apareceras en la media de resultados del buscador. <br/><br/> La <b>publicación premium</b> tiene una duración entre 6 a 12 meses, la cual te permite visualizar estadisticas de tu actividad, ya sea cuentas veces compartieron en las redes sociales, el progreso de tu calificación a lo largo de los años y apareceras en los primeros resultados del buscador"
            },
            {
              question: "Puedo recategorizar mi publicación ?",
              answer:
                "Podras recategorizar tu publicación las veces que sean necesarias tanto incrementar la publicación como decrementarla. Ten en cuenta de que si se reduce la categoria de la publicación y todavia tienes días disponibles en la misma esta diferencia no sera computada en el precio de la publicación abonar (de ser necesario)."
            },
            {
              question:
                "Cree mi actividad pero todavia no la pague, puedo hacerlo mas tarde?",
              answer:
                "Podras abonar tu publicación cuando desees, pero el tiempo de la publicación se computa en el momento que la creaste independientemente de que hayas realizado el pago o no de la publicación lo cual los días se descontaran"
            },
            {
              question:
                "Cree mi actividad con la publicación basica, si la recategorizo podre ver las estadisticas de cuando estaba vigente?",
              answer:
                "Al momento de crear la actividad y seleccionar la publicación basica, luego recategorizar la publicación en estandard o premium tendras la información correspondiente desde el momento que creaste la actividad"
            },
            {
              question:
                "Que información puedo visualizar en las estadisticas ?",
              answer:
                "En las estadisticas estara disponible la siguiente información : <br /><br /> <ul><li>Visitas totales</li><li>Calificaciones totales</li><li>Calificación total</li><li>Visitas por mes segun el año</li><li>Calificaciones por mes segun el año</li><li>Calificación por mes segun el año</li><li>Cantidad de veces que compartieron en las distintas redes sociales</li></ul>"
            },
            {
              question: "Elimine mi actividad por error, puedo recuperarla ?",
              answer:
                "Cuando se elimina una actividad, se borra toda información asociada a la misma por lo tanto una vez que realizaste esta acción es irreversible"
            },
            {
              question:
                "Cree mi actividad con una publicación estandard o premium y no aparece en los resultados, por que?",
              answer:
                "Al momento de crear tu publicación si elegiste alguna de las publicaciones mencionadas anteriormente y no realizaste el pago de la publicación no aparecera hasta que el pago sea realizado y nos informe mercado pago del mismo"
            },
            {
              question:
                "Realice el pago de mi actividad, pero todavia no aparece en los buscadores, por que?",
              answer:
                "Existe un tiempo de unos 5 a 10 minutos para que tu publicación este disponible al publico. Si paso mas tiempo del mismo te pedimos que te comuniques con nosotros a traves de las redes sociales"
            },
            {
              question: "Han borrado mi actividad, por que?",
              answer:
                "Las actividades se eliminan cunado incumplen con las normasl de Traveleala, si crees que este no fue el caso comunicate con nosotros mediante las redes sociales"
            },
            {
              question: "Puedo reportar actividades?",
              answer:
                "Podras reportar actividades que incumplan con las normas y aclarar brevemente los motivos por los cuales incumple las normas"
            },
            {
              question: "Falsificaron mi publicación",
              answer:
                "Si alguien realizo una copia total/parcial, utilizo imagenes tuyas para publicar un servicio igual o similar podras reportar la publicación explicando brevemente lo sucedido"
            },
            {
              question:
                "Cuando ingreso al sitio aparece un mensaje para obtener mi ubicación, por que?",
              answer:
                "Traveleala necesita conocer tu ubicación para mostrarte a que distancia estas desde tu ubicación hacia las ubicaciones de diferentes actividades"
            },
            {
              question:
                "La distancia que marca desde mi ubicación hasta la actividad es incorrecta, por que?",
              answer:
                "La distancia se obtiene desde el navegador y este a traves de la dirección ip. Lo cual puede pasar que la ubicación no sea correcta debido a tu proveedor de internet"
            }
          ]
        },
        {
          title: "Calificaciones",
          accordion: "qualifications",
          items: [
            {
              question: "Puedo calificar actividades ?",
              answer:
                "Podras calificar las actividades en las que hayas participado con un maximo de 1 calificación cada 30 días. Existen ciertos parametros para aceptar calificaciones ya que realizamos un control sobre las mismas para mantener una comunidad"
            },
            {
              question: "Puedo reportar calificaciones ?",
              answer:
                "Podras reportar calificaciones que incumplan con las normas y aclarar brevemente los motivos por los cuales incumple las normas"
            },
            {
              question: "Eliminaron mi calificación, por que ?",
              answer:
                "Las calificaciones son eliminadas cuando estas incumplen con las normas de Traveleala"
            }
          ]
        }
      ]
    };
  },
  methods: {
    fakeRoute(event) {
      const target = event.toElement.toString();

      if (target.indexOf("https") !== -1) {
        var url = new URL(target);

        this.$router.push(url.pathname);
      }
    }
  },
  created() {
    this.$title("Preguntas frecuentes");
  }
};
</script>

<style scoped lang="scss">
.wrapper-question {
  .question {
    font-size: 16px;
    border-radius: $border-radius;
    cursor: pointer;
    transition: $transition-base;
    color: $dark;
    padding: 10px;
    position: relative;
    background: $background-light-grey;

    &:before {
      position: absolute;
      top: 9px;
      right: 10px;
      content: "\ea58";
      font-family: $font-family-icons;
      display: inline-block;
      transition: $transition-base;
    }
    &:hover,
    &.not-collapsed {
      background: $border;
      transition: $transition-base;
    }

    &.not-collapsed {
      &:before {
        transform: rotate(180deg);
        transition: $transition-base;
      }
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  .answer {
    padding: 0 10px;
    font-size: 14px;
  }
}
</style>
