<template>
  <div>
    <div v-if="!$store.getters.isLoggedIn" class="row">
      <div class="col-md-6 background-image"></div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="m-auto">
          <router-link :to="route('public.home')" class="mb-3 logo-web">
            <img src="/assets/misc/logo.png" alt="Traveleala" width="200" />
          </router-link>
          <Login v-if="loginOptions.indexOf(type) != -1"></Login>
          <Register v-if="type == 'register'"></Register>
          <Reset v-if="type == 'reset-password'"></Reset>
          <Resend v-if="type == 'send-verification'"></Resend>
        </div>
      </div>
    </div>
    <div v-else>
      <NotFound></NotFound>
    </div>
  </div>
</template>

<script>
const Login = () => import("./components/Login");
const Register = () => import("./components/Register");
const Reset = () => import("./components/Reset");
const Resend = () => import("./components/Resend");
const NotFound = () => import("~m/common/notfound/NotFound");

export default {
  components: {
    Login,
    Register,
    Reset,
    Resend,
    NotFound
  },
  data() {
    return {
      type: window.location.pathname.replace("/", ""),
      loginOptions: ["login", "login/facebook", "login/Google"]
    };
  },
  methods: {
    setType(type) {
      this.type = type;

      const titles = {
        login: "Ingresar",
        register: "Crea tu cuenta",
        reset: "Restablecer contraseña",
        "send-verification": "Reenviar verificación"
      };

      window.history.pushState("", "", type);

      this.$title(titles[type]);
    }
  },
  watch: {
    $route: function() {
      const path = window.location.pathname.replace("/", "");
      this.setType(path);
    }
  },
  created() {
    this.$title("Login");
  }
};
</script>

<style lang="scss" scoped>
.row {
  margin: -60px 0 0 0;
  .background-image {
    background: url(/assets/backgrounds/login.jpg) no-repeat center center /
      cover;
    height: 100vh;
  }

  .col-md-6 {
    .logo-web {
      text-align: center;
      display: block;
    }
    .wrapper {
      max-width: 310px;
      width: 100%;
    }
  }
}
</style>
