<template>
  <div>
    <Header></Header>
    <Loader :isLoading="isLoadingProfile"></Loader>
    <div class="view-profile">
      <div v-if="profileExists && !isLoadingProfile">
        <div class="container">
          <div
            class="img-portrait"
            :style="
            `background: url(${profile.portrait_url}) no-repeat center center / cover`
          "
          >
            <div class="follow-wrapper" v-if="hideActions">
              <Filled :isLoading="isLoadingFollow" skin="dark" @click="followUser()" color="light">
                <template #content>
                  <i v-if="!follow" class="lni lni-heart"></i>
                  <i v-else class="lni lni-heart-filled"></i>
                  Seguir
                </template>
              </Filled>
            </div>
          </div>

          <div class="d-flex">
            <div>
              <div
                class="img-profile ml-4"
                :style="
                `background: url(${profile.profile_image_url}) no-repeat center center / cover`
              "
              ></div>
            </div>

            <div class="pl-3 pt-2 mr-auto">
              <span class="h5 pr-1">{{ profile.full_name }}</span>
              <Rate :rate="profile.user_qualification"></Rate>
              <p class="text-secondary">{{ profile.username }}</p>
              <p class="f-14">{{ date(profile.created_at) }}</p>
            </div>

            <div class="pt-2">
              <ul class="statistics-user list-inline">
                <li v-b-tooltip.hover.bottom="'Actividades creadas'" class="list-inline-item mr-3">
                  <p class="title">Actividades</p>
                  <p>{{ (profile.activities_count || 0) | number("0a") }}</p>
                </li>
                <li
                  v-b-tooltip.hover.bottom="'Calificaciones realizadas'"
                  class="list-inline-item mr-3"
                >
                  <p class="title">Calificaciones</p>
                  <p>{{ profile.qualifications_count | number("0a") }}</p>
                </li>
                <li v-b-tooltip.hover.bottom="'Seguidores'" class="list-inline-item mr-3">
                  <p class="title">Seguidores</p>
                  <p>{{ profile.followers_count | number("0a") }}</p>
                </li>
                <li v-b-tooltip.hover.bottom="'Siguiendo'" class="list-inline-item">
                  <p class="title">Siguiendo</p>
                  <p>{{ profile.followings_count | number("0a") }}</p>
                </li>
              </ul>
            </div>
          </div>

          <ActivitiesList
            v-if="results.activities.length"
            @openLogin="openLogin"
            :activities="results.activities"
            :hasMore="results.hasMore"
            :page="results.page"
            :isLoading="isLoadingActivities"
            @next="nextActivitiesPage()"
            class="mt-5 mb-5"
          ></ActivitiesList>

          <Empty
            title="Este usuario no ha creado actividades"
            v-if="!results.activities.length && !isLoadingActivities"
            class="mt-0 mb-5"
          ></Empty>
        </div>
      </div>
      <div v-else-if="!profileExists">
        <NotFoundContent></NotFoundContent>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
const Header = () => import("~m/common/header/Header");
const Footer = () => import("~m/common/footer/Footer");
const Filled = () => import("~m/common/button/Filled");
const ActivitiesList = () => import("~m/common/activities/ActivitiesList");
const NotFoundContent = () =>
  import("~m/common/notfound/components/NotFoundContent");
const Loader = () => import("~m/common/misc/Loader");
const Empty = () => import("~m/common/empty/Empty");
const Rate = () => import("~m/common/rate/Rate");

import profileService from "~c/services/user/profileService";
import activityService from "~c/services/user/activityService";
import followService from "~c/services/user/followService";

export default {
  components: {
    Footer,
    Filled,
    ActivitiesList,
    NotFoundContent,
    Loader,
    Empty,
    Rate,
    Header
  },
  data() {
    return {
      username: this.$route.params.username,
      profileExists: true,
      profile: {
        username: "",
        full_name: "",
        portrait_url: "",
        created_at: "",
        profile_image_url: "",
        activities_count: 0,
        qualifications_count: 0,
        followers_count: 0,
        followings_count: 0,
        user_qualification: 0
      },
      results: {
        activities: [],
        hasMore: false,
        page: 1
      },
      follow: false,
      isLoadingActivities: false,
      isLoadingProfile: true,
      isLoadingFollow: true
    };
  },
  computed: {
    hideActions() {
      return !this.$store.getters.isMyProperty(this.username);
    }
  },
  watch: {
    "$route.params.username"() {
      this.getAllServices();
    }
  },
  methods: {
    followUser() {
      if (!this.$store.getters.isLoggedIn) {
        this.$emit("openLogin");
        return false;
      }

      this.isLoadingFollow = true;

      followService
        .update(this.username)
        .then(result => {
          this.follow = result.data.follow;
        })
        .catch(error => {
          const errorCode = error.response.status;

          if (errorCode == 403) {
            this.$notification(
              "warning",
              `Necesitas configurar tu perfil para seguir a ${this.username}`
            );
          } else {
            this.$notification(
              "error",
              "Tenemos un problema para procesar el seguimiento del usuario"
            );
          }
        })
        .finally(() => {
          this.isLoadingFollow = false;
        });
    },
    nextActivitiesPage() {
      this.results.page = parseInt(this.results.page) + 1;
      this.isLoadingActivities = true;

      this.getActivities();
    },
    getActivities() {
      activityService
        .byUsername(this.username, this.results.page)
        .then(response => {
          this.results.activities = this.results.activities.concat(
            response.data.activities
          );
          this.results.page = response.data.current_page;
          this.results.hasMore = response.data.has_more;
        })
        .catch(() => {})
        .finally(() => {
          this.isLoadingActivities = false;
        });
    },
    openLogin() {
      this.$emit("openLogin");
    },
    following() {
      if (this.$store.getters.user) {
        this.isLoadingFollow = true;

        followService
          .show(this.username)
          .then(result => {
            this.follow = result.data.follow;
          })
          .catch(() => {})
          .finally(() => {
            this.isLoadingFollow = false;
          });
      }
    },
    getProfile() {
      this.username = this.$route.params.username;

      this.$title(`Perfil ${this.username}`);

      profileService
        .show(this.username)
        .then(response => {
          this.profile = response.data.profile;
          this.profileExists = true;
        })
        .catch(() => {
          this.profileExists = false;
        })
        .finally(() => {
          this.isLoadingProfile = false;
        });
    },
    getAllServices() {
      this.getProfile();
      this.getActivities();
      this.following();
    }
  },
  created() {
    this.getAllServices();
  }
};
</script>

<style lang="scss" scoped>
.view-profile {
  min-height: 70vh;
  .img-profile,
  .img-portrait {
    border-radius: $border-radius;
    background: $background-light-grey;
  }

  .img-profile {
    width: 150px;
    height: 150px;
    margin: -70px 0 0 0;
    position: relative;
  }

  .img-portrait {
    width: 100%;
    height: 300px;
    position: relative;
  }

  .follow-wrapper {
    position: absolute;
    bottom: 5px;
    right: 5px;

    .lni {
      color: $color-heart;
    }
  }

  .statistics-user {
    text-align: center;

    li {
      .title {
        font-size: $font-size;
      }
    }
  }
}
</style>
