<template>
  <div>
    <h2 class="h5 pb-3">Publicar actividad</h2>
    <div class="row">
      <div class="col-md-3">
        <ul class="list-inline list-steps">
          <li
            v-for="(stepNumber, index) in stepsNumbers"
            :key="index"
            :class="step - 1 == index ? 'active' : ''"
            class="pb-3"
          >
            <p class="f-14">
              <span class="number-step mr-2">{{ index + 1 }}</span>
              {{ stepNumber.title }}
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-9 pb-5">
        <StepOne @data="getDataFromStep" :data="steps.one" v-if="step == 1"></StepOne>
        <StepTwo @data="getDataFromStep" :data="steps.two" v-if="step == 2"></StepTwo>
        <StepThree @data="getDataFromStep" :data="steps.three" v-if="step == 3"></StepThree>
        <StepFour @data="getDataFromStep" :data="steps.four" v-if="step == 4"></StepFour>
        <StepFive @data="getDataFromStep" :data="steps.five" v-if="step == 5"></StepFive>
      </div>
    </div>
    <FinishModal @pay="pay" :hasErrors="hasErrors" :needToPay="needToPay" :openModal="isFinished"></FinishModal>
    <Payment></Payment>
    <div class="steps-button pt-3 pb-3">
      <Filled @click="prevStep()" :disabled="step == 1" color="light" class="mr-3" text="Atras"></Filled>
      <Filled :isLoading="isLoadingStep" v-if="!store" @click="nextStep()" text="Siguiente"></Filled>
      <Filled v-if="store" :isLoading="isLoadingStore" @click="create()" text="Crear"></Filled>
    </div>
  </div>
</template>

<script>
const Filled = () => import("~m/common/button/Filled");
const StepOne = () => import("./components/StepOne");
const StepTwo = () => import("./components/StepTwo");
const StepThree = () => import("./components/StepThree");
const StepFour = () => import("./components/StepFour");
const StepFive = () => import("./components/StepFive");
const Payment = () => import("../common/Payment");
const FinishModal = () => import("./components/FinishModal");

//import beforeUnload from "./helpers/beforeUnload";
import activityService from "~c/services/user/activityService";

export default {
  components: {
    Filled,
    StepOne,
    StepTwo,
    StepThree,
    StepFour,
    StepFive,
    Payment,
    FinishModal
  },
  name: "New",
  data() {
    return {
      id: "",
      step: 1,
      isLoadingStep: false,
      isLoadingStore: false,
      isFinished: false,
      hasErrors: false,
      needToPay: false,
      steps: {
        one: {},
        two: {},
        three: {},
        four: {},
        five: {}
      },
      keySteps: {
        1: "one",
        2: "two",
        3: "three",
        4: "four",
        5: "five"
      },
      stepsNumbers: [
        {
          title: "Información basica"
        },
        {
          title: "Ubicación"
        },
        {
          title: "Imágenes"
        },
        {
          title: "Datos de contacto"
        },
        {
          title: "Posicionamiento"
        }
      ],
      store: false
    };
  },
  methods: {
    async getDataFromStep(formData, data, step) {
      this.formData = formData;
      this.steps[step] = data;
    },
    async nextStep() {
      this.isLoadingStep = true;

      const index = this.keySteps[this.step];
      const nameStep = index.charAt(0).toUpperCase() + index.slice(1);
      const nameFunctionGetData = `getDataFromStep${nameStep}`;
      const nameFunctionSetErrors = `setErrorsFromStep${nameStep}`;
      const nameFunctionCleanErrors = `cleanErrorsFromStep${nameStep}`;

      this.$emit(nameFunctionGetData);

      activityService
        .step(this.step, this.formData)
        .then(() => {
          if (this.step == 5) {
            this.store = true;
          } else {
            this.step += 1;
          }

          this.$emit(nameFunctionCleanErrors);
        })
        .catch(error => {
          this.$emit(nameFunctionSetErrors, error);
        })
        .finally(() => {
          this.isLoadingStep = false;
        });
    },
    async create() {
      this.isLoadingStore = true;

      let objectToFormData = {
        title: this.steps.one.title,
        description: this.steps.one.description,
        price: this.steps.one.price,
        latitude: this.steps.two.latitude,
        longitude: this.steps.two.longitude,
        phone_number: this.steps.four.phone_number,
        telephone_number: this.steps.four.telephone_number,
        facebook_url: this.steps.four.facebook_url,
        instagram_url: this.steps.four.instagram_url,
        email: this.steps.four.email,
        web: this.steps.four.web,
        publish_type: this.steps.five.publish_type,
        month: this.steps.five.month,
        activity_type: this.steps.one.activity_type || "",
        activity_difficulty: this.steps.one.activity_difficulty || ""
      };

      if (this.steps.one.characteristics) {
        this.steps.one.characteristics.map((characteristic, index) => {
          objectToFormData[`characteristics[${index}][concept]`] =
            characteristic.concept;
          objectToFormData[`characteristics[${index}][value]`] =
            characteristic.value;
        });
      }

      this.steps.three.images.map((image, index) => {
        objectToFormData[`images[${index}]`] = image.url;
      });

      const formData = this.$formData(objectToFormData);

      await activityService
        .store(formData)
        .then(response => {
          const totalPrice = this.steps.five.price.total;

          if (typeof totalPrice != "string") {
            this.id = response.data.activity;
            this.needToPay = true;
          }
        })
        .catch(() => {
          this.hasErrors = true;
        })
        .finally(() => {
          this.isLoadingStore = false;
          this.isFinished = true;
        });
    },
    prevStep() {
      this.store = false;
      this.step -= 1;
      const index = this.keySteps[this.step];

      this.$emit("setData", this.steps[index]);
    },
    pay() {
      this.$emit("pay", this.id);
    }
  },
  created() {
    this.$title("Crear actividad");
    //window.onbeforeunload = beforeUnload;
  },
  beforeDestroy() {
    window.onbeforeunload = () => {};
  }
};
</script>

<style lang="scss" scoped>
.list-steps {
  li {
    .number-step {
      display: inline-block;
      text-align: center;
      background: $background-light-grey;
      line-height: 32px;
      width: 32px;
      height: 32px;
      border: 1px solid $border;
      border-radius: $border-radius;
    }

    &.active {
      .number-step {
        background: $primary;
        border: 1px solid $light;
        color: $light;
      }
    }
  }
}

.steps-button {
  background: $light;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
</style>
