<template>
  <div>
    <Loader :isLoading="isLoading" v-if="isLoading"></Loader>
    <div v-else-if="activity">
      <h2 class="h5 pb-3">Publicar actividad</h2>
      <div class="row">
        <div class="col-md-3">
          <ul class="list-inline list-steps">
            <li
              v-for="(stepNumber, index) in stepsNumbers"
              :key="index"
              :class="step - 1 == index ? 'active' : ''"
              class="pb-3"
            >
              <p class="f-14">
                <span class="number-step mr-2">{{ index + 1 }}</span>
                {{ stepNumber.title }}
              </p>
            </li>
          </ul>
        </div>
        <div class="col-md-9 pb-5">
          <StepOne @data="getDataFromStep" :data="steps.one" v-if="step == 1"></StepOne>
          <StepTwo @data="getDataFromStep" :data="steps.two" v-if="step == 2"></StepTwo>
          <StepThree @data="getDataFromStep" :data="steps.three" v-if="step == 3"></StepThree>
          <StepFour @data="getDataFromStep" :data="steps.four" v-if="step == 4"></StepFour>
        </div>
      </div>
      <FinishModal
        :isUpdate="true"
        :hasErrors="hasErrors"
        :needToPay="false"
        :openModal="isFinished"
      ></FinishModal>
      <div class="steps-button pt-3 pb-3">
        <Filled @click="prevStep" :disabled="step == 1" color="light" class="mr-3" text="Atras"></Filled>
        <Filled :isLoading="isLoadingStep" v-if="!store" @click="nextStep" text="Siguiente"></Filled>
        <Filled v-if="store" :isLoading="isLoadingUpdate" @click="update" text="Editar"></Filled>
      </div>
    </div>
    <NotFoundContent v-else></NotFoundContent>
  </div>
</template>

<script>
const Filled = () => import("~m/common/button/Filled");
const StepOne = () => import("./components/StepOne");
const StepTwo = () => import("./components/StepTwo");
const StepThree = () => import("./components/StepThree");
const StepFour = () => import("./components/StepFour");
const FinishModal = () => import("./components/FinishModal");
const Loader = () => import("~m/common/misc/Loader");
const NotFoundContent = () =>
  import("~m/common/notfound/components/NotFoundContent");

//import beforeUnload from "./helpers/beforeUnload";
import activityService from "~c/services/user/activityService";

export default {
  components: {
    Filled,
    StepOne,
    StepTwo,
    StepThree,
    StepFour,
    FinishModal,
    NotFoundContent,
    Loader
  },
  name: "New",
  data() {
    return {
      id: this.$route.params.subSection,
      step: 1,
      isLoading: true,
      isLoadingStep: false,
      isLoadingUpdate: false,
      isFinished: false,
      hasErrors: false,
      activity: null,
      steps: {
        one: {},
        two: {},
        three: {},
        four: {}
      },
      keySteps: {
        1: "one",
        2: "two",
        3: "three",
        4: "four"
      },
      stepsNumbers: [
        {
          title: "Información basica"
        },
        {
          title: "Ubicación"
        },
        {
          title: "Imágenes"
        },
        {
          title: "Datos de contacto"
        }
      ],
      store: false
    };
  },
  methods: {
    async getDataFromStep(formData, data, step) {
      this.formData = formData;
      this.steps[step] = data;
    },
    async nextStep() {
      this.isLoadingStep = true;

      const index = this.keySteps[this.step];
      const nameStep = index.charAt(0).toUpperCase() + index.slice(1);
      const nameFunctionGetData = `getDataFromStep${nameStep}`;
      const nameFunctionSetErrors = `setErrorsFromStep${nameStep}`;
      const nameFunctionCleanErrors = `cleanErrorsFromStep${nameStep}`;

      this.$emit(nameFunctionGetData);

      activityService
        .step(this.step, this.formData)
        .then(() => {
          if (this.step == 4) {
            this.store = true;
          } else {
            this.step += 1;
          }

          this.$emit(nameFunctionCleanErrors);
        })
        .catch(error => {
          this.$emit(nameFunctionSetErrors, error);
        })
        .finally(() => {
          this.isLoadingStep = false;
        });
    },
    async update() {
      this.isLoadingUpdate = true;

      let objectToFormData = {
        title: this.steps.one.title,
        description: this.steps.one.description,
        price: this.steps.one.price,
        latitude: this.steps.two.latitude,
        longitude: this.steps.two.longitude,
        phone_number: this.steps.four.phone_number,
        telephone_number: this.steps.four.telephone_number,
        facebook_url: this.steps.four.facebook_url,
        instagram_url: this.steps.four.instagram_url,
        email: this.steps.four.email,
        web: this.steps.four.web,
        activity_type: this.steps.one.activity_type || "",
        activity_difficulty: this.steps.one.activity_difficulty || ""
      };

      if (this.steps.one.characteristics) {
        this.steps.one.characteristics.map((characteristic, index) => {
          objectToFormData[`characteristics[${index}][concept]`] =
            characteristic.concept;
          objectToFormData[`characteristics[${index}][value]`] =
            characteristic.value;
        });
      }

      this.steps.three.images.map((image, index) => {
        objectToFormData[`images[${index}]`] = image.url;
      });

      const formData = this.$formData(objectToFormData);

      await activityService
        .update(this.id, formData)
        .then(() => {})
        .catch(() => {
          this.hasErrors = true;
        })
        .finally(() => {
          this.isLoadingUpdate = false;
          this.isFinished = true;
        });
    },
    prevStep() {
      this.store = false;
      this.step -= 1;
      const index = this.keySteps[this.step];

      this.$emit("setData", this.steps[index]);
    },
    getActivity() {
      activityService
        .showMyActivity(this.id)
        .then(response => {
          this.$title("Editar actividad");

          this.activity = response.data.activity;

          this.steps.one.title = this.activity.title;
          this.steps.one.description = this.activity.description;
          this.steps.one.price = this.activity.price;
          this.steps.one.activity_type = this.activity.type.name;
          this.steps.one.activity_difficulty = this.activity.difficulty.name;
          this.steps.one.characteristics = this.activity.characteristics;

          this.steps.two.latitude = parseFloat(this.activity.latitude);
          this.steps.two.longitude = parseFloat(this.activity.longitude);

          this.steps.three.images = this.activity.images.map(image => {
            return {
              background: image,
              isUploaded: true,
              url: image
            };
          });

          this.steps.four.phone_number = this.activity.contact.phone_number;
          this.steps.four.telephone_number = this.activity.contact.telephone_number;
          this.steps.four.facebook_url = this.activity.contact.facebook_url;
          this.steps.four.instagram_url = this.activity.contact.instagram_url;
          this.steps.four.email = this.activity.contact.email;
          this.steps.four.web = this.activity.contact.web;
        })
        .catch(() => {})
        .finally(() => {
          this.isLoading = false;
        });
    }
  },
  created() {
    this.getActivity();
    //window.onbeforeunload = beforeUnload;
  },
  beforeDestroy() {
    window.onbeforeunload = () => {};
  }
};
</script>

<style lang="scss" scoped>
.list-steps {
  li {
    .number-step {
      display: inline-block;
      text-align: center;
      background: $background-light-grey;
      line-height: 32px;
      width: 32px;
      height: 32px;
      border: 1px solid $border;
      border-radius: $border-radius;
    }

    &.active {
      .number-step {
        background: $primary;
        border: 1px solid $light;
        color: $light;
      }
    }
  }
}

.steps-button {
  background: $light;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
</style>
