<template>
  <Filled color="light" @click="click" :isLoading="isLoading" skin="dark" class="favorite-button">
    <template #content>
      <i v-if="!favorite" class="lni lni-heart"></i>
      <i v-else class="lni lni-heart-filled"></i>
    </template>
  </Filled>
</template>

<script>
const Filled = () => import("../button/Filled");

export default {
  components: {
    Filled
  },
  props: {
    favorite: {
      name: Boolean
    },
    isLoading: {
      name: Boolean
    }
  },
  methods: {
    click() {
      this.$emit("click");
    }
  }
};
</script>

<style lang="scss" scoped>
.favorite-button {
  border-radius: $border-radius;
  transition: $transition-base;
  color: $color-heart;
  background: $light;
  position: absolute !important;
  top: 5px;
  right: 5px;
  font-weight: bold;
  padding: 0 !important;
  width: 25px;
  height: 25px;

  &:hover {
    .favorite-button {
      transition: $transition-base;
      color: $color-heart;
    }
  }
}
</style>
