<template>
  <FavoriteContent @click="handleFavorite" :isLoading="isLoading" :favorite="favoriteFake"></FavoriteContent>
</template>

<script>
const FavoriteContent = () => import("./FavoriteContent");
import favoriteService from "~c/services/user/favoriteService";

export default {
  components: {
    FavoriteContent
  },
  props: {
    favorite: {
      type: Boolean,
      default: false
    },
    id: {
      type: String
    }
  },
  data() {
    return {
      isLoading: false,
      favoriteFake: false
    };
  },
  methods: {
    handleFavorite() {
      if (this.$store.getters.isLoggedIn) {
        this.isLoading = true;
        favoriteService
          .update(this.id)
          .then(response => {
            this.favoriteFake = response.data.favorite;

            this.$emit("updatedFavorite", this.id);
          })
          .catch(() => {
            this.$notification(
              "error",
              "Ocurrio un error al intentar de actualizar los favoritos"
            );
          })
          .finally(() => {
            this.isLoading = false;
          });
      } else {
        this.$emit("openLogin");
      }
    }
  },
  created() {
    this.favoriteFake = this.favorite;
  }
};
</script>