<template>
  <div class="container-header">
    <header class="container">
      <div class="d-flex align-items-top">
        <div class="mr-auto">
          <router-link :to="route('public.home')" class="logo">
            <img src="/assets/misc/logo.png" alt="Traveleala" width="200" />
          </router-link>
        </div>
        <div>
          <HeaderPublic v-if="typeOfHeader == 'public'" @activitiesClick="activitiesClick"></HeaderPublic>
          <HeaderUser v-else @activitiesClick="activitiesClick"></HeaderUser>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
const HeaderPublic = () => import("./components/HeaderPublic");
const HeaderUser = () => import("./components/HeaderUser");

export default {
  name: "Header",
  components: {
    HeaderPublic,
    HeaderUser
  },
  props: {
    nameHeader: {
      name: String,
      default: ""
    }
  },
  computed: {
    typeOfHeader() {
      return this.$store.getters.user.role || "public";
    }
  },
  methods: {
    openLogin() {
      this.$emit("openLogin");
    },
    activitiesClick() {
      this.$emit("activitiesClick");
      this.$router
        .push(this.$routeHelper("public.activities.search"))
        .catch(() => {});
    }
  },
  created: function() {
    this.$parent.$on("openLogin", this.openLogin);
  }
};
</script>
<style lang="scss">
.container-header {
  height: 60px;
  padding: 15px 0 0 0;
  border-bottom: 1px solid $background-light-grey;
  background: $light;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10;

  .logo {
    img {
      margin: -10px 0 0 0 !important;
    }
  }
}
</style>
