<template>
  <div class="row container-location position-relative">
    <div class="col-md-2"></div>
    <div class="col-md-8" v-click-outside="hideSearch">
      <div class="position-relative">
        <b-form-input
          class="pt-3 pb-3 search-input"
          type="text"
          placeholder="A donde tenes pensado escaparte ?"
          autocomplete="off"
          :value="locationToSearch"
          v-model="locationToSearch"
          @focus="showResults"
        ></b-form-input>
        <div class="icon-container">
          <i v-if="!isLoading" class="lni lni-search"></i>
          <Spinner color="dark" :isLoading="isLoading"></Spinner>
        </div>
      </div>

      <vueCustomScrollbar class="location-wrapper scroll-area" :settings="settings" v-show="show">
        <ul class="location-list list-unstyled">
          <li v-for="location in locations" :key="location">
            <router-link
              :to="`${route('public.activities.search')}/${location}`"
              v-on:click.native="hideSearch(location)"
            >{{ location }}</router-link>
          </li>
          <li v-show="!locations.length && searched">
            <p class="p-2">{{ message }}</p>
          </li>
        </ul>
      </vueCustomScrollbar>
    </div>
    <div class="col-md-2"></div>
  </div>
</template>
<script>
const Spinner = () => import("~m/common/misc/Spinner");
import locationService from "~c/services/user/locationService";
import vueCustomScrollbar from "vue-custom-scrollbar";
import debounce from "~c/helpers/debounce";

export default {
  name: "Search",
  components: {
    Spinner,
    vueCustomScrollbar
  },
  data() {
    return {
      isLoading: false,
      locations: [],
      searched: false,
      message: "",
      locationToSearch: this.location,
      clicked: false,
      show: false,
      settings: {
        maxScrollbarLength: 60
      }
    };
  },
  props: {
    location: {
      type: String,
      default: ""
    }
  },
  watch: {
    location(val) {
      this.locationToSearch = val;
    },
    locationToSearch: debounce(function(location) {
      if (!this.clicked) {
        this.searchLocation(location);
      }
      this.clicked = false;
    }, 200)
  },
  methods: {
    hideSearch(location = "") {
      this.show = false;
      this.searched = true;

      if (typeof location == "string") {
        this.value = location;
        this.locationToSearch = location;
        this.clicked = true;
        this.$emit("update", location);
      }
    },
    searchLocation(search) {
      if (search.length <= 2) {
        this.locations = [];
        this.searched = false;
      } else {
        this.show = true;
        this.isLoading = true;
        locationService
          .search(search)
          .then(result => {
            this.searched = true;
            this.locations = result.data.locations;
            if (!this.locations.length) {
              this.message = "No se encontraron resultados";
            }
          })
          .catch(() => {
            this.searched = true;
            this.message =
              "Ocurrio un error al realizar la busqueda de resultados";
          })
          .finally(() => {
            this.isLoading = false;
          });
      }
    },
    showResults() {
      if (this.locations.length || this.searched) {
        if (this.locationToSearch) {
          this.show = true;
        }
      } else {
        this.searchLocation(this.locationToSearch);
      }
    }
  },
  created() {
    this.clicked = true;
  }
};
</script>
<style lang="scss">
.container-location {
  .search-input {
    font-size: 16px;
    height: 50px !important;
    border-radius: $border-radius;
    border: none;
  }

  .icon-container {
    position: absolute;
    top: 14px;
    right: 5px;

    .lni {
      font-size: 22px;
    }
  }
}

.location-wrapper {
  background: $light;
  max-height: 250px;
  overflow: hidden;
  border: 1px solid $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  .location-list {
    width: 100%;
    text-align: left;

    li {
      a {
        color: inherit;
        display: block;
        padding: 1px 8px;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
      }

      &:hover {
        background: $background-light-grey;
      }
    }
  }
}
</style>
