<template>
  <div>
    <Header></Header>
    <NotFoundContent></NotFoundContent>
    <Footer></Footer>
  </div>
</template>

<script>
const Header = () => import("~m/common/header/Header");
const NotFoundContent = () => import("./components/NotFoundContent");
const Footer = () => import("~m/common/footer/Footer");

export default {
  name: "NotFound",
  components: {
    NotFoundContent,
    Footer,
    Header
  },
  methods: {
    openLogin() {
      this.$emit("openLogin");
    }
  },
  created() {
    this.$title("Pagina no encontrada");
  }
};
</script>

<style lang="scss" scoped></style>
