<template>
  <div>
    <Header></Header>
    <section class="banner-activities">
      <div class="search-container container">
        <Search @update="locationUpdated" :location="filters.location"></Search>
      </div>
    </section>

    <section class="container mt-5 mb-5">
      <div class="row">
        <div class="filters-section col-md-3">
          <h2 class="h4">{{ placeSearched }}</h2>
          <p class="h6">{{ results.total }} resultados</p>

          <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
            <div>
              <h3 class="h6">Filtros</h3>
            </div>
            <div>
              <a href="#" class="f-14 text-primary" @click.prevent="resetFilters">Restablecer</a>
            </div>
          </div>

          <InputText v-model="filters.title" label="Nombre de la actividad"></InputText>

          <div class="row pt-3 pb-3">
            <div class="col-md-6">
              <InputNumber label="Min" v-model="filters.minPrice"></InputNumber>
            </div>
            <div class="col-md-6">
              <InputNumber label="Max" v-model="filters.maxPrice"></InputNumber>
            </div>
          </div>

          <p class="f-14">Tipo de actividades</p>
          <VueMultiSelect
            v-model="filters.types"
            :btnLabel="btnLabel"
            :search="false"
            :historyButton="false"
            :selectOptions="types"
            :options="options"
            class="multiselect mb-3"
          ></VueMultiSelect>

          <p class="f-14">Dificultad</p>
          <VueMultiSelect
            v-model="filters.difficulties"
            :btnLabel="btnLabel"
            :search="false"
            :historyButton="false"
            :selectOptions="difficulties"
            :options="options"
            class="multiselect mb-3"
          ></VueMultiSelect>

          <p>Seleccionar ubicación</p>
          <vl-map
            :load-tiles-while-animating="true"
            :load-tiles-while-interacting="true"
            data-projection="EPSG:4326"
            style="height:300px;"
            @click="clickInMap"
            ref="map"
          >
            <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>

            <vl-layer-tile ref="layer">
              <vl-source-osm></vl-source-osm>
            </vl-layer-tile>

            <vl-layer-vector v-if="coordinates.length > 0">
              <vl-feature>
                <vl-geom-point :coordinates="coordinates"></vl-geom-point>

                <vl-style-box>
                  <vl-style-icon src="/assets/misc/marker.png"></vl-style-icon>
                </vl-style-box>
              </vl-feature>
            </vl-layer-vector>
          </vl-map>

          <div class="pt-3"></div>
          <InputNumber v-model="filters.distance" label="Distancia kms"></InputNumber>

          <div class="f-14 pt-3">
            <p-radio name="radio1" value v-model="filters.landscape" color="primary-o">Todos</p-radio>
            <div class="clearfix"></div>
            <p-radio
              name="radio1"
              v-model="filters.landscape"
              value="true"
              color="primary-o"
            >Solo paisajes</p-radio>
            <div class="clearfix"></div>
            <p-radio
              name="radio1"
              v-model="filters.landscape"
              value="false"
              color="primary-o"
            >Solo actividades</p-radio>
          </div>

          <h4 class="h6 pt-3 pb-3">Ordenar</h4>

          <div v-for="sort in sorts" :key="sort.key" class="f-14">
            <p-radio
              :checked="sort.checked"
              name="sorts"
              :value="sort.key"
              v-model="filters.sort"
              color="primary-o"
            >{{ sort.description }}</p-radio>
            <div class="clearfix"></div>
          </div>

          <div class="text-center mt-3">
            <Filled :isLoading="isLoadingSearch" @click="filter()" text="Filtrar" class="w-80"></Filled>
          </div>
        </div>
        <div class="col-md-9">
          <Loader :isLoading="isLoadingSearch" :isRelative="true"></Loader>
          <ActivitiesList
            :activities="results.activities"
            :cantInline="4"
            :hasMore="results.hasMore"
            :page="filters.page"
            :isLoading="isLoadingPagination"
            @openLogin="openLogin"
            @next="nextActivitiesPage()"
          ></ActivitiesList>
          <Empty v-if="!results.activities.length" title="No se encontraron actividades"></Empty>
        </div>
      </div>
    </section>
    <Footer></Footer>
  </div>
</template>
<script>
const Header = () => import("~m/common/header/Header");
const Footer = () => import("~m/common/footer/Footer");
const Filled = () => import("~m/common/button/Filled");
const ActivitiesList = () => import("~m/common/activities/ActivitiesList");
const InputText = () => import("~m/common/input/InputText");
const InputNumber = () => import("~m/common/input/InputNumber");
const Search = () => import("../common/Search");
const Empty = () => import("~m/common/empty/Empty");
const Loader = () => import("~m/common/misc/Loader");

import activityService from "~c/services/user/activityService";
import handleFilters from "./helpers/handleFilters";
import setFilters from "./helpers/setFilters";
import VueMultiSelect from "vue-multi-select";

const {
  landscape,
  distance,
  maxPrice,
  minPrice,
  title,
  sort,
  page,
  coordinates,
  types,
  difficulties
} = setFilters(location);

export default {
  name: "Activity",
  components: {
    Footer,
    Filled,
    InputText,
    InputNumber,
    ActivitiesList,
    Search,
    VueMultiSelect,
    Empty,
    Header,
    Loader
  },
  data() {
    return {
      isLoadingSearch: true,
      isLoadingPagination: false,
      filters: {
        title: title || "",
        minPrice: minPrice || "",
        maxPrice: maxPrice || "",
        distance: distance || "",
        landscape: landscape || "",
        sort: sort || "upRecents",
        location: this.$route.params.location || "",
        page: page || 1,
        coordinates: coordinates || "",
        types: types || [],
        difficulties: difficulties || []
      },
      placeSearched: "",
      btnLabel: values =>
        values.length ? `${values.length} seleccionadas` : "Seleccionar",
      options: {
        multi: true,
        groups: true,
        labelList: "elements",
        groupName: "title"
      },
      types: [
        {
          title: "",
          elements: []
        }
      ],
      difficulties: [
        {
          title: "",
          elements: []
        }
      ],
      coordinates: "",
      zoom: parseInt(localStorage.getItem("zoom")),
      center: "",
      rotation: 0,
      results: {
        total: 0,
        activities: [],
        hasMore: false
      },
      sorts: [
        {
          key: "upRecents",
          description: "Mas recientes",
          checked: true
        },
        {
          key: "downRecents",
          description: "Menos recientes",
          checked: false
        },
        {
          key: "upQualifications",
          description: "Mayor calificación",
          checked: false
        },
        {
          key: "downQualifications",
          description: "Menor calificación",
          checked: false
        },
        {
          key: "upPrice",
          description: "Mayor precio",
          checked: false
        },
        {
          key: "downPrice",
          description: "Menor precio",
          checked: false
        }
      ]
    };
  },
  methods: {
    toggle() {
      this.$refs["fullscreen"].toggle();
    },
    fullscreenChange(fullscreen) {
      this.fullscreen = fullscreen;
      const heightMap = !fullscreen ? "800px" : "300px";
      this.heightMap = heightMap;
    },
    locationUpdated(location) {
      this.results.activities = [];
      this.filters.location = location;
      this.results.activities = [];
      this.filters = {};
      this.filters.location = location;
      this.filters.sort = "upRecents";
      this.filters.landscape = "";
      this.filters.distance = "";
      this.setDefaultCoordinates();
      this.getActivities(true);
    },
    openLogin() {
      this.$emit("openLogin", true);
    },
    resetFilters() {
      this.results.activities = [];
      this.filters = {};
      this.filters.location = "";
      this.filters.sort = "upRecents";
      this.filters.landscape = "";
      this.filters.distance = "";
      this.setDefaultCoordinates();
      this.getActivities(true);

      this.isLoadingSearch = true;

      history.pushState(
        {},
        null,
        this.$routeHelper("public.activities.search")
      );
    },
    nextActivitiesPage() {
      this.filters.page = parseInt(this.filters.page) + 1;
      this.isLoadingPagination = true;
      this.getActivities();
    },
    filter() {
      this.isLoadingSearch = true;
      window.scrollTo({
        top: 100,
        behavior: "smooth"
      });
      this.getActivities(true);
    },
    getActivities(resetPage = false) {
      this.setLocationSearched();

      if (resetPage) {
        this.filters.page = 1;
        this.results.activities = [];
      }

      const { url, api } = handleFilters(this.filters);

      if (resetPage) {
        this.getTotal(api);
      }

      if (url) {
        history.pushState({}, null, url);
      } else {
        window.history.replaceState({}, "", location.pathname);
      }

      activityService
        .search(api)
        .then(response => {
          this.results.activities = this.results.activities.concat(
            response.data.activities
          );
          this.filters.page = response.data.current_page;
          this.results.hasMore = response.data.has_more;
        })
        .catch(() => {})
        .finally(() => {
          this.isLoadingSearch = false;
          this.isLoadingPagination = false;
        });
    },
    clickInMap(e) {
      this.features = [
        {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [e.coordinate[0], e.coordinate[1]]
          },
          properties: {}
        }
      ];

      this.center = [e.coordinate[0], e.coordinate[1]];
      this.coordinates = [e.coordinate[0], e.coordinate[1]];
      this.filters.coordinates = `${e.coordinate[1]},${e.coordinate[0]}`;

      if (!this.filters.distance || this.filters.distance == "") {
        this.filters.distance = 50;
      }
    },
    setCoordinates() {
      if (coordinates) {
        const newCoordinates = [coordinates[1], coordinates[0]];
        this.coordinates = newCoordinates;
        this.center = newCoordinates;
      } else {
        this.setDefaultCoordinates();
      }
    },
    setDefaultCoordinates() {
      this.coordinates = [];

      this.center = [
        parseFloat(localStorage.getItem("longitude")),
        parseFloat(localStorage.getItem("latitude"))
      ];
    },
    setLocationSearched() {
      let location = "En todo Argentina";

      if (this.filters.coordinates) {
        location = "En el mapa";
      }

      if (this.filters.location) {
        location = `En ${this.filters.location}`;
      }

      this.placeSearched = location;
    },
    getTotal(api) {
      api = `${api}&total`;

      activityService
        .search(api)
        .then(response => {
          this.results.total = response.data.total;
        })
        .catch(() => {});
    }
  },
  created() {
    this.$title("Actividades de Argentina");

    this.getActivities(true);
    this.setCoordinates();

    activityService
      .types()
      .then(response => {
        this.types[0].elements = response.data.types;
        this.filters.types = types;
      })
      .catch(() => {});

    activityService
      .difficulties()
      .then(response => {
        this.difficulties[0].elements = response.data.difficulties;
        this.filters.difficulties = difficulties;
      })
      .catch(() => {});
  }
};
</script>
<style scoped lang="scss">
.banner-activities {
  position: relative;
  background: url(/assets/backgrounds/banner-activities.jpg) no-repeat center
    center;
  background-size: cover;
  height: 300px;
}

.search-container {
  position: absolute;
  top: 40%;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 5;
}
</style>
