<template>
  <div v-if="percentages.length">
    <ul class="list-inline">
      <li v-for="percentage in percentages" :key="percentage.id" class="d-flex align-items-center">
        <div>
          <span>{{ percentage[indexName] }}</span>
        </div>
        <div class="wrapper d-inline-block w-75">
          <b-progress show-value>
            <b-progress-bar
              :value="(percentage.total / total) * 100"
              :label="' '"
              variant="success"
            ></b-progress-bar>
          </b-progress>
        </div>
        <div>
          <span class="pl-2">{{ percentage.total | number("0a") }}</span>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    percentages: {
      name: Array,
      default: () => []
    },
    total: {
      name: Number
    },
    indexName: {
      name: String,
      default: "name"
    }
  }
};
</script>

<style lang="scss" scoped>
ul {
  li {
    span {
      text-transform: capitalize;
      width: 60px;
      font-size: $font-size;
      display: inline-block;
    }

    .bg-success {
      background-color: $secondary !important;
    }
  }
}
</style>
