<template>
  <div>
    <ul class="pt-2 list-unstyled">
      <li class="pb-3 pt-3" v-for="qualification in qualifications" :key="qualification.id">
        <QualificationItem @report="reportModal" :qualification="qualification"></QualificationItem>
      </li>
    </ul>
    <div class="w-100" v-if="showPaginate">
      <Infinite :isLoading="isLoading" @next="next" :page="page" :hasMore="hasMore"></Infinite>
    </div>
    <Report :id="qualificationId" type="qualification"></Report>
  </div>
</template>

<script>
const Infinite = () => import("~m/common/misc/Infinite");
const Report = () => import("./Report");
const QualificationItem = () => import("./QualificationItem");

export default {
  name: "Comment",
  components: {
    Infinite,
    Report,
    QualificationItem
  },
  data() {
    return {
      qualificationId: null
    };
  },
  props: {
    qualifications: {
      name: Array,
      default: () => []
    },
    hasMore: {
      type: Boolean,
      default: false
    },
    page: {
      default: "1"
    },
    isLoading: {
      default: false
    }
  },
  computed: {
    showPaginate() {
      return (this.hasMore || this.page != 1) && this.qualifications.length;
    }
  },
  methods: {
    reportModal(id) {
      if (!this.$store.getters.isLoggedIn) {
        this.$emit("openLogin");
        return false;
      }

      this.qualificationId = id;
      this.$emit("reportModal");
    },
    next() {
      this.$emit("next");
    },
    prev() {
      this.$emit("prev");
    }
  }
};
</script>

<style lang="scss" scoped>
ul {
  li {
    border-bottom: 1px solid $border;

    &:last-of-type {
      border-bottom: none;
    }
  }
}
</style>
