<template>
  <Modal v-model="modalQualification" @close="clearQualification">
    <template #content>
      <div class="p-3">
        <h1 class="h4 d-block text-center mb-3">Calificar actividad</h1>
        <Textarea
          :errorMsg="qualificationErrors.review"
          :requiredLabel="true"
          label="Que te parecio el lugar?"
          v-model="review"
          :maxlength="1000"
          description="Maximo de 1000 caracteres"
        ></Textarea>

        <Label class="pt-3" label="Te acordas cuando fuiste ?"></Label>
        <datepicker
          :language="languageDatePicker"
          v-model="activity_date"
          format="MMMM yyyy"
          :bootstrap-styling="true"
          :disabled-dates="disabledDates"
          minimum-view="month"
        ></datepicker>
        <ErrorMessage :msg="qualificationErrors.activity_date"></ErrorMessage>

        <Label class="pt-3" :requiredLabel="true" label="Como describirias la actividad"></Label>
        <VueMultiSelect
          v-model="difficulty"
          :btnLabel="btnLabel"
          :search="false"
          :historyButton="false"
          :selectOptions="difficulties"
          class="multiselect"
        ></VueMultiSelect>
        <ErrorMessage :msg="qualificationErrors.activity_difficulty"></ErrorMessage>

        <Label
          class="pt-3"
          :requiredLabel="true"
          label="Si tuvieras que puntarla, que numero pondrias?"
        ></Label>
        <VueMultiSelect
          v-model="qualification"
          :btnLabel="btnLabel"
          :search="false"
          :historyButton="false"
          :selectOptions="stars"
          class="multiselect"
        ></VueMultiSelect>
        <ErrorMessage :msg="qualificationErrors.qualification"></ErrorMessage>

        <Label class="pt-3" label="Comparti imágenes de tu experiencia"></Label>
        <div class="wrapper-images p-3" @click="onClickAttachment">
          <div class="upload-text">
            <i class="lni lni-image f-24"></i>
            <p>Adjuntar imagenes</p>
          </div>
          <div v-for="(image, index) in images" :key="index">
            <img :src="image.background" class="border-radius" width="100" height="100" alt />
          </div>
        </div>
        <Description description="Se permiten 4 imagenes como maximo"></Description>
        <input
          @change="onFileChange"
          type="file"
          title
          ref="files"
          class="d-none"
          accept="image/*"
          multiple
        />

        <div class="text-center mt-3">
          <Filled @click="store" text="Calificar" :isLoading="isLoading"></Filled>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
const Description = () => import("~m/common/input/Description");
const ErrorMessage = () => import("~m/common/input/ErrorMessage");
const Modal = () => import("~m/common/modal/Modal");
const Textarea = () => import("~m/common/input/Textarea");
const Label = () => import("~m/common/input/Label");
const Filled = () => import("~m/common/button/Filled");
import Datepicker from "vuejs-datepicker";
import VueMultiSelect from "vue-multi-select";
import qualificationsService from "~c/services/user/qualificationsService";
import activityService from "~c/services/user/activityService";
import { es } from "vuejs-datepicker/dist/locale";
const date = require("date-and-time");

export default {
  name: "New",
  components: {
    ErrorMessage,
    Modal,
    Textarea,
    VueMultiSelect,
    Label,
    Filled,
    Description,
    Datepicker
  },
  data() {
    return {
      modalQualification: false,
      btnLabel: value => (value.length ? value.toString() : "Seleccionar"),
      review: "",
      images: [],
      qualification: [],
      difficulty: [],
      difficulties: [],
      isLoading: false,
      qualificationErrors: {},
      activityId: this.$route.params.id,
      limitFiles: 4,
      activity_date: null,
      languageDatePicker: es,
      disabledDates: {
        to: new Date(1990, 0, 1),
        from: new Date()
      }
    };
  },
  computed: {
    stars() {
      let stars = [];

      for (let i = 5; i >= 1; i--) {
        const name = i == 1 ? "Estrella" : "Estrellas";
        stars.push(`${i} ${name}`);
      }

      return stars;
    }
  },
  methods: {
    onClickAttachment() {
      this.$refs.files.click();
    },
    async onFileChange(e) {
      const files = e.target.files;

      if (!files.length) {
        this.$refs.files.val = "";
        this.images = [];
        this.errors = {};
        return false;
      }

      const uploadedFilesCount = files.length + this.images.length;
      if (uploadedFilesCount > this.limitFiles) {
        return false;
      }

      for (let i = 0; i < files.length; i++) {
        const file = files[i];

        if (file && file.type.match(/image/)) {
          const imageFile = await this.$resizeImage(file);

          this.images.push({
            file: imageFile.file,
            background: imageFile.background,
            error: ""
          });
        }
      }
    },
    clearQualification() {
      this.review = "";
      this.qualification = "";
      this.difficulty = [];
      this.qualification = [];
      this.$refs.files.value = "";
      this.images = [];
    },
    store() {
      this.isLoading = true;

      let objectToFormData = {
        review: this.review,
        qualification: this.qualification.toString().slice(0, 1),
        activity_difficulty: this.difficulty
      };

      if (this.activity_date) {
        const now = new Date(this.activity_date);
        const pattern = date.compile("Y-MM-DD");

        objectToFormData.activity_date = date.format(now, pattern);
      }

      if (this.images.length) {
        for (let index = 0; index < 4; index++) {
          if (this.images[index]) {
            objectToFormData[`images[${index}]`] = this.images[index].file;
          }
        }
      }

      const formData = this.$formData(objectToFormData);

      qualificationsService
        .store(this.activityId, formData)
        .then(() => {
          this.clearQualification();
          this.$emit("refresh");
          this.modalQualification = false;

          this.$notification(
            "success",
            "Se realizo correctamente la calificación"
          );
        })
        .catch(error => {
          const errorCode = error.response.status;

          switch (errorCode) {
            case 400:
              this.qualificationErrors = this.$errorHandler(error);
              break;
            case 404:
              this.$notification(
                "warning",
                "Ya has calificado esta actividad, solo se permiten nuevas calificaciones luego de 30 días"
              );
              break;
            default:
              this.$notification(
                "error",
                "Tenemos un problema para procesar tu calificación, inentalo mas tarde"
              );
              break;
          }
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    loadDifficulties() {
      if (!this.difficulties.length) {
        activityService
          .difficulties()
          .then(response => {
            this.difficulties = response.data.difficulties;
          })
          .catch(() => {});
      }
    },
    openQualificationModal() {
      this.modalQualification = true;

      this.loadDifficulties();
    }
  },
  created() {
    this.$parent.$on("openQualificationModal", this.openQualificationModal);
  }
};
</script>

<style lang="scss" scoped>
.wrapper-images {
  background: $background-light-grey;
  min-height: 144px;
  border-radius: $border-radius;
  position: relative;
  cursor: pointer;
  border: 2px dashed $border;

  .upload-text {
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    color: $body-color;
    z-index: 0;
  }

  div {
    position: relative;
    display: inline-block;
    border: 4px solid $background-light-grey;
  }
}
</style>
