<template>
  <div>
    <div class="d-flex">
      <div class="pr-2">
        <router-link
          :to="
            route('public.profile', { username: qualification.user.username })
          "
        >
          <v-lazy-image
            width="48"
            height="48"
            :src="qualification.user.profile_image_url"
            class="img-profile"
          ></v-lazy-image>
        </router-link>
      </div>
      <div class="profile-information">
        <p class="h6 mb-0">
          <router-link
            class="text-title pr-1"
            :to="
              route('public.profile', { username: qualification.user.username })
            "
          >{{ qualification.user.full_name }}</router-link>

          <Rate :rate="qualification.qualification"></Rate>
        </p>
        <p class="f-14">Dificultad : {{ qualification.difficulty.name | capitalize }}</p>
        <p
          class="f-14"
          v-if="qualification.activity_date"
        >Fecha : {{ date(qualification.activity_date) }}</p>
        <div
          class="report-wrapper"
          v-if="!$store.getters.isMyProperty(qualification.user.username)"
        >
          <b-dropdown
            size="sm"
            variant="link"
            right
            toggle-class="p-0"
            title="Opciones"
            no-caret
            :lazy="true"
          >
            <template v-slot:button-content>
              <i class="lni lni-more-alt f-16"></i>
            </template>
            <b-dropdown-item
              @click.prevent="report(qualification.id)"
              class="f-14 text-title"
            >Reportar</b-dropdown-item>
          </b-dropdown>
        </div>
      </div>
    </div>
    <div>
      <p class="pt-3" v-html="qualification.review" v-linkified></p>

      <ul
        v-if="qualification.images.length"
        class="list-group list-group-horizontal pt-3 pb-3 images-comments"
      >
        <li
          class="list-group-item p-0 mr-2"
          v-for="(image, index) in qualification.images"
          :key="image"
          @click="indexGallery = index"
        >
          <v-lazy-image :src="image" width="64" height="64"></v-lazy-image>
        </li>
      </ul>

      <div class="vote-wrapper mt-3" :class="voted ? 'active' : ''">
        <a href="#" @click.prevent="vote()" class="text-title p-1">
          <span class="pr-1">
            {{
            votes | number("0a")
            }}
          </span>
          <span class="pr-1">Util</span>
          <i class="lni lni-thumbs-up"></i>
        </a>
      </div>
    </div>

    <Gallery v-model="indexGallery" :images="qualification.images"></Gallery>
  </div>
</template>

<script>
const Gallery = () => import("~m/common/gallery/Gallery");
const Rate = () => import("~m/common/rate/Rate");

import voteService from "~c/services/user/voteService";

export default {
  components: {
    Gallery,
    Rate
  },
  props: {
    qualification: {
      name: Object,
      default: () => {}
    }
  },
  data() {
    return {
      indexGallery: null,
      voted: this.qualification.voted,
      votes: this.qualification.votes || 0
    };
  },
  methods: {
    report(id) {
      this.$emit("report", id);
    },
    vote() {
      if (!this.$store.getters.isLoggedIn) {
        this.$emit("report");
        return false;
      }

      voteService
        .vote(this.qualification.id)
        .then(response => {
          this.voted = !this.voted;
          this.votes = response.data.vote.total;
        })
        .catch(() => {
          this.$notification(
            "error",
            "Tenemos un problema con procesar tu voto"
          );
        });
    }
  }
};
</script>

<style lang="scss">
li {
  position: relative;

  .profile-information {
    margin: -5px 0 0 0;
  }

  .report-wrapper {
    transition: $transition-base;
    opacity: 0;
    top: 12px !important;
    right: 0 !important;
    position: absolute !important;
    .lni-more-alt {
      transform: rotate(90deg);
    }
  }

  &:hover {
    .report-wrapper {
      transition: $transition-base;
      opacity: 1;
    }
  }

  .emoji {
    width: 18px !important;
    height: 18px !important;
    margin: 0 3px 5px;
  }

  .img-profile {
    width: 48px;
    height: 48px;
    border-radius: $border-radius;
  }

  .images-comments {
    li {
      img {
        width: 64px;
        height: 64px;
        cursor: pointer;
        background: $background-light-grey;
        border-radius: $border-radius;
      }
    }
  }

  .vote-wrapper {
    font-size: $font-size;

    a {
      display: inline-block;
      border-radius: $border-radius;
      transition: $transition-base;
      border: 1px solid transparent;
      text-decoration: none;

      span {
        width: inherit;
      }

      &:hover {
        border: 1px solid $background-light-grey;
        background: $border;
        transition: $transition-base;
      }
    }

    &.active {
      a {
        font-weight: bold;
      }
    }
  }
}
</style>
