<template>
  <div>
    <div class="d-flex align-items-top">
      <div class="mr-auto">
        <h3
          class="h4 f-24"
        >{{qualifications.total | number("0a")}} {{ qualifications.total | pluralize(["Calificación","Calificaciones"]) }}</h3>
      </div>
      <Rate :rate="qualification"></Rate>
    </div>

    <div class="row mt-3 pb-3" v-if="stars.length || difficulties.length">
      <div class="col-md-4" v-if="stars.length">
        <p>Calificación segun usuarios</p>
        <Percentages :percentages="stars" :total="totalStars" indexName="qualification"></Percentages>
      </div>
      <div class="col-md-4" v-if="difficulties.length">
        <p>Dificultad segun calificaciones</p>
        <Percentages :percentages="difficulties" :total="totalDifficulties"></Percentages>
      </div>
    </div>

    <p
      v-if="!$store.getters.isLoggedIn"
      class="text-center mt-4 mb-2"
    >Para poder calificar actividades, necesitas estar logueado</p>

    <div class="text-center pt-3" v-else-if="!$store.getters.isMyProperty(usernameActivity)">
      <a href="#" @click.prevent="openQualificationModal">Escribir calificación</a>
      <New @refresh="refresh"></New>
    </div>

    <QualificationList
      @openLogin="openLogin"
      :hasMore="qualifications.has_more"
      :page="qualifications.current_page"
      :qualifications="qualifications.qualifications"
      :isLoading="isLoading"
      @next="nextPage()"
    ></QualificationList>
  </div>
</template>

<script>
const QualificationList = () => import("./QualificationList");
const New = () => import("./QualificationNew");
const Percentages = () => import("./Percentages");
const Rate = () => import("~m/common/rate/Rate");

import qualificationsService from "~c/services/user/qualificationsService";

export default {
  name: "Calification",
  components: {
    QualificationList,
    New,
    Percentages,
    Rate
  },
  props: {
    qualification: {
      name: String
    },
    total: {},
    hasMore: {
      name: Boolean,
      default: false
    },
    page: {},
    id: {
      name: Number
    },
    usernameActivity: {
      name: String
    }
  },
  data() {
    return {
      qualifications: {
        total: 0,
        has_more: false,
        current_page: 1,
        qualifications: []
      },
      isLoading: false,
      difficulties: [],
      totalDifficulties: 0,
      stars: [],
      totalStars: 0
    };
  },
  methods: {
    openQualificationModal() {
      this.$emit("openQualificationModal");
    },
    openLogin() {
      this.$emit("openLogin");
    },
    nextPage() {
      this.qualifications.current_page += 1;
      this.isLoading = true;
      this.get();
    },
    refresh() {
      this.get(false);
      this.getTotal();
      this.getDifficulties();
      this.getStars();
    },
    get(resetPage = true) {
      if (!resetPage) {
        this.qualifications.current_page = 1;
        this.qualifications.qualifications = [];
      }

      qualificationsService
        .get(this.id, this.qualifications.current_page)
        .then(response => {
          this.qualifications.has_more = response.data.has_more;
          this.qualifications.current_page = response.data.current_page;
          this.qualifications.qualifications = this.qualifications.qualifications.concat(
            response.data.qualifications
          );
        })
        .catch(() => {})
        .finally(() => {
          this.isLoading = false;
        });
    },
    getDifficulties() {
      qualificationsService
        .getDifficulties(this.id)
        .then(response => {
          this.difficulties = response.data.difficulties;
          this.totalDifficulties = this.difficulties.reduce(
            (accumulator, difficulty) => {
              return accumulator + difficulty.total;
            },
            0
          );
        })
        .catch(() => {});
    },
    getStars() {
      qualificationsService
        .getStars(this.id)
        .then(response => {
          this.stars = response.data.stars;
          this.totalStars = this.stars.reduce((accumulator, star) => {
            return accumulator + star.total;
          }, 0);
        })
        .catch(() => {});
    },
    getTotal() {
      qualificationsService
        .getTotal(this.id)
        .then(response => {
          this.qualifications.total = response.data.total;
        })
        .catch(() => {});
    }
  },
  created() {
    this.get();
    this.getDifficulties();
    this.getStars();
    this.getTotal();
  }
};
</script>

<style lang="scss" scoped></style>
