<template>
  <Modal v-model="modalReport" @close="cleanModal">
    <template #content>
      <div class="p-3">
        <h1 class="h4 d-block text-center mb-3">Reportar {{ nameOfTypeReport }}</h1>
        <p class="mb-3">
          Estas a punto de realizar una denuncia a la siguiente
          {{ nameOfTypeReport }}, las denuncias nos ayudan a mantener un sitio
          limpio y de calidad.
        </p>

        <Textarea
          v-model="report.comment"
          :errorMsg="reportErrors.comment"
          label="Comentario"
          :maxlength="255"
        ></Textarea>

        <p href="#" v-for="type in types" :key="type" class="f-14 pt-3">
          <p-radio
            class="p-default p-round"
            color="primary"
            :value="type"
            name="report_type"
            v-model="report.report_type"
          >{{ $t(type) }}</p-radio>
        </p>
        <ErrorMessage :msg="reportErrors.report_type"></ErrorMessage>
        <div class="text-center mt-3">
          <Filled :isLoading="isLoading" @click="reportSubmit" text="Reportar"></Filled>
        </div>
      </div>
    </template>
  </Modal>
</template>
<i18n src="~c/locales/report.json"></i18n>
<script>
const Textarea = () => import("~m/common/input/Textarea");
const Filled = () => import("~m/common/button/Filled");
const Modal = () => import("~m/common/modal/Modal");
const ErrorMessage = () => import("~m/common/input/ErrorMessage");
import reportService from "~c/services/user/reportService";

export default {
  name: "Report",
  components: {
    Filled,
    Textarea,
    Modal,
    ErrorMessage
  },
  props: {
    type: {
      name: String,
      default: ""
    },
    id: {
      name: Number
    }
  },
  data() {
    return {
      modalReport: false,
      isLoading: false,
      entitiesType: {
        activity: "Actividad",
        qualification: "Calificación"
      },
      report: {
        comment: "",
        report_type: ""
      },
      reportErrors: {},
      types: []
    };
  },
  computed: {
    nameOfTypeReport() {
      return this.entitiesType[this.type];
    }
  },
  methods: {
    cleanModal() {
      this.report.comment = "";
      this.report.report_type = "";
    },
    openReport() {
      this.modalReport = true;

      this.getTypeReports();
    },
    getTypeReports() {
      if (!this.types.length) {
        reportService
          .types()
          .then(response => {
            this.types = response.data.types;
          })
          .catch(() => {});
      }
    },
    reportSubmit() {
      this.isLoading = true;

      const formData = this.$formData(this.report);

      reportService
        .store(this.id, this.type, formData)
        .then(() => {
          this.reportErrors = {};
          this.modalReport = false;
          this.report = {
            comment: "",
            report_type: ""
          };
          this.$notification(
            "success",
            "Gracias por tu cooperación, estaremos revisando tu reporte"
          );
        })
        .catch(error => {
          const errorCode = error.response.status;

          switch (errorCode) {
            case 400:
              this.reportErrors = this.$errorHandler(error);
              break;

            case 403:
              this.$notification(
                "warning",
                "Necesitas configurar tu perfil para realizar un reporte"
              );
              break;

            case 429:
              this.$notification(
                "success",
                "Ya generaste un reporte anteriormente, lo estamos revisando"
              );
              break;

            default:
              this.$notification(
                "error",
                "No se pudo realizar el reporte, intentalo nuevamente mas tarde"
              );
              break;
          }

          if (errorCode != 400) {
            this.modalReport = false;
          }
        })
        .finally(() => {
          this.isLoading = false;
        });
    }
  },
  created() {
    this.$parent.$on("reportModal", this.openReport);
  }
};
</script>
<style scoped lang="scss"></style>
