<template>
  <div class="d-inline">
    <social-sharing
      :url="fullUrl"
      :title="title"
      :description="description"
      :quote="quote"
      :twitter-user="user"
      inline-template
      @open="registerEvent"
    >
      <div class="networks d-inline">
        <network class="mr-2" network="linkedin">
          <i class="lni lni-linkedin" title="Compartir en Linkedin"></i>
        </network>
        <network class="mr-2" network="email">
          <i class="lni lni-postcard" title="Compartir por Email"></i>
        </network>
        <network class="mr-2" network="facebook">
          <i class="lni lni-facebook" title="Compartir en Facebook"></i>
        </network>
        <network class="mr-2" network="twitter">
          <i class="lni lni-twitter" title="Compartir en Twitter"></i>
        </network>
        <network class="mr-2" network="whatsapp">
          <i class="lni lni-whatsapp" title="Compartir en Whatsapp"></i>
        </network>
        <network class network="telegram">
          <i class="lni lni-telegram" title="Compartir en Telegram"></i>
        </network>
      </div>
    </social-sharing>
  </div>
</template>
<script>
export default {
  name: "SocialShare",
  computed: {
    fullUrl: function() {
      return window.location.href;
    }
  },
  props: {
    url: {
      type: String
    },
    title: {
      type: String
    },
    description: {
      type: String
    },
    quote: {
      type: String
    },
    user: {
      type: String
    }
  },
  methods: {
    registerEvent(socialNetwork) {
      const activityId = this.$route.params.id;
      this.$gtag.event("share", {
        event_label: `share_${socialNetwork}_activity_${activityId}`
      });
    }
  }
};
</script>
<style lang="scss">
.networks {
  span {
    transition: $transition-base;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      transition: $transition-base;
    }

    &:focus {
      outline: none;
    }

    i {
      border-radius: $border-radius;
      font-size: 18px;
      color: $light;
      padding: 10px;
    }
  }

  .lni-facebook {
    background: $color-facebook;
  }

  .lni-twitter {
    background: $color-twitter;
  }

  .lni-postcard {
    background: $color-email;
  }

  .lni-linkedin {
    background: $color-linkedin;
  }

  .lni-whatsapp {
    background: $color-whatsapp;
  }

  .lni-telegram {
    background: $color-telegram;
  }
}
</style>
