<template>
  <Modal size="lg" v-model="modalQualificationView">
    <template #content>
      <div class="p-3">
        <h1 class="h4 text-center">Vista previa</h1>
        <QualificationList :qualifications="qualifications"></QualificationList>
      </div>
    </template>
  </Modal>
</template>

<script>
  const QualificationList = () =>
    import("~m/public/activity/components/QualificationList");
  const Modal = () => import("~m/common/modal/Modal");

  import qualificationsService from "~c/services/user/qualificationsService";

  export default {
    components: {
      Modal,
      QualificationList,
    },
    data() {
      return {
        modalQualificationView: false,
        qualifications: [],
      };
    },
    methods: {
      openQualificationModal(qualificationId) {
        this.modalQualificationView = true;

        this.getQualification(qualificationId);
      },
      getQualification(qualificationId) {
        qualificationsService
          .show(qualificationId)
          .then((response) => {
            this.qualifications = [response.data.qualification];
          })
          .catch(() => {});
      },
    },
    created: function() {
      this.$parent.$on("openQualificationModal", this.openQualificationModal);
    },
  };
</script>

<style></style>
