<template>
  <Modal v-model="modalReport">
    <template #content>
      <div class="p-3">
        <h1 class="h4 d-block text-center mt-3 mb-3">Procesar reporte</h1>

        <div class="row text-center f-14">
          <div
            class="col-md-4"
            @click="actionSelected = action"
            v-for="action in actions"
            :key="action.id"
          >
            <div :class="actionSelected == action ? 'active' : ''" class="wrapper pt-3 pb-3 m-1">
              <img :src="`/assets/misc/reports/${action}.svg`" width="100" height="100" alt />
              <p class="pt-3">{{ $t(action) }}</p>
            </div>
          </div>
        </div>
        <ErrorMessage :msg="errors.action"></ErrorMessage>
        <div class="w-100 text-center mt-3 mb-3">
          <Filled :isLoading="isLoading" @click="processReport" text="Procesar"></Filled>
        </div>
      </div>
    </template>
  </Modal>
</template>
<i18n>
{
  "es": {
    "activity": "Borrar actividad",
    "qualification": "Borrar calificación",
    "user": "Borrar usuario",
    "nothing": "No hacer nada"
  }
}
</i18n>
<script>
const Modal = () => import("~m/common/modal/Modal");
const Filled = () => import("~m/common/button/Filled");
const ErrorMessage = () => import("~m/common/input/ErrorMessage");
import reportService from "~c/services/admin/reportService";

export default {
  components: {
    Modal,
    Filled,
    ErrorMessage
  },
  data() {
    return {
      modalReport: false,
      id: "",
      type: "",
      activityActions: [],
      activityQualificationActions: [],
      actionSelected: "",
      errors: {},
      isLoading: false
    };
  },
  computed: {
    indexActionByType() {
      return this.type == "activity"
        ? "activityActions"
        : "activityQualificationActions";
    },
    actions() {
      return this.type == "activity"
        ? this.activityActions
        : this.activityQualificationActions;
    }
  },
  methods: {
    openReportModal(id, type) {
      this.modalReport = true;
      this.id = id;
      this.type = type;

      this.getActions(type);
    },
    getActions(type) {
      if (!this[this.indexActionByType].length) {
        reportService.actions(type).then(response => {
          this[this.indexActionByType] = response.data.actions;
        });
      }
    },
    processReport() {
      this.isLoading = true;

      const formData = this.$formData({
        action: this.actionSelected
      });

      reportService
        .process(this.id, formData)
        .then(() => {
          this.$notification("success", "Se proceso correctamente el reporte");
          this.actionSelected = "";
          this.modalReport = false;
          this.$emit("refresh");
        })
        .catch(err => {
          if (err.response.status == 400) {
            this.errors = this.$errorHandler(err);
          } else {
            this.$notification(
              "error",
              "Ocurrio un error al procesar el reporte"
            );
          }
        })
        .finally(() => {
          this.isLoading = false;
        });
    }
  },
  created: function() {
    this.$parent.$on("openReportModal", this.openReportModal);
  }
};
</script>

<style lang="scss" scoped>
.col-md-4 {
  .wrapper {
    transition: $transition-base;
    cursor: pointer;
    border-radius: $border-radius;

    &.active,
    &:hover {
      transition: $transition-base;
      background: $background-light-grey;
    }
  }
}
</style>
