<template>
  <div class="container mb-5 pb-5 text-center">
    <div class="mt-5 position-relative">
      <img src="/assets/misc/not-found.svg" class="img-fluid" width="600" />
      <h1 class="h3 pt-5">Upps, no encontramos lo que buscabas</h1>
      <p class="pt-3">
        <router-link :to="route('public.home')" class="text-primary">Volver al inicio</router-link>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "NotFound",
  created() {
    this.$title("Pagina no encontrada");
  }
};
</script>
