<template>
  <div>
    <h2
      class="h5 pb-3"
    >{{results.total | number("0a")}} {{ results.total | pluralize(['Favorito', 'Favoritos']) }}</h2>
    <Loader v-if="firstLoading" :isLoading="firstLoading"></Loader>
    <ActivitiesList
      v-else-if="results.activities.length"
      :activities="results.activities"
      :hasMore="results.hasMore"
      :page="results.page"
      @next="nextFavoritesPage()"
      @refresh="refresh"
    ></ActivitiesList>

    <Empty title="Todavia no agregaste ninguna actividad a favoritos" v-else></Empty>
  </div>
</template>

<script>
const Loader = () => import("~m/common/misc/Loader");
const ActivitiesList = () => import("~m/common/activities/ActivitiesList");
const Empty = () => import("~m/common/empty/Empty");

import favoriteService from "~c/services/user/favoriteService";

export default {
  name: "Notification",
  components: {
    ActivitiesList,
    Empty,
    Loader
  },
  data() {
    return {
      firstLoading: true,
      isLoading: false,
      results: {
        activities: [],
        hasMore: false,
        page: 1,
        total: 0
      }
    };
  },
  methods: {
    refresh(id) {
      const activities = this.results.activities.filter(
        activity => id != activity.id
      );

      this.results.activities = activities;

      if (!activities.length) {
        this.results.page = 1;
        this.get();
      }

      this.getTotalFavorites();
    },
    nextFavoritesPage() {
      this.results.page = this.results.page + 1;

      this.get();
    },
    getTotalFavorites() {
      favoriteService
        .getTotal()
        .then(response => {
          this.results.total = response.data.total;
        })
        .catch(() => {});
    },
    get() {
      this.isLoading = true;

      favoriteService
        .all(this.results.page)
        .then(response => {
          this.results.activities = this.results.activities.concat(
            response.data.favorites
          );
          this.results.page = response.data.current_page;
          this.results.hasMore = response.data.has_more;
        })
        .catch(() => {})
        .finally(() => {
          this.isLoading = false;
          this.firstLoading = false;
        });
    }
  },
  created() {
    this.$title("Favoritos");

    this.get();
    this.getTotalFavorites();
  }
};
</script>

<style lang="scss" scoped>
</style>
