<template>
  <div>
    <div v-if="$store.getters.isAdmin">
      <Loader :isLoading="isLoadingUsers"></Loader>
      <div class="d-flex">
        <div class="mr-auto">
          <h2 class="h5 pb-3">Usuarios</h2>
        </div>
        <div>
          <a href="#" @click.prevent="openModal()">
            <i class="lni lni-circle-plus f-20 text-text"></i>
          </a>
        </div>
      </div>

      <b-table :fields="fields" striped responsive :items="results.users">
        <template v-slot:table-caption>
          <Pagination
            @prev="prevPage"
            @next="nextPage"
            :isLoadingPrevPage="isLoadingPrevPage"
            :isLoadingNextPage="isLoadingNextPage"
            :page="results.page"
            :hasMore="results.hasMore"
          ></Pagination>
        </template>

        <template v-slot:cell(name)="data">{{ data.item.role.name }}</template>

        <template v-slot:cell(username)="data">
          <span v-if="!data.item.profile.username">Sin definir</span>
          <router-link
            v-else
            :to="
            route('public.profile', { username: data.item.profile.username })
          "
            target="_blank"
            class="text-primary"
          >{{ data.item.profile.username }}</router-link>
        </template>

        <template v-slot:cell(actions)="row">
          <Filled @click="openDeleteModal(row.item.email)">
            <template #content>
              <i class="lni lni-trash" title="Eliminar"></i>
            </template>
          </Filled>
        </template>
      </b-table>
      <CreateUser @refresh="refresh"></CreateUser>
      <DeleteUser @refresh="refresh"></DeleteUser>
    </div>
    <div v-else>
      <NotFoundContent></NotFoundContent>
    </div>
  </div>
</template>
<script>
const Pagination = () => import("~m/common/misc/Pagination");
const CreateUser = () => import("./components/CreateUser");
const DeleteUser = () => import("./components/DeleteUser");
const Filled = () => import("~m/common/button/Filled");
const Loader = () => import("~m/common/misc/Loader");
const NotFoundContent = () =>
  import("~m/common/notfound/components/NotFoundContent");

import adminService from "~c/services/admin/userService";

export default {
  name: "User",
  components: {
    Pagination,
    CreateUser,
    Filled,
    DeleteUser,
    NotFoundContent,
    Loader
  },
  data() {
    return {
      isLoadingUsers: true,
      isLoadingPrevPage: false,
      isLoadingNextPage: false,
      results: {
        users: [],
        hasMore: false,
        page: 1
      },
      fields: [
        {
          key: "email",
          sortable: false,
          thClass: "f-14  text-text text-center",
          tdClass: "f-14  text-title text-center"
        },
        {
          key: "username",
          label: "Usuario",
          sortable: false,
          thClass: "f-14  text-text text-center",
          tdClass: "f-14  text-title text-center"
        },
        {
          key: "name",
          label: "Rol",
          sortable: false,
          thClass: "f-14  text-text text-center",
          tdClass: "f-14  text-title text-center"
        },
        {
          key: "actions",
          label: "Acciones",
          sortable: false,
          thClass: "f-14  text-text text-center",
          tdClass: "f-14  text-title text-center"
        }
      ]
    };
  },
  methods: {
    openDeleteModal(email) {
      this.$emit("openDeleteModal", email);
    },
    openModal() {
      this.$emit("openCreateModal", true);
    },
    prevPage() {
      this.results.page -= 1;
      this.isLoadingPrevPage = true;
      this.getUsers();
    },
    nextPage() {
      this.results.page += 1;
      this.isLoadingNextPage = true;
      this.getUsers();
    },
    refresh() {
      this.results.page = 1;
      this.getUsers();
    },
    getUsers() {
      adminService
        .users(this.results.page)
        .then(response => {
          this.results.users = response.data.users;
          this.results.page = response.data.current_page;
          this.results.hasMore = response.data.has_more;
        })
        .catch(() => {})
        .finally(() => {
          this.isLoadingUsers = false;
          this.isLoadingPrevPage = false;
          this.isLoadingNextPage = false;
        });
    }
  },
  created() {
    if (this.$store.getters.isAdmin) {
      this.$title("Usuarios");
      this.getUsers();
    }
  }
};
</script>

<style></style>
