<template>
  <div>
    <div v-if="!$store.getters.isSocial">
      <h2 class="h5 pb-4">Contraseña</h2>

      <div class="row">
        <div class="col-md-6">
          <PasswordInput
            data-vv-as="contraseña actual"
            name="passwordInputs.password"
            v-validate="'required|min:6|max:30'"
            label="Contraseña actual"
            v-model="passwordInputs.password"
            :errorMsg="
              vErrors.first('passwordInputs.password') ||
                passwordInputsErrors.password
            "
          ></PasswordInput>

          <div class="clearfix pb-3"></div>

          <PasswordInput
            data-vv-as="nueva contraseña"
            name="passwordInputs.new_password"
            v-validate="'required|min:6|max:30'"
            label="Nueva contraseña"
            :description="$t('description')"
            v-model="passwordInputs.new_password"
            :errorMsg="
              vErrors.first('passwordInputs.new_password') ||
                passwordInputsErrors.new_password
            "
          ></PasswordInput>

          <div class="clearfix pb-3"></div>
          <PasswordInput
            data-vv-as="confirmar contraseña"
            name="passwordInputs.new_password_confirmation"
            v-validate="'required|min:6|max:30'"
            label="Confirmar contraseña"
            v-model="passwordInputs.new_password_confirmation"
            :errorMsg="
              vErrors.first('passwordInputs.new_password_confirmation') ||
                passwordInputsErrors.new_password_confirmation
            "
          ></PasswordInput>
        </div>
      </div>
      <Filled :isLoading="isLoading" @click="updatePassword" text="Guardar" class="mt-3"></Filled>
    </div>
    <div v-else>
      <NotFoundContent></NotFoundContent>
    </div>
  </div>
</template>
<i18n src="~c/locales/password.json"></i18n>
<script>
const PasswordInput = () => import("~m/common/input/Password");
const Filled = () => import("~m/common/button/Filled");
const NotFoundContent = () =>
  import("~m/common/notfound/components/NotFoundContent");

import userService from "~c/services/user/userService";

export default {
  components: {
    PasswordInput,
    Filled,
    NotFoundContent
  },
  data() {
    return {
      isLoading: false,
      passwordInputs: {
        password: "",
        new_password: "",
        new_password_confirmation: ""
      },
      passwordInputsErrors: {}
    };
  },
  methods: {
    updatePassword() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          this.isLoading = true;

          const formData = this.$formData(this.passwordInputs);

          userService
            .password(formData)
            .then(() => {
              this.passwordInputsErrors = {};

              this.$notification(
                "success",
                "La contraseña ha sido actualizada"
              );
            })
            .catch(error => {
              if (error.response.status != 400) {
                this.$notification(
                  "error",
                  "Tenemos un problema con el cambio de tu contraseña"
                );
              } else {
                this.passwordInputsErrors = this.$errorHandler(error);
              }
            })
            .finally(() => {
              this.isLoading = false;
            });
        }
      });
    }
  },
  created() {
    this.$title("Cambiar contraseña");
  }
};
</script>

<style></style>
