<template>
  <b-modal
    :size="size"
    v-model="statusModal"
    no-close-on-backdrop
    hide-footer
    hide-header
    @close="close()"
  >
    <a v-if="!disableClose" href="#" class="close-button" @click.prevent="close()">
      <i class="lni lni-close"></i>
    </a>
    <slot name="content"></slot>
  </b-modal>
</template>

<script>
export default {
  props: {
    size: {
      name: String
    },
    value: {
      name: Boolean,
      default: false
    },
    disableClose: {
      name: Boolean,
      default: false
    }
  },
  data() {
    return {
      statusModal: false
    };
  },
  watch: {
    value(val) {
      this.statusModal = val;
    }
  },
  methods: {
    close() {
      this.$emit("close");
      this.$emit("input", !this.statusModal);
    }
  },
  created() {
    this.statusModal = this.value;
  }
};
</script>

<style lang="scss" scoped>
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
  color: $dark;
}
</style>
