<template>
  <div>
    <Loader :isLoading="isLoadingProfile"></Loader>
    <div v-if="!isLoadingProfile">
      <div class="d-flex aligns-items-top">
        <div class="mr-auto">
          <h2 class="h5 pb-3">Perfil</h2>
        </div>
        <div>
          <a
            href="#"
            class="text-text"
            v-b-tooltip.hover.left="'Borrar mi cuenta'"
            @click.prevent="openDeleteAccount"
          >
            <i class="lni lni-trash"></i>
          </a>
        </div>
      </div>

      <div class="position-relative">
        <div
          :class="newImagePortrait ? 'active' : ''"
          class="img-portrait border-radius position-relative"
          :style="
            `background: url(${imagePortrait}) no-repeat center center / cover`
          "
        >
          <div class="error-image" v-if="profileErrors.portrait_image">
            <ErrorMessage
              :isImage="true"
              msg="!"
              v-b-tooltip.hover.left="profileErrors.portrait_image"
            ></ErrorMessage>
          </div>

          <div class="upload-container">
            <Filled
              color="light"
              @click="triggerInput('portrait_image')"
              v-show="!newImagePortrait"
            >
              <template #content>
                <i class="lni lni-camera"></i>
                Subir
              </template>
            </Filled>

            <Filled color="light" v-show="newImagePortrait" @click="deleteImage('portrait_image')">
              <template #content>
                <i class="lni lni-trash"></i>
                Eliminar
              </template>
            </Filled>
          </div>
        </div>

        <div class="d-flex">
          <div
            :class="newImageProfile ? 'active' : ''"
            class="img-profile position-relative ml-4 border-radius"
            :style="
              `background: url(${imageProfile}) no-repeat center center / cover`
            "
          >
            <div class="error-image" v-if="profileErrors.profile_image">
              <ErrorMessage
                :isImage="true"
                msg="!"
                v-b-tooltip.hover.right="profileErrors.profile_image"
              ></ErrorMessage>
            </div>

            <div class="upload-container">
              <Filled
                color="light"
                @click="triggerInput('profile_image')"
                v-show="!newImageProfile"
              >
                <template #content>
                  <i class="lni lni-camera"></i>
                  Subir
                </template>
              </Filled>

              <Filled color="light" v-show="newImageProfile" @click="deleteImage('profile_image')">
                <template #content>
                  <i class="lni lni-trash"></i>
                  Eliminar
                </template>
              </Filled>
            </div>
          </div>
          <div class="pl-3 pt-2 mr-auto">
            <p class="h5 text-title">
              {{ profile.full_name }}
              <Rate :rate="profile.user_qualification"></Rate>
            </p>
            <p class="text-secondary">{{ profile.username }}</p>
            <p class="f-14">{{ date(profile.created_at) }}</p>
          </div>
          <div class="pt-2">
            <ul class="statistics-user list-inline">
              <li v-b-tooltip.hover.bottom="'Actividades creadas'" class="list-inline-item mr-3">
                <p class="title">Actividades</p>
                <p>{{ profile.activities_count || 0 | number("0a") }}</p>
              </li>
              <li
                v-b-tooltip.hover.bottom="'Calificaciones realizadas'"
                class="list-inline-item mr-3"
              >
                <p class="title">Calificaciones</p>
                <p>{{ profile.qualifications_count | number("0a") }}</p>
              </li>
              <li v-b-tooltip.hover.bottom="'Seguidores'" class="list-inline-item mr-3">
                <p class="title">Seguidores</p>
                <p>{{ profile.followers_count | number("0a") }}</p>
              </li>
              <li v-b-tooltip.hover.bottom="'Siguiendo'" class="list-inline-item">
                <p class="title">Siguiendo</p>
                <p>{{ profile.followings_count | number("0a") }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6">
          <InputText
            label="Como queres que te llamemos?"
            data-vv-as="nombre"
            name="profile.full_name"
            :maxlength="20"
            v-validate="'required'"
            v-model="profile.full_name"
            description="Este es el nombre que usaras a la hora de escribir opiniones y crear actividades"
            :errorMsg="
              vErrors.first('profile.full_name') || profileErrors.full_name
            "
            :requiredLabel="true"
          ></InputText>

          <div class="clearfix pb-3"></div>
          <InputText
            label="Usuario"
            :maxlength="20"
            v-validate="'required'"
            v-model="profile.username"
            data-vv-as="usuario"
            name="profile.username"
            description="Podes usar letras, numeros, (.-) desde 3 a 20 caracteres"
            :errorMsg="
              vErrors.first('profile.username') || profileErrors.username
            "
            :requiredLabel="true"
          ></InputText>
        </div>
      </div>

      <input
        class="d-none"
        type="file"
        ref="portrait_image"
        accept="image/*"
        @change="onFileChange('portrait_image')"
      />
      <input
        class="d-none"
        type="file"
        ref="profile_image"
        accept="image/*"
        @change="onFileChange('profile_image')"
      />

      <Filled :isLoading="profileUpdateIsLoading" @click="updateProfile" class="mt-3">
        <template #content>
          <span>Guardar</span>
        </template>
      </Filled>

      <AccountDelete></AccountDelete>
    </div>
  </div>
</template>

<script>
const Filled = () => import("~m/common/button/Filled");
const InputText = () => import("~m/common/input/InputText");
const AccountDelete = () => import("./components/AccountDelete");
const ErrorMessage = () => import("~m/common/input/ErrorMessage");
const Rate = () => import("~m/common/rate/Rate");
const Loader = () => import("~m/common/misc/Loader");

import profileService from "~c/services/user/profileService";

export default {
  name: "Information",
  components: {
    AccountDelete,
    Filled,
    InputText,
    ErrorMessage,
    Rate,
    Loader
  },
  data() {
    return {
      profile: {
        username: "",
        full_name: "",
        portrait_url: "",
        created_at: "",
        profile_image_url: "",
        activities_count: 0,
        qualifications_count: 0,
        followers_count: 0,
        followings_count: 0,
        user_qualification: 0,
        old_portrait_url: "",
        old_profile_image_url: ""
      },
      profileErrors: {},
      isLoadingProfile: true,
      profileUpdateIsLoading: false,
      newImagePortrait: false,
      newImageProfile: false,
      profile_file: null,
      portrait_file: null
    };
  },
  computed: {
    imageProfile() {
      return (
        this.profile.profile_image_url || this.profile.old_profile_image_url
      );
    },
    imagePortrait() {
      return this.profile.portrait_url || this.profile.old_portrait_url;
    }
  },
  methods: {
    triggerInput(type) {
      this.$refs[type].click();
    },
    async onFileChange(type) {
      const file = this.$refs[type].files[0];

      if (file && file.type.match(/image/)) {
        let keyImage, keyNewImage, width, height, keyFile;

        if (type == "portrait_image") {
          keyImage = "portrait_url";
          keyNewImage = "newImagePortrait";
          keyFile = "portrait_file";
        } else {
          keyImage = "profile_image_url";
          keyNewImage = "newImageProfile";
          keyFile = "profile_file";
          width = 250;
          height = 250;
        }

        const imageFile = await this.$resizeImage(file, width, height);

        this[keyNewImage] = true;
        this.profile[keyImage] = imageFile.background;
        this[keyFile] = imageFile.file;
      }
    },
    deleteImage(type) {
      if (type == "portrait_image") {
        this.profile.portrait_url = "";
        this.newImagePortrait = false;
        this.$refs.portrait_image.value = "";
      } else {
        this.profile.profile_image_url = "";
        this.newImageProfile = false;
        this.$refs.profile_image.value = "";
      }
    },
    openDeleteAccount() {
      this.$emit("openDeleteAccount", true);
    },
    updateProfile() {
      this.$validator.validateAll().then(() => {
        this.profileUpdateIsLoading = true;

        let formDataToObject = {
          full_name: this.profile.full_name,
          username: this.profile.username
        };

        if (this.profile_file) {
          formDataToObject.profile_image = this.profile_file;
        }

        if (this.portrait_file) {
          formDataToObject.portrait_image = this.portrait_file;
        }

        const formData = this.$formData(formDataToObject);

        profileService
          .update(formData)
          .then(() => {
            this.profileErrors = {};
            this.$notification("success", "Tu perfil ha sido actualizado");
            this.$store.commit("updateUser");
          })
          .catch(error => {
            if (error.response.status == 400) {
              this.profileErrors = this.$errorHandler(error);
            } else {
              this.$notification("error", "No pudimos actualizar tu perfil");
            }
          })
          .finally(() => {
            this.profileUpdateIsLoading = false;
          });
      });
    },
    getProfile() {
      profileService
        .me()
        .then(response => {
          this.profile = response.data.profile;
          this.profile.full_name = response.data.profile.full_name;
          this.profile.username = response.data.profile.username;
          this.profile.old_portrait_url = this.profile.portrait_url;
          this.profile.old_profile_image_url = this.profile.profile_image_url;
        })
        .catch(() => {})
        .finally(() => {
          this.isLoadingProfile = false;
        });
    }
  },
  created() {
    this.$title("Perfil");
    this.getProfile();
  }
};
</script>

<style lang="scss" scoped>
.img-profile,
.img-portrait {
  width: 150px;
  height: 150px;
  transition: $transition-base;
  background: $background-light-grey;
}

.img-profile {
  margin: -70px 0 0 0;
}

.img-portrait {
  width: 100%;
  height: 300px;
  transition: $transition-base;
}

.upload-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.error-image {
  position: absolute;
  top: 5px;
  right: 5px;
}

.statistics-user {
  text-align: center;

  li {
    .title {
      font-size: $font-size;
    }
  }
}
</style>
