<template>
  <div v-if="!$store.getters.isLoggedIn">
    <div class="container-fluid position-relative mt-5 pb-5">
      <div class="container position-absolute t-40 l-0 r-0">
        <h5 class="f-24 mb-1 text-white">¿ Brindas alguna actividad ?</h5>
        <p class="mt-3 mb-3 text-white">
          Podras publicar tus actividades en nuestro sitio de
          <br />manera gratuita
        </p>
        <router-link :to="route('public.users.login')">
          <Filled text="Ingresar"></Filled>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
const Filled = () => import("~m/common/button/Filled");

export default {
  name: "Banner",
  components: {
    Filled
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.container-fluid {
  height: 400px;
  background: url(/assets/backgrounds/banner.jpg) no-repeat center center /
    cover;
}
</style>
