<template>
  <div>
    <Banner @openLogin="openLogin" />
    <footer class="container-fluid pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p class="mb-2 text-title">Enlaces</p>
            <ul class="list-unstyled f-14">
              <li class="pb-1">
                <router-link class="text-text" :to="route('public.home')">Home</router-link>
              </li>
              <li class="pb-1">
                <router-link class="text-text" :to="route('public.activities.search')">Actividades</router-link>
              </li>
              <li>
                <router-link class="text-text" :to="route('public.faq')">Faq</router-link>
              </li>
              <li>
                <router-link class="text-text" :to="route('public.terms')">Terminos</router-link>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <p class="mb-2 text-title">Redes sociales</p>
            <ul class="list-unstyled f-14">
              <li class="pb-1">
                <router-link class="text-text" :to="route('public.home')">Facebook</router-link>
              </li>
              <li class="pb-1">
                <router-link class="text-text" :to="route('public.activities.search')">Instagram</router-link>
              </li>
            </ul>
          </div>

          <div class="col-md-4">
            <p class="mb-2 text-title">Legal</p>
            <p class="f-14 credits">
              © 2020
              <span class="font-weight-bold">Traveleala</span> -. Todos los
              derechos reservados
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
const Banner = () => import("./Banner");

export default {
  name: "Footer",
  components: {
    Banner
  },
  methods: {
    openLogin() {
      this.$emit("openLogin");
    }
  }
};
</script>
<style scoped lang="scss">
footer {
  background: $background-light-grey;
}
</style>
