<template>
  <div>
    <h2 class="h5 pb-3">Estadisticas como creador de actividades</h2>
    <div class="row statistics">
      <div
        class="col-md-4"
        :class="selectedEntity == 'activities' ? 'active' : ''"
        @click="chartOf('activities')"
      >
        <div class="wrapper pt-5 pb-5 m-1">
          <i class="lni lni-direction-alt pb-3"></i>
          <Spinner color="secondary" v-if="activitiesAreLoading"></Spinner>
          <p v-else class="f-24">{{ activitiesTotal | number("0a") }}</p>
          <p>Actividades</p>
        </div>
      </div>

      <div
        class="col-md-4"
        :class="selectedEntity == 'qualifications' ? 'active' : ''"
        @click="chartOf('qualifications')"
      >
        <div class="wrapper pt-5 pb-5 m-1">
          <i class="lni lni-pencil-alt pb-3"></i>
          <Spinner color="secondary" v-if="qualificationsAreLoading"></Spinner>
          <p v-else class="f-24">{{ qualificationsTotal | number("0a") }}</p>
          <p>Reseñas</p>
        </div>
      </div>

      <div
        class="col-md-4"
        :class="selectedEntity == 'qualification' ? 'active' : ''"
        @click="chartOf('qualification')"
      >
        <div class="wrapper pt-5 pb-5 m-1">
          <i class="lni lni-star pb-3"></i>
          <Spinner color="secondary" v-if="qualificationIsLoading"></Spinner>
          <p v-else class="f-24">{{ qualificationTotal }}</p>
          <p>Calificación</p>
        </div>
      </div>
    </div>

    <div class="h5 d-block pt-3 pb-3">
      <span class="d-inline-block mr-2">{{ title }}</span>
      <Year class="d-inline-block" v-model="year"></Year>
    </div>

    <chart width="1000" height="400" id="chart1" :data="data"></chart>
  </div>
</template>

<script>
const Chart = () => import("~m/common/chart/Chart");
const Spinner = () => import("~m/common/misc/Spinner");
const Year = () => import("../../common/Year");

import activityService from "~c/services/user/activityService";
import qualificationService from "~c/services/user/qualificationService";
import qualificationsService from "~c/services/user/qualificationsService";
import buildChartMonths from "../../helpers/buildChartMonths";

export default {
  name: "Panel",
  components: {
    Chart,
    Spinner,
    Year
  },
  data() {
    return {
      activitiesTotal: 0,
      qualificationsTotal: 0,
      qualificationTotal: 0,
      activitiesAreLoading: true,
      qualificationsAreLoading: true,
      qualificationIsLoading: true,
      title: "",
      titles: {
        activities: "Actividades creadas por mes",
        qualifications: "Calificaciones recibidas por mes",
        qualification: "Reputación por mes"
      },
      data: {},
      dataEntity: {},
      selectedEntity: "",
      year: new Date().getFullYear()
    };
  },
  watch: {
    year(val) {
      this.year = val;
      this.chartOf(this.selectedEntity);
    }
  },
  methods: {
    async chartOf(entity) {
      if (this.selectedEntity == entity) {
        return;
      }

      this.title = this.titles[entity];
      this.selectedEntity = entity;

      if (this.dataEntity[entity]) {
        this.data = this.dataEntity[entity];
        return;
      }

      let data = [];
      switch (entity) {
        case "activities":
          data = await activityService
            .perMonth(this.year)
            .then(response => response.data.activities)
            .catch(() => {});
          break;

        case "qualifications":
          data = await qualificationsService
            .perMonth(this.year)
            .then(response => response.data.qualifications)
            .catch(() => {});
          break;

        case "qualification":
          data = await qualificationService
            .perMonth(this.year)
            .then(response => response.data.qualifications)
            .catch(() => {});
          break;
      }

      this.dataEntity[entity] = buildChartMonths(data || []);
      this.data = this.dataEntity[entity];
    },
    getTotalActivities() {
      activityService
        .total()
        .then(response => {
          this.activitiesTotal = response.data.total;
        })
        .catch(() => {})
        .finally(() => {
          this.activitiesAreLoading = false;
        });
    },
    getTotalQualifications() {
      qualificationsService
        .total()
        .then(response => {
          this.qualificationsTotal = response.data.total;
        })
        .catch(() => {})
        .finally(() => {
          this.qualificationsAreLoading = false;
        });
    },
    getQualification() {
      qualificationService
        .total()
        .then(response => {
          this.qualificationTotal = response.data.total;
        })
        .catch(() => {})
        .finally(() => {
          this.qualificationIsLoading = false;
        });
    }
  },
  created() {
    this.$title("Panel");

    this.getTotalActivities();
    this.getTotalQualifications();
    this.getQualification();
    this.chartOf("activities");
  }
};
</script>

<style lang="scss" scoped>
.statistics {
  text-align: center;

  .col-md-4 {
    .wrapper {
      border-radius: $border-radius;
      cursor: pointer;
      transition: $transition-base;

      .lni {
        color: $primary;
        font-size: 36px;
      }
    }

    &:hover .wrapper,
    &.active .wrapper {
      transition: $transition-base;
      background: $background-light-grey;
    }
  }
}
</style>
