<template>
  <small v-if="description" class="f-13 d-block">{{description}}</small>
</template>

<script>
export default {
  props: {
    description: {
      name: String,
      default: ""
    }
  }
};
</script>

<style>
</style>