<template>
  <span :class="isImage ? 'error-in-image' : ''">{{ msg }}</span>
</template>

<script>
export default {
  props: {
    msg: {
      name: String
    },
    isImage: {
      name: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
span {
  font-size: $font-size;
  color: $danger;
}

.error-in-image {
  background: $danger;
  width: 18px;
  height: 18px;
  line-height: 20px;
  display: block;
  text-align: center;
  border-radius: $border-radius;
  color: $light !important;
  font-weight: bold !important;
  font-size: 16px !important;
  cursor: default;
}
</style>
