<template>
  <InputText
    :label="label"
    :requiredLabel="requiredLabel"
    type="number"
    :value="value"
    :description="description"
    v-on:input="updateValue($event)"
    :errorMsg="errorMsg"
  ></InputText>
</template>

<script>
const InputText = () => import("./InputText");
// v-mask="'#####'"
export default {
  name: "Price",
  components: {
    InputText
  },
  props: {
    value: {
      default: ""
    },
    description: {
      type: String,
      default: ""
    },
    label: {
      type: String,
      default: ""
    },
    requiredLabel: {
      type: Boolean,
      default: false
    },
    errorMsg: {
      type: String,
      default: ""
    }
  },
  methods: {
    updateValue(value) {
      this.$emit("input", value);
    }
  }
};
</script>

<style lang="scss" scoped></style>
