<template>
  <div>
    <Label :label="label" :requiredLabel="requiredLabel"></Label>
    <b-form-input
      :novalidate="true"
      :type="type"
      :value="value"
      :minlength="minlength"
      :maxlength="maxlength"
      :placeholder="placeholder"
      v-on:input="updateValue($event)"
      :autocomplete="'off'"
    ></b-form-input>
    <Description :description="description"></Description>
    <ErrorMessage :msg="errorMsg"></ErrorMessage>
  </div>
</template>

<script>
const Description = () => import("./Description");
const Label = () => import("./Label");
const ErrorMessage = () => import("./ErrorMessage");

export default {
  name: "Name",
  components: {
    Label,
    ErrorMessage,
    Description
  },
  props: {
    value: {
      default: ""
    },
    type: {
      type: String,
      default: "text"
    },
    description: {
      type: String,
      default: ""
    },
    placeholder: {
      type: String,
      default: ""
    },
    label: {
      type: String,
      default: ""
    },
    requiredLabel: {
      type: Boolean,
      default: false
    },
    minlength: {
      type: Number,
      default: 255
    },
    maxlength: {
      type: Number,
      default: 255
    },
    errorMsg: {
      type: String,
      default: ""
    }
  },
  methods: {
    updateValue(value) {
      this.$emit("input", value);
    }
  }
};
</script>

<style lang="scss" scoped>
.input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
</style>
