<template>
  <p class="f-14 text-title" v-if="label">
    {{ label }}
    <span v-if="requiredLabel" class="font-weight-bold">*</span>
  </p>
</template>

<script>
export default {
  props: {
    label: {
      default: ""
    },
    requiredLabel: {
      name: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
p {
  span {
    color: $danger;
  }
}
</style>