<template>
  <div>
    <InputText
      :label="label"
      :requiredLabel="requiredLabel"
      type="password"
      :minlength="6"
      :maxlength="30"
      :description="description"
      v-on:input="updateValue($event)"
      :errorMsg="errorMsg"
    ></InputText>
  </div>
</template>

<script>
const InputText = () => import("./InputText");

export default {
  name: "Name",
  components: {
    InputText
  },
  props: {
    description: {
      type: String,
      default: ""
    },
    label: {
      type: String,
      default: ""
    },
    requiredLabel: {
      type: Boolean,
      default: true
    },
    errorMsg: {
      type: String,
      default: ""
    }
  },
  methods: {
    updateValue(value) {
      this.$emit("input", value);
    }
  }
};
</script>
