<template>
  <div>
    <Label :label="label" :requiredLabel="requiredLabel"></Label>
    <b-form-select
      :options="optionsFake"
      class="select"
      :label="label"
      type="number"
      :value="value"
      v-on:input="updateValue($event)"
    ></b-form-select>
    <Description :description="description"></Description>
    <ErrorMessage :msg="errorMsg"></ErrorMessage>
  </div>
</template>

<script>
const Description = () => import("./Description");
const ErrorMessage = () => import("./ErrorMessage");
const Label = () => import("./Label");

export default {
  components: {
    Label,
    ErrorMessage,
    Description
  },
  props: {
    value: {
      default: null
    },
    options: {
      type: Array,
      default: () => []
    },
    description: {
      type: String,
      default: ""
    },
    label: {
      type: String,
      default: ""
    },
    requiredLabel: {
      type: Boolean,
      default: false
    },
    errorMsg: {
      type: String,
      default: ""
    }
  },
  methods: {
    updateValue(value) {
      this.$emit("input", value);
    }
  },
  created() {
    this.optionsFake = this.options;
  }
};
</script>

<style lang="scss" scoped>
.select {
  font-size: 14px !important;
  color: $dark !important;
  background: $light;
  text-transform: capitalize;
}
</style>
