<template>
  <div>
    <Label :label="label" :requiredLabel="requiredLabel"></Label>
    <b-form-textarea
      type="textarea"
      class="textarea"
      :value="value"
      :placeholder="placeholder"
      :maxlength="maxlength"
      :rows="rows"
      max-rows="8"
      :no-resize="true"
      v-on:input="updateValue($event)"
    ></b-form-textarea>
    <Description :description="description"></Description>
    <ErrorMessage :msg="errorMsg"></ErrorMessage>
  </div>
</template>

<script>
const Description = () => import("./Description");
const Label = () => import("./Label");
const ErrorMessage = () => import("./ErrorMessage");

export default {
  components: {
    Label,
    ErrorMessage,
    Description
  },
  props: {
    value: {
      type: String,
      default: ""
    },
    description: {
      type: String,
      default: ""
    },
    placeholder: {
      type: String,
      default: ""
    },
    rows: {
      type: Number,
      default: 5
    },
    maxlength: {
      type: Number,
      default: 255
    },
    label: {
      type: String,
      default: ""
    },
    requiredLabel: {
      type: Boolean,
      default: false
    },
    errorMsg: {
      type: String,
      default: ""
    }
  },
  methods: {
    updateValue(value) {
      this.$emit("input", value);
    }
  }
};
</script>

<style lang="scss" scoped>
.textarea {
  font-size: $font-size;
  color: $dark !important;
  overflow-y: auto !important;
}
</style>
