// Bootstrap
$primary: #277b87;
$secondary: #ed9004;
$success: #388e3c;
$info: #2196f3;
$warning: #f57c00;
$danger: #f44336;
//Text
$font-family-sans-serif-sans-serif: "Varela";
$font-family-sans-serif: $font-family-sans-serif-sans-serif;
$font-family-monospace: $font-family-sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-icons:"LineIcons";
$light:#fff;
$dark: #333333;
$body-color:#474747;
// Colors
$color-heart: #f7575c;
// Backgrounds
$background-light-grey: #f3f3f3;
$border: #ced4da;
$shadow-image: rgba( $color: #000000, $alpha: 0.5, );
// Library checkboxs
$pretty--color-primary: $primary;
// Transitions
$transition-base: all .5s ease-in-out !default;
// Border radius
$border-radius: 0.125rem;
//Shadows
$box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
0 4px 15px 0 rgba(0, 0, 0, 0.15);
// Fonts
$font-size:14px;
// Social networks
$color-email: #f9ca24;
$color-gmail: #c71610;
$color-facebook: #3b5998;
$color-linkedin: #0e76a8;
$color-pinterest: #c8232c;
$color-reddit: #f64404;
$color-skype: #00aff0;
$color-telegram: #0088cc;
$color-twitter: #00acee;
$color-whatsapp: #075e54;
$color-instagram: #e1306c;